[2021-10-10 00:56] nishmeht7 opened #326 "Slider doesn't work on Android Navigation Drawer"
## Environment

## Description

I've got a brightness slider on my app'ss navigation drawer, I'm able to use it without any issues on iOS but the slider itself doesn't work on Android.

On Android, the slider only works when dragged with two fingers, tap to seek also works.
However when I try dragging using one finger it doesn't work.
I've created a snack below to reproduce this issue, any ideas w

[2021-10-11 06:48] centotaure commented on #325
It's works thanks a lot !

[2021-10-11 06:48] #325 closed

[2021-10-11 09:38] amritanshMedwhiz opened #327 "Getting error of view.isAccessibilityFocused() && Build.VERSION.SDK_INT >= Build.VERSION_CODES.R"
## Environment
/Users/xyz/xyzz/xyzzz-app/node_modules/@react-native-community/slider/android/src/main/java/com/reactnativecommunity/slider/ReactSliderManager.java:152: error: cannot find symbol
    if (view.isAccessibilityFocused() && Build.VERSION.SDK_INT >= Build.VERSION_CODES.R) {
                                                                                     ^
  symbol:   variable R
  loc

[2021-10-11 22:48] BartoszKlonowski commented on #326
Hello @nishmeht7, thank you for reporting that and providing me with an example.
Two fingers are required to slide the `<Slider/>` on the Android when *Accessibility* is turned on, but I don't see it in the provided example of yours.
Second thing that comes to my mind is the issue with parent scrolled element consuming the sliding on `<Slider/>`, just like #296.
I will try to take a deeper look in

[2021-10-12 15:03] #327 closed

[2021-10-13 08:00] Tring-Karunamoorthy opened #330 "Invariant Violation: requireNativeComponent: "RNCSlider" was not found in the UIManager."
I am getting the following import error on only tvos devices.
**`Invariant Violation: requireNativeComponent: "RNCSlider" was not found in the UIManager.`**

[2021-10-13 09:48] BartoszKlonowski commented on #226
Closing due to lack of author's response.

[2021-10-14 13:51] BartoszKlonowski commented on #214
Closing due to lack of response from an author and no reproduction.

[2021-10-14 13:51] #214 closed

[2021-10-14 17:09] colinta opened #332 "tapToSeek not calling `onValueChanged` or `onSlidingComplete`"
I read https://github.com/callstack/react-native-slider/issues/252 and it sounds very similar.

I'm using version 4.1.3

## Environment

[code]
## Description

https://user-images.githubusercontent.com/27570/137363127-d19a5082-4b3f-49e0-9de9-100c53d7561f.mov

## Reproducible Demo

Another bug I found was that updating the value using `onValueChange` resulted in lots of jittering, but I solved by u

[2021-10-14 19:42] BartoszKlonowski commented on #330
Hello @Karunamoorthy-tringapps, thanks for bringing this up!
It looks like we're still based on the previous support for tvOS of *react-native* while it has been deprecated with version 0.62.
This will need to be revisited with the usage of [react-native-tvos](https://github.com/react-native-tvos/react-native-tvos), but I'm afraid this will definitely require more time.
Please be patient, or feel

[2021-10-15 21:34] BartoszKlonowski commented on #306
Hello @gibo77, thanks for pointing that out, I appreciate!
Could you fire a new issue related to iOS for this problem? I'm trying to avoid mixing these two fixes, and I'm in the middle of some changes for iOS so that would speed some things up a bit.

[2021-10-18 19:34] coneforapine opened #333 "Can't install with NPM, unable to resolve dependency tree"
## Environment
[code]

## Description
I've tried to install this module with `npm install @react-native-community/slider` but got an ERESOLVE message below.

[code]

I've also tried to install it with `--force` option but it crashes the app whenever I try to render a slider.

[2021-10-18 23:41] #191 closed, assigned to BartoszKlonowski

[2021-10-18 23:59] coneforapine commented on #333
I've never actually thought about updating npm. It worked when I passed `--legacy-peer-deps`. I'll try to create a new project to check if a newer npm version fixes the issue.

[2021-10-19 01:42] coneforapine commented on #292
I tried to use this on my app and somehow it makes the whole app no matter if I give a key or not. Do you have any suggestions on how to achieve similar behavior? It doesn't crash when I update the value prop with a state but when I close the app and reopen it crashes without giving me any response.

[2021-10-19 13:19] colinta commented on #332
I wasn't expecting `onValueChange` to update the slider; the issue I found was that it wasn't called when tapping on the slider... so my issue must be related to the integration somehow, if you don't see this issue in a new repo.

The sample you showed (very thoughtfully recorded, with the code and log running!) is exactly what I expected, so it is working in your situation... very odd that it did

[2021-10-19 13:19] #332 closed, assigned to nobody

[2021-10-19 21:05] coneforapine commented on #333
Nope. Just updated to npm 8.1.0 and still got the same issue. I really don't know if it is npm's problem or a package-related issue.

[2021-10-19 23:38] BartoszKlonowski commented on #296
@zabojad I'm back, sorry.
I believe that [this SO answer](https://stackoverflow.com/a/6194957/15739164) described the best what should be done.
I think that we should somehow force the `View` to use this `requestDisallowInterceptTouchEvent`.

[2021-10-20 06:44] BartoszKlonowski commented on #333
@coneforapine Why won't you try with the version I used - 7.21.1?

[2021-10-20 19:16] ShaMan123 commented on #99
This is very stale, I abandoned react native a while back (Hoping never to return).
So I decline with respect.
I do think reanimated released a major that will make this simpler to fix.

[2021-10-20 19:19] ShaMan123 commented on #99
I saw #164 , don't remember what I did there

[2021-10-20 21:51] #306 closed, assigned to BartoszKlonowski

[2021-10-21 10:28] BartoszKlonowski commented on #333
@ekremay I've tried to reproduce this issue using your setup:
* update *npm* to the latest - 8.1.0
* react-native to the 0.65.1
* install the *Slider* using *npm*

Everything went fine, so I'm attaching the logs from the terminal (please take a look at the environment info):
[code]

[2021-10-21 10:41] ekremay commented on #333
@BartoszKlonowski Thanks a lot. As I mentioned before, now I can use the slider in my project with npm update and `--legacy-peer-deps` trick, but I couldn't load it normally, I was able to install it when I added `--legacy-peer-deps`. Could this part I added `--legacy-peer-deps` cause a problem in the long or short term? I don't know.

[2021-10-21 10:58] BartoszKlonowski commented on #303
@quangHelloSelf Thank you for your insight!

@cristianoccazinsp I think that the issue you reported can be solved with the #169, so I'm going to close it as a duplicate, but please track the progress in that feature request.

[2021-10-27 09:45] jolebowski opened #337 "Put a size and height to thumbImage"
Hello,

I would like to know how to add a size and a height to my slider thumbImage ?

`<Slider
           thumbImage={icons.sliderDefault}
           style={styles.progressBar}
            value={calculateSliderValue}
            maxValue={1}
</Slider>`

[2021-10-27 11:16] #337 closed, assigned to nobody

[2021-10-29 21:23] BartoszKlonowski commented on #226
Thank you for checking this, @ali-sao!
Reopening of course 👍

[2021-11-03 00:55] BigZ commented on #333
same problem here

[2021-11-03 03:41] BartoszKlonowski commented on #333
@abury @BigZ Thank you for letting me know, I totally appreciate!
What surprises me the most is that I'm completely unable to reproduce it, even using various *npm* versions...

As for the proposal of removing the *react-native-windows* from peer dependencies: This library uses the Windows implementation, so it should require the *react-native-windows* to be installed, no matter what version, so I

[2021-11-04 06:16] hammerstrike331 commented on #97
I suggest below plugin. this is perfect work for me.
[https://github.com/miblanchard/react-native-slider](url)

[2021-11-04 09:11] ardasatata commented on #240
Hi, I noticed this package doesn't come with step indicators.
I ended up doing something like this, kinda tricky tho, but it works 😆

![image](https://user-images.githubusercontent.com/17568508/140287110-12a71602-c51a-425a-9a3b-3eda919d541d.png)

![image](https://user-images.githubusercontent.com/17568508/140285618-c700552c-2c90-4559-98af-32b9c434cff7.png)

![image](https://user-images.githubuserc

[2021-11-05 10:47] #333 closed

[2021-11-08 05:57] nileshprajapatihs commented on #301
I want to add gradient in slider same as in above attached image. What is the solution ?

[2021-11-10 07:09] kenrick95 opened #340 "Question: Why flow-bin is listed in dependencies?"
## Ask your Question

Hi there, while analyzing my work repository, I found out that this package listed `flow-bin` in `dependencies`. Putting `flow-bin` in `dependencies` causes everyone who installs this package also install `flow-bin` (which ships with a relatively big binary).

I found out that it is introduced in https://github.com/callstack/react-native-slider/pull/210/files#diff-cc5a2f17076

[2021-11-10 11:20] BartoszKlonowski commented on #340
Hello @kenrick95, thanks for noticing that!
It's most probably a mistake, and the *flow-bin* is already added into `devDependencies` as well (it's of course required to pass the flow checks).
I believe we can safely remove it from `dependencies`.

[2021-11-10 15:43] #340 closed

[2021-11-11 01:40] kenrick95 commented on #340
Thanks a lot for the quick response! 👍

[2021-11-15 07:48] Choyeongdeok opened #343 "Can I use my own component as a thumbImage?"
I want to use custom component with icon as a thumbImage.
Should I only use static image as a thumbImage?

[2021-11-15 09:02] BartoszKlonowski commented on #343
Hello @Choyeongdeok!
Not yet, this feature will be implemented within #154.

Just in case - feel free to check the *Projects* for this repo to see the progress of each item.

[2021-11-16 09:05] aryanaaaa commented on #25
+1

[2021-11-16 12:35] BartoszKlonowski commented on #226
@ali-sao One more thing I forgot to ask:  What platform do you observe this on? Is it the TVBox you are using?

[2021-11-16 13:52] ali-sao commented on #226
@BartoszKlonowski, it is Skyworth certified Android STB.

[2021-11-17 21:19] gibo77 commented on #252
IT WORKED FOR ME.

Do this on your RN folder of your project.
What I did is uninstall "3.0.3". npm uninstall @react-native-community/slider –save
Then npm install @react-native-community/slider –save    to get ver4.12
I checked on real device iOS and it worked for me.

[2021-11-17 23:02] BartoszKlonowski commented on #252
Glad to hear that, @gibo77!

[2021-11-18 10:01] tushar-singhal commented on #296
was anyone able to fix this ? I am facing the same issue

[2021-11-23 08:00] SandyUndefined commented on #301
I used `react-native-linear-gradient`. this only applies gradient over the slider and yet the output is what I needed.

[2021-12-03 10:05] lishaoxin123 commented on #330
hi, I also encountered this problem, but this problem appears on Android

[2021-12-07 11:16] pdaus1405 opened #344 "Property disbaled dont work"
## Environment

System:
    OS: macOS 12.0.1
    CPU: (4) x64 Intel(R) Core(TM) i5-7267U CPU @ 3.10GHz
    Memory: 1.02 GB / 16.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 17.0.1 - /usr/local/bin/node
    Yarn: 1.22.17 - /usr/local/bin/yarn
    npm: 8.1.0 - /usr/local/bin/npm
    Watchman: 2021.11.15.00 - /usr/local/bin/watchman
  Managers:
    CocoaPods: 1.11.2 - /usr/local/bin/pod
  SD

[2021-12-07 11:29] BartoszKlonowski commented on #344
Hello @pdaus1405!
Can you tell me on which platform do you see this issue?
I assume you're using the latest version of the library (v4.1.12), right?

[2021-12-07 11:56] pdaus1405 commented on #344
hey @pdaus1405

`"@react-native-community/slider": "^4.1.12",`

`"react-native": "0.66.0",`

`"react-native-web": "^0.17.5"`

i hope this information can help you :)

[2021-12-10 10:49] mcampbellxperi commented on #292
Hi @BartoszKlonowski, will Windows support for this feature be included in v4.2.0?

[2021-12-10 11:26] BartoszKlonowski commented on #292
@mcampbellxperi Yes, all three platforms (iOS, Android, Windows).

[2021-12-11 19:58] Omer2041 opened #345 "Invariant Violation: [4113,"RNCSlider",{"value":"<<NaN>>"}] is not usable as a native method argument"
## Environment

System:
    OS: Windows 10 10.0.19042
    CPU: (8) x64 Intel(R) Core(TM) i7-10510U CPU @ 1.80GHz
    Memory: 4.61 GB / 15.79 GB
  Binaries:
    Node: 16.5.0 - C:\Program Files\nodejs\node.EXE
    Yarn: Not Found
    npm: 7.22.0 - C:\Program Files\nodejs\npm.CMD
    Watchman: Not Found
  SDKs:
    Android SDK: Not Found
    Windows SDK: Not Found
  IDEs:
    Android Studio: Version

[2021-12-12 08:10] Rohan-Rajesh commented on #97
The answer is pretty simple just provide the `thumbStyle` prop with a width and height, here is an example:
[code]

[2021-12-16 06:29] rachellauyui opened #346 "ThumbImage work in Android but not in iOS"
## Environment

 Binaries:
    Node: 14.17.6 - C:\Program Files\nodejs\node.EXE
    Yarn: Not Found
    npm: 8.3.0 - ~\AppData\Roaming\npm\npm.CMD
    Watchman: Not Found

## Description

The slider's ThumbImage works fine in Android, but no show in iOS.

BTW, thumbTouchSize does not work both in Android and iOS.

## Reproducible Demo

<Slider
        style={{
          width:'100%',
          hei

[2021-12-26 00:07] ykvarts commented on #296
Solution that works for me, added this as slider prop
`onResponderGrant={() => true}`

[2022-01-01 21:22] hiwyn opened #347 "Is this possible to do 2 balls range in one slider?"
Is this possible to do 2 balls range in one slider?

like this:
https://i.imgur.com/MjblcxN.png

[2022-01-01 22:59] BartoszKlonowski commented on #347
This feature is the range slider, which is already requested #269
Please keep the progress in the linked issue.
I will close this item as a duplicate.

[2022-01-01 22:59] #347 closed

[2022-01-01 23:00] #343 closed

[2022-01-04 10:48] ThomasStubbe commented on #84
This is still the case in version 4.1.12

[2022-01-04 10:57] endruuu commented on #227
Yeah, `scaleX` doesn't work if we wrap the slider inside a class component. But, it works within a functional component.
I tried on version 4.1.10.

[2022-01-04 11:04] BartoszKlonowski commented on #84
Thank you for checking and letting me know, @ThomasStubbe!
I will reopen this obviously 👍

[2022-01-10 09:58] seidbar commented on #344
Same issue here. The disabled property works correctly on iOS devices, but in the browser (Chrome 97) the slider is not disabled.

`      <Slider
        maximumValue={6}
        minimumValue={0}
        step={1}
        value={value}
        disabled
        onSlidingComplete={onChange}
      />`

`"@react-native-community/slider": "4.1.12"`
`"expo": "^43.0.0"`
`"react-native": "0.64.3"`
`"react"

[2022-01-21 19:16] #292 closed

[2022-01-21 19:16] #192 closed

[2022-01-24 08:42] alantoa commented on #326
@nishmeht7 Hi, I guess is gueture problem. You can try [`react-native-awesome-slider`](https://github.com/alantoa/react-native-awesome-slider), sliding is disable other gesture.

[2022-01-24 09:44] MoOx opened #351 "Slider doesn't trigger onValueChange when adjusted with Detox adjustSliderToPosition()"
## Environment

❯ react-native info
info Fetching system and libraries information...
System:
    OS: macOS 12.1
    CPU: (10) arm64 Apple M1 Pro
    Memory: 201.50 MB / 16.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 16.13.2 - /var/folders/51/8pncdp0x14d04bbk454szsnw0000gn/T/fnm_multishells/16782_1643016955991/bin/node
    Yarn: 1.22.5 - ~/.yarn/bin/yarn
    npm: 8.1.2 - /var/folders/51/

[2022-01-24 10:25] BartoszKlonowski commented on #351
Hello @MoOx!
It's always good to specify the **version you are using**, so I can analyse this right away instead of bothering you with asking about it.
Especially, there's been a 4.2.0 release just yesterday.

[2022-01-24 10:27] MoOx commented on #351
I tried this version right now, I am facing the same problem.

[2022-01-24 10:35] BartoszKlonowski commented on #351
@MoOx Thanks! I will take a look into that.

[2022-01-24 10:36] MoOx commented on #351
Thanks a lot!

[2022-01-24 10:45] MoOx commented on #351
Just in case somebody is looking for a workaround: just use Detox `swipe()` method with the proper argument so it works for you (in my case a simple ` await element(by.id('GoalEdit_durationSlider')).swipe('right', 'slow', 0.3, 0);` did the trick.

[2022-01-28 15:07] Powersource opened #352 "Slider doesn't match up with where the mouse is dragging on web"
## Environment

Happens on several operating systems. All running inside electron.

## Description

Here are two issue reports that I think are related to this

https://gitlab.com/staltz/manyverse/-/issues/1646

https://gitlab.com/staltz/manyverse/-/issues/1661

I suspect that this second issue is the same as the first, and that the user just didn't test it unzoomed.

## Reproducible Demo

Happens

[2022-01-28 15:34] Powersource commented on #352
I found a fix, slightly hacky though lol https://gitlab.com/staltz/manyverse/-/merge_requests/265/diffs

[2022-02-04 21:00] jakerogers2022 opened #355 "ThumbImage does not work on web"
## Environment

## Description

## Reproducible Demo

[2022-02-15 05:22] BennyTian commented on #193
the same problem.

env:
"@react-native-community/slider": "^4.2.0",
"react-native": "0.61.5",

device:
android 4.3 / 4.2.2

another bug:

`tried to access method android.widget.SeekBar.isAccessibilityFocused:(Lcom/reactnativecommunity/slider/ReactSlider;D)V from class com.reactnativecommunity.slider.ReactSliderManager
com.facebook.react.uimanager.ViewManagersPropertyCache$PropSetter.updateViewProp

[2022-02-15 07:05] BennyTian opened #357 "'java.util.ArrayList android.animation.AnimatorSet$Node.nodeDependents' on a null object reference"
## Environment

Happens on several operating systems. All running inside electron:

### react-native env:
"react-native": "0.61.5",
"@react-native-community/slider": "^4.2.0"

### android env:
minSdkVersion = 17
buildToolsVersion = "28.0.3"
compileSdkVersion = 28
targetSdkVersion = 28
supportLibVersion = 28
kotlin_version = '1.3.72'

### bug devices:
Android 6.0,level 23
Android 6.0.1,level 23

##

[2022-02-15 07:09] BennyTian opened #358 "tried to access method android.widget.SeekBar.isAccessibilityFocused"
## Environment

Happens on several operating systems. All running inside electron:

### react-native env:
"react-native": "0.61.5",
"@react-native-community/slider": "^4.2.0"

### android env:
minSdkVersion = 17
buildToolsVersion = "28.0.3"
compileSdkVersion = 28
targetSdkVersion = 28
supportLibVersion = 28
kotlin_version = '1.3.72'

### bug devices:
Android 4.3,level 18
Android 4.2.2,level 17

##

[2022-02-15 10:53] BartoszKlonowski commented on #358
Hello @BennyTian,
Can you provide me with a reproducible demo so I can debug it?

[2022-02-15 10:54] BartoszKlonowski commented on #357
Hello @BennyTian,
would it be possible for you to fill the description with the reproducible demo?

[2022-02-16 18:56] Saadnajmi commented on #89
Not sure why this is thumbs down'ed. this worked for me!

[2022-02-17 08:57] Julienblc commented on #231
I have the same issue, any update ?

[2022-02-17 17:55] oscar-paredez commented on #231
Same issue here

[2022-02-22 02:49] ratz6 commented on #258
Facing same issue on android. And giving padding in styles isn't helping

[2022-02-23 22:57] albert-schilling commented on #344
I have the same issue. Additionally, it does not matter how `onValueChange` is set. Even if it does not update the value, the user can still move the slider around.

[2022-02-24 07:35] seidbar commented on #344
A quick workaround for me was to just wrap the slider in a `View` and disable `pointerEvents` for web as a surrogate to `disabled`

[2022-03-07 18:43] clementbmn opened #362 "requireNativeComponent: "RNCSlider" was not found in the UIManager"
**Describe the bug**
On IOS
On a Expo managed app - I use the Expo Dev Client and do not have an ios or android directory
I get this error after installing @react-native-community/slider :
```requireNativeComponent: "RNCSlider" was not found in the UIManager```

**To Reproduce**
Steps to reproduce the behavior:
Install the mentioned package and run the app

**Expected behavior**
Not having an erro

[2022-03-09 01:35] cristianoccazinsp commented on #346
Thumb partially works on iOS it seems. It gets set, but as soon as you start moving it, it disappears and appears once you stop.

Any ideas?

[2022-03-15 14:49] Noitham commented on #249
Agree, this issue is still reproducible.

[2022-03-15 16:53] BartoszKlonowski commented on #249
Thank you for checking and for letting us know @pinpong @Noitham!
I will reopen this and will investigate.

[2022-03-31 18:42] adamgorMSFT opened #365 "RNSlider Windows has a built authoring issue on how it consumes RNW"
[code]

The way RNW is being consumed from SliderWindows needs to be fixed/updated.  The proper way is to consume via the RNW targets and props now.

I will likely open a PR to address this soon.

[2022-04-04 14:23] Hellhiem opened #366 "Tap on slider is not triggering onValueChange"
## Description

**Library Version:** 4.2.1

When you tap on slider value is not changed.

`onValueChange`  is not triggered at all but UI changes accordingly

[2022-04-05 09:01] BartoszKlonowski commented on #366
Hello @Hellhiem, thank you for reporting this!
I will take a look today, but just to confirm: what platform do you encounter this on?

[2022-04-05 09:29] MichaelBorde commented on #366
Same issue with React Native `0.65.1` on Android platform.

When I tap on slider I receive `onSlidingComplete`.

When I slide I receive multiple `onValueChange` events and a final `onSlidingComplete` event.
But I noticed that last `onValueChange` has an old value compared to final `onSlidingComplete` event.

[2022-04-05 09:51] Hellhiem commented on #366
@BartoszKlonowski
React Native: 0.67.3

It seems to be Android issue. On iOS when you tap on slider nothing happens for me

PS Sorry for reopening the issue 🤦

[2022-04-05 12:42] BartoszKlonowski commented on #366
No worries!

Nothing happens? You mean that on iOS the thumb does not change its postion after a tap? Did you set `tapToSeek` to `true`?
[code]

I will confirm this on my end and will handle that, thank you!

[2022-04-06 09:18] Hellhiem commented on #366
@BartoszKlonowski
Thanks for a reminder. I tested this on iOS and no problems there with `tapToSeek`. This seems to be android issue

[2022-04-09 13:52] BartoszKlonowski commented on #366
@Hellhiem I'm glad that helped with iOS. As for the Android - I reproduced the problem and I'll work on it.
Thanks for the patience!

[2022-04-11 21:26] BartoszKlonowski commented on #250
@alexkramerbanjo I was able to reproduce this issue on my end and I will work on it.
Thank you for taking the time to report!

[2022-04-13 12:01] BartoszKlonowski commented on #321
@richard-li-next Sorry for the delay, but I was able to reproduce your issue in the repro app and I will now work on this.
Thank you for the patience!

[2022-04-13 23:34] BartoszKlonowski commented on #330
@lishaoxin123 are you trying this on Expo maybe?

[2022-04-15 15:26] BartoszKlonowski commented on #96
Hello @Kikketer!
Unfortunately I wasn't able to reproduce the issue you reported.
Please check my example app linked to this issue (BartoszKlonowski/rn-slider-repro-app) to check the repro example on your own.
But, just to have the common point of view, please see the screenshot below:
<img width="1229" alt="obraz" src="https://user-images.githubusercontent.com/70535775/163589211-16eb9d64-0a99-493

[2022-04-15 16:21] Kikketer commented on #96
Feel free to close. I don't see myself testing for this bug in a reasonable amount of time.

If it comes up again I'll open a new ticket. Thanks.

[2022-04-15 17:40] BartoszKlonowski commented on #96
Thank you for the fast replay!

[2022-04-15 17:40] #96 closed

[2022-04-17 21:38] pavel-stryber opened #370 "SeekBar on Android is rendering incorrectly in RTL mode"
## Environment

**Library Version:** 4.2.1

## Description

1. Slider renders incorrectly on Android in rtl mode. Images how it is now and should be are attached.
2. Currently slider changes it's layout direction based on device language. I want that it was relying on isRTL value of RN instead. It's important in case if we don't have translations for some rtl language and we have to use English as

[2022-04-19 20:27] #366 closed

[2022-04-20 16:57] #250 closed

[2022-04-20 16:57] #321 closed

[2022-04-20 16:59] #370 closed

[2022-04-20 17:02] pavel-stryber commented on #370
@BartoszKlonowski thank you for review. When are you going to make a new release?

[2022-04-20 17:08] BartoszKlonowski commented on #370
@pavel-stryber I plan to release v4.2.2 not later than end of this week (Friday).

[2022-04-25 21:51] BartoszKlonowski commented on #358
@BennyTian Can you elaborate about running this in Electron? What is the exact environment you are using this package in?
I would like to reproduce the issue you reported, but I'm missing some more information.

[2022-04-25 22:52] BartoszKlonowski commented on #345
@Omer2041 I was able to reproduce this issue in the repro app and I will take a deeper look into it.
Thank you for reporting!

[2022-04-26 11:44] parthasarathi95 commented on #172
import {Slider} from '@miblanchard/react-native-slider';
<Slider
                    minimumTrackTintColor={Colors.themeColor}
                    maximumTrackTintColor={Colors.gray}
                    minimumValue={0}
                    maximumValue={100}
                    thumbTintColor={Colors.themeColor}
                    trackStyle={{backgroundColor:Colors.gray}}
                    val

[2022-04-27 14:04] cristianoccazinsp opened #377 "4.2.2 broke android default value"
## Environment
Android
react-native-slider 4.2.2

## Description
Upgrading from 4.2.1 to 4.2.2 broke the slider's default value. Using `value={3}` (for example), `minimumValue={1}`, and `maximumValue={5}` will render the slider with a default value of 3 on 4.2.1, but 1 on 4.2.2

## Reproducible Demo

[2022-04-27 14:08] cristianoccazinsp commented on #377
Looks like `onValueChange` is called right after the component mounts (Android only) with the `onValueChange` instead of w/e was set to `value`.

[2022-04-27 15:27] BartoszKlonowski commented on #377
Hello @cristianoccazinsp!
Thank you catching this and for the first analysis, I will also check that on my side and provide the hotfix as soon as I find the root cause.

[2022-05-05 21:38] bigcupcoffee opened #378 "updateValue on ref for all platforms"
I'd really like to be able to reset Slider's position if I need to reset or set Slider's value programmatically without doing some hacky workaround with `key` property to force an unmount, if possible 🙂

[2022-05-05 21:54] BartoszKlonowski commented on #378
Hello @bigcupcoffee!
Currently **it is possible** to control the Slider using the `value` property (since v4.2.0). So if you want to set it in any position you can by just updating the value programmaticaly. Let me know if you encounter any issues with it as it is still a quite new feature.
When it comes to resetting the Slider position - you will have to do it "manually" by keeping the initial va

[2022-05-05 22:20] bigcupcoffee commented on #378
@BartoszKlonowski hello. Prop's docs misled me at this point although I'm pretty sure I tried it on some older version, which I had to upgrade from because of tap behavior anyway, so yeah it seems to work now.
 Thanks for quick response, I'd recommend to update docs and JSDoc on the lib, which for some reason wasn't done on 4.2.0 release. You can close the issue

[2022-05-05 22:23] BartoszKlonowski commented on #378
Glad to hear that it works!
I will close this now and open a new issue to update the docs everywhere about the controlled value, thank you for pointing that out 👍

[2022-05-05 22:23] #378 closed

[2022-05-05 22:26] BartoszKlonowski opened #379 "Not all docs are updated according to the controlled `value` feature"
As pointed out in #378 some docs still does not describe the `value` property as a possible to controll the value.
Looks like only the description in the README is aligned, but the rest (docs in the code, package) has to be adjusted to elaborate about the controlled value feature.

[2022-05-06 14:22] michalchudziak opened #380 "Tracking issue: React Native New Architecture support"
## Describe the Feature
The tracking issue for adopting React Native's new architecture. JS side should be pretty straightforward as we are not using `UIManager` API, nor `findNodeHandle`. The native side might require some additional work, although thanks to https://reactnative.dev/docs/next/new-architecture-intro the migration should go smooth.

Migration plan

JS changes:
- [ ] Move the call to

[2022-05-10 03:17] lishaoxin123 commented on #330
No, I did it directly on my cell phone

[2022-05-11 05:18] rahulnainwal107 commented on #330
+1

[2022-05-11 06:13] rahulnainwal107 commented on #362
+1 In android
System:
    OS: macOS 12.3
    CPU: (12) x64 Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz
    Memory: 209.48 MB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 16.13.2 - /usr/local/bin/node
    Yarn: 1.22.17 - /usr/local/bin/yarn
    npm: 8.1.2 - /usr/local/bin/npm
    Watchman: 2022.01.10.00 - /usr/local/bin/watchman
  Managers:
    CocoaPods: 1.11.2 - /usr/local/bin/pod

[2022-05-11 08:25] BartoszKlonowski commented on #362
@rahulnainwal107 Do you also experience this problem **on Expo**?

[2022-05-11 08:31] rahulnainwal107 commented on #362
@BartoszKlonowski, No not in Expo but in android.

[2022-05-13 11:19] BartoszKlonowski commented on #362
@rahulnainwal107 If you experience the same error, but not on Expo (as reported by an Author) then this is a separate issue and should be reported separately.

@clementbmn Currently I don't have the environment to repro your issue so this will take a bigger amount of time unless there's someone who would handle this before.
Thank you for your patience.

[2022-05-13 11:29] rahulnainwal107 commented on #362
Hi @BartoszKlonowski, Surely will open an issue for that and also share a repo, using which you can reproduce this issue.

[2022-05-14 03:34] yamila-fraiman commented on #169
+1

[2022-05-14 05:44] wood1986 commented on #377
+1. In your example app. the second slider cannot show the right value

[2022-05-14 07:18] wood1986 opened #381 "Cannot run the example in iOS"
## Environment

[code]

## Description

![image](https://user-images.githubusercontent.com/5212215/168415261-99b45f21-3418-4cea-b339-a00bd3378c2f.png)

## Reproducible Demo

Follow this https://github.com/callstack/react-native-slider#setup

[2022-05-14 07:20] wood1986 commented on #377
Should this be deleted?

https://github.com/callstack/react-native-slider/blob/9e145e5740ff87fbb690a8ce8f7ca1a5332c7567/src/android/src/main/java/com/reactnativecommunity/slider/ReactSliderManager.java#L254

[2022-05-14 12:20] BartoszKlonowski commented on #377
@wood1986 Thank you for taking the time to investigate. Did you try removing this and running the example?

[2022-05-14 18:41] wood1986 commented on #377
Yes, I did before I ask. But I cannot build and run the example on iOS. I filed a bug #381

[2022-05-14 20:13] BartoszKlonowski commented on #377
Why trying on iOS if the issue affects the Android platform?

[2022-05-14 21:16] wood1986 commented on #377
Originally, I wanted to compare with iOS and checked if had the similar issue.

Agree, this is android thing.

But I want to double confirm it

[2022-05-15 12:05] chakrihacker commented on #380
Can I give a shot on this? is anyone started working?

[2022-05-15 12:13] BartoszKlonowski commented on #380
@chakrihacker Unfortunately we have already somebody working on this. Sorry for the confusion.
But, thank you **very** much for willing to contribute on that! 💪

[2022-05-16 10:50] thymikee commented on #380
Let's make sure to follow the [official migration guideline](https://github.com/react-native-community/RNNewArchitectureLibraries/tree/feat/back-fabric-comp) with manual linking for Android for now. It's a future-proof approach. [RN CLI new arch autolinking](https://github.com/react-native-community/cli/pull/1603) is in the works and there are libraries that provide their own custom linking setup

[2022-05-17 08:20] BartoszKlonowski commented on #377
@wood1986 I will handle the example app today, but in the meantime you can always check the [BartoszKlonowski/rn-slider-repro-app](https://github.com/BartoszKlonowski/rn-slider-repro-app) if the issue has the "*in repro*" label on.

[2022-05-19 13:38] adomkawle opened #382 "Please add ability to customise size of thumb and track."
Please add ability to customise size of thumb and track.

thumbStyle and trackStyle can be added to customise height and width of thumb and track.

thanks in advance.

[2022-05-23 22:53] juanpadin commented on #231
Same issue

[2022-05-24 08:13] Kunal-Airtel2022 commented on #128
It is still occurring in react-native 0.63.4 and slider version 4.2.2

[2022-05-24 09:08] BartoszKlonowski commented on #382
Hello @adomkawle!
Thanks for reporting, this is something that indeed is on the potential roadmap (first is to check if it's possible to implement).
However this has already been reported in #92, so I will close this one as a duplicate.
Please track the progress in the original issue.

[2022-05-24 09:08] #382 closed

[2022-05-24 16:00] Julienblc commented on #231
I use this one now, works very well : https://github.com/alantoa/react-native-awesome-slider

[2022-05-26 10:43] blazk0 commented on #326
Its a gesture problem, the drawer gesture is overriding the slider gesture

[2022-05-26 10:50] blazk0 commented on #296
@ykvarts solution didn't work for me :/

[2022-05-26 11:08] blazk0 commented on #296
In my case, the parent is `PanGestureHandler` which is overriding the Slider gesture

[2022-05-26 23:48] Dajust commented on #258
16 months later...

[2022-05-27 13:21] samarthm314 opened #383 "Setting Current Value of The Slider"
Is there any way to set the value of the slider programmatically? I want to have a reset button that sets the slider back to zero.
Thanks in advance.

[2022-05-27 15:18] BartoszKlonowski commented on #383
Hello @samarthm314!
Sure! Version [4.2.0](https://github.com/callstack/react-native-slider/releases/tag/v4.2.0) introduces the controlled `value` property.
Please also take a look at: #349 which implements the controlled value prop.

In case you encounter any issues with it or have any questions, concerns or comments, please feel free to reach out.

I will close this issue as controlled value has

[2022-05-27 15:18] #383 closed

[2022-05-27 15:22] BartoszKlonowski commented on #383
@samarthm314 Just in case, please take a look at: #378 #192 and #292

[2022-05-28 21:42] younesshakky commented on #185
any news on this one? @penx did you resolve it somehow?

[2022-05-30 14:38] rahulnainwal107 commented on #362
Hi @BartoszKlonowski, Today i tried it in a brand new project and it works fine for both android and ios then i tried to add it in my current project and this time it works without any issue. For more info my project configuration is -
System:
    OS: macOS 12.3
    CPU: (12) x64 Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz
    Memory: 4.68 GB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    N

[2022-05-30 17:14] ludvigeriksson commented on #169
+1

[2022-06-01 07:01] hupptechnologies commented on #377
I have also the same issue, when will be fix release for this?

[2022-06-01 12:41] idimac commented on #231
Just convert your image into .png format, because of svg transforms in react-native

[code]

[2022-06-03 09:40] elliotching opened #386 "cannot assign ref callback and cannot use `updateValue()` method to update slider programmatically"
perhaps can you guys provide a solid example how to assign a proper refObject to the slider it self so that it can call `sliderRef.current.updateValue()` programmatically.

My project is using vanila js and cannot type specified. Can I have any solid example to show how to update slider programmatically? Thank you

I've tried using ref callback and it kept printing

"Error: Couldn't find a navigat

[2022-06-06 21:29] JBlaz commented on #377
This happens for me as well on 4.2.0

[2022-06-10 03:38] #386 closed

[2022-06-15 01:48] capezzbr opened #388 "Add support for the new Fabric renderer"
Was wondering if you had plans to add support for the new Fabric renderer

[2022-06-15 18:18] #377 closed

[2022-06-18 01:02] SamiChab commented on #169
+1

[2022-06-20 13:50] CptFabulouso opened #390 "Thumb does not move discretely with step prop set"
## Environment

[code]

## Description

Adding `step={1}` is working in version 4.1.10, but not in 4.2.2 or 4.2.3 (I didn't test other versions), meaning the thumb is not moving (jumping) discretely between 1*N min/max values, but instead moves continuously.

## Reproducible Demo

[code]

[2022-06-20 14:54] BartoszKlonowski commented on #390
Hello @CptFabulouso, thanks for finding and reporting!
Which platform do you observe this on?

[2022-06-20 15:00] CptFabulouso commented on #390
Hi. I've tested this on iPhone 11 pro max simulator, not any other device.

[2022-06-22 13:34] NitishSystango commented on #351
@MoOx I am getting the same issue but above trick not working for me. Do you have any other solution? (I am guessing `GoalEdit_durationSlider` is you slider view `testID`)

Anyone else having any solution for this?

[2022-06-23 00:39] kennethstarkrl commented on #352
Ran into this as well. Was using a state to hide/show the component. After hiding it then showing, the slider position would be off. I fixed this by instead of removing the component, set the opacity to 0 by state.
[code]
the control is still useable even tho you cant see it.. might be able to disable it as well.

[2022-06-23 02:51] mertbuldur opened #391 "It throws it from the application in the ios release version."
Hello, I'm using slider in my application. When I move the slider, it throws it directly from the application. There is no error in debug mode, only when I get the build and run it through testflight, I don't understand. Can you help me?

RN Version: "react-native": "0.68.2",
"@react-native-community/slider": "^3.0.2", or  "@react-native-community/slider": "^4.2.3"

`
 <Slider
            disabled

[2022-06-23 16:24] doganoruc commented on #390
Hello, @BartoszKlonowski is there any update for this issue. I couldn't use the step prop for the discrete movement of the slider.

Thanks a lot.

[2022-06-23 16:43] BartoszKlonowski commented on #390
@doganoruc I plan to deliver the fix in the upcoming week, thank you for you patience!

[2022-06-23 20:48] BartoszKlonowski commented on #391
@mertbuldur Thank you for taking the time to reach out,
I was unable to reproduce your issue even when trying on the release build for iOS.

Maybe there's something more that you didn't include in your repro example? Can you provide me with the full component you are utilizing `<Slider/>` in?
Feel free to push a commit to the linked PR of BartoszKlonowski/rn-slider-repro-app just so we have a comm

[2022-06-24 07:15] doganoruc commented on #390
Thanks a lot, I have an another question for vertical prop. Is there any problem in there too, for iOS? @BartoszKlonowski

[2022-06-24 11:47] BartoszKlonowski commented on #388
@capezzbr Thanks for your interest, we will be discussing this internally.
Within next two/three weeks we will have everything planned.

I will open an issue with adding the Fabric support once we'll plan to start it, so I will close this one.

Thank you!

[2022-06-24 11:47] #388 closed

[2022-06-27 03:00] LIiErkang commented on #98
it's works, thanks

[2022-06-27 20:44] ironbat1 commented on #390
Hi @BartoszKlonowski ,

I hope you are doing well, is there any update on your side,
I really appreciate the work you are doing! Thank you so much.

[2022-06-27 22:32] BartoszKlonowski commented on #390
@ironbat1 Thanks for asking, I'm still working on it.

You can expect a fix (along with some other fixes in 4.2.4) somewhere this week.

[2022-06-28 02:32] nangbanmai1907 commented on #293
@ararog how did you fix it? It is problem of me

[2022-06-28 07:37] BartoszKlonowski commented on #293
@nangbanmai1907 On which version do you try it?
Can you share your code - how do you utilize `<Slider/>` in your component?

[2022-06-29 23:16] #379 closed

[2022-06-30 07:46] #390 closed

[2022-06-30 20:56] BartoszKlonowski commented on #25
@tragicmj Thanks for asking!
This is a very tricky feature to be implemented, as this **has to be** exposed from the native side on three different platforms. So all of them has to expose the API that will allow multithumb, which is not trivial to implement.

I got this planned and will tackle this, as soon as I face all important defects. But I cannot give any estimation of probable time to deliv

[2022-07-01 14:53] brunoleitem commented on #169
+1

[2022-07-07 20:50] eueddem opened #395 "onValueChanges is called on programmatic value changes on Android"
## Environment
System:
    OS: macOS 11.6
    CPU: (16) x64 Intel(R) Core(TM) i9-9980HK CPU @ 2.40GHz
    Memory: 1.06 GB / 32.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 14.16.0 - /var/folders/21/5xmhgtlx4bj0gthrmm8tm3zc0000gq/T/yarn--1657226700390-0.0757475079991885/node
    Yarn: 1.22.11 - /var/folders/21/5xmhgtlx4bj0gthrmm8tm3zc0000gq/T/yarn--1657226700390-0.0757475079991885/yarn

[2022-07-07 21:02] BartoszKlonowski commented on #395
@eueddem Thanks for taking the time to report!
I will check and handle that!

[2022-07-07 21:59] BartoszKlonowski opened #396 "Repository major update"
The repository and the Slider itself are about to be updated.
The update will include:
* [x] leaving yarn workspaces
* [x] using TypeScript instead of Flow
* [ ] Use Swift and Kotlin for native implementation
* [x] Use the latest React & React Native

**Reasoning**:
I want to focus on the quality of Slider and it's becoming more and more difficult to do so with the legacy repo.
So I create this is

[2022-07-13 20:07] #381 closed

[2022-07-14 07:17] dhmoon91 commented on #390
Hey @BartoszKlonowski Is 4.2.4 supposed to fix this?

I'm still seeing issue;
The thumb is not dragging properly based on `step` prop value. Tapping on the slider works properly

I can provide more info if you need.

[2022-07-14 08:27] BartoszKlonowski commented on #390
@dhmoon91 Sure! Give me as much details as you can (including platform).
What would be useful is the repro code sample and maybe some recording.
I'll reopen once we got this confirmed.

[2022-07-17 14:14] arkhvoid commented on #345
Isn't this is because `priceInNis` is `NaN`? Change `value={priceInNis}` to `value={priceInNis || 0}` should work.

[2022-07-17 22:58] BartoszKlonowski commented on #345
@arkhvoid Yes, indeed - this will fix the issue in the code of the author 👍
I keep this open to implement some checking mechanism though, so I can avoid crashing the Slider in case of NaN or some other incorrect value. I have this in Backlog as this is quite a low hanging fruit, but as the same time I have some more higher-priority things to implement.

Thanks for your input here!

[2022-07-25 10:11] federicogomezcactus commented on #362
@clementbmn I think I found a fix? I had this problem with an Expo Managed app (SDK 44), I built the app again after installing the package with expo install and when I ran it on my simulator it was working fine

[2022-07-26 07:09] ajaybandi14 commented on #185
Any solution for this yet?

[2022-07-27 02:34] ult0 commented on #65
The functionality of the vertical slider is completely busted. Been trying to force it to work by throwing a bunch of spaghetti css at it but I think I have given up and will be looking for a different slider to use. My suggestion would be to create a separate vertical slider. Please fix, it worked great otherwise

[2022-08-10 07:00] vietnt-uet commented on #169
+1

[2022-08-10 08:13] PritishSawant opened #412 "Replace RCTEventEmitter with RCTModernEventEmitter"
## Describe the Feature
The new architecture still relies on `RCTEventEmitter` which is deprecated and not ideal to use with new arch due to performance issues

## Possible Implementations
Replace `RCTEventEmitter` with `RCTModernEventEmitter`. Even though `RCTModernEventEmitter` is deprecated as well, we will have to wait till meta provides a new api for it

## Related Issues
NA

[2022-08-10 09:38] Knufle opened #414 "README React Native Compatibility table needs to be updated"
## Environment

System:
    OS: Windows 10 10.0.19044
    CPU: (8) x64 Intel(R) Core(TM) i7-4790 CPU @ 3.60GHz
    Memory: 1.67 GB / 15.94 GB
  Binaries:
    Node: 14.19.3 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.5 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.14.17 - C:\Program Files\nodejs\npm.CMD
    Watchman: Not Found
  SDKs:
    Android SDK: Not Found
    Windows SDK: Not Fo

[2022-08-10 14:46] BartoszKlonowski commented on #414
Thank you for reporting, @Knufle!
I will take a look into that

[2022-08-11 10:29] Md-Mudassir47 opened #415 "Android Build Failed - Could not resolve all artifacts for configuration ':react-native-community_slider:classpath'."
It was running fine till yesterday, I had not updated the package & once it started to throw this issue I then upgraded to the latest version but still the same issue

### Version Details
[code]

### Current Version Of Slider
`"@react-native-community/slider": "^4.3.0",`

[code]

[2022-08-11 10:48] valery-lavrik opened #416 "The slider stopped working"
Hello everyone
The slider has been working on the project for a long time, everything is fine with it.
But, today I tried to add to the project
`yarn add valery-lavrik/react-native-fast-image`

how the app immediately stopped working.  The slider now throws an error:
![image](https://user-images.githubusercontent.com/8047999/184117163-bb7eab12-7c03-4a6f-8db8-92b317f0d1a4.png)

After I deleted vale

[2022-08-11 10:49] Mateoooo commented on #415
I have the same problem.
`"react-native": "^0.67.2",
`

[2022-08-11 10:55] valery-lavrik commented on #415
I have the same problem.
`"react-native": "0.66.4",`

[2022-08-11 11:12] BartoszKlonowski commented on #416
Yes, this was introduced with the 4.3.0 version and it's a side effect of react-native-gradle-plugin fetched for Android.
We are currently working on it in #414.
However, I've tried to find the `valery-lavrik/react-native-fast-image` you mention, but I don't see it anywhere, so I can't even check which version is used in this package. Can you give me the direct link to it?

[2022-08-11 11:16] valery-lavrik commented on #416
@BartoszKlonowski
https://github.com/valery-lavrik/react-native-fast-image

[2022-08-11 11:17] BartoszKlonowski commented on #415
@Md-Mudassir47 Are you able to share all the details about:
* react-native version you are using
* Slider version you were using before this error appeared
* Slider version you are using now

This is a duplicate of already reported issue (all have the same root cause): #414 #416,
I'm aware of this problem and I'm actively working on this.

[2022-08-11 11:21] Md-Mudassir47 commented on #415
I've updated it

[2022-08-11 11:23] Md-Mudassir47 commented on #415
@BartoszKlonowski I managed to fix it by
Removing `@react-native-community/slider": "^4.2.0`
Replace `import Slider from '@react-native-community/slider';` -> `import Slider from 'react-native-slider';`

[2022-08-11 11:29] BartoszKlonowski commented on #415
This is not a fix, this is just using another package, but I'm glad you have your app unblocked 👍

[2022-08-11 11:36] BartoszKlonowski commented on #416
@valery-lavrik I'm sorry, I thought you are using some external package, not yours internal one.
What I don't understand in the steps you provided is

what exactly were the steps here?

[2022-08-11 11:41] valery-lavrik commented on #416
@BartoszKlonowski
I found a solution:
`"@react-native-community/slider": "4.2.4",`
(removed the **^** symbol)

And it didn't work for me because after deleting the package I did **yarn**, which always puts the latest version (in the case of the browser - 4.3.0)
And I used to do **npm i** which installs packages a little differently

[2022-08-11 11:59] mhackeras commented on #169
+1

[2022-08-12 09:18] mbastian93 commented on #414
I had the same issue;

I followed [this](https://github.com/facebook/react-native/issues/33067#issuecomment-1103189677) and it seems to work as expected (as far as i can tell).

[2022-08-12 21:51] BartoszKlonowski commented on #416
@valery-lavrik OK, thank you!
I found a root cause and I'll work on the fix - as this issue is a duplicated item of #415 please track the progress there.
I will close this as a duplicate but I'll post here also when hotfix is released.

[2022-08-12 21:51] #416 closed

[2022-08-12 22:07] BartoszKlonowski commented on #414
@Knufle After some investigation I found out that the problem is with the dependencies taken for new arch build when having older RN versions.
I'm working on the fix, but the idea is to avoid the compatibility issues - I don't want to have the latest 4.3.0 version be only for the latest RN versions, but I want to keep the backward compatibility instead.
That is why I decided not to update the comp

[2022-08-12 22:07] #414 closed

[2022-08-13 14:21] Knufle commented on #414
@BartoszKlonowski You're welcome! Your proposed solution sounds very good, I'm glad to be making a teeny-tiny contribution to this amazing project :)

[2022-08-15 08:56] nangbanmai1907 commented on #97
`thumbImage={require('link_img')}` it work for me!

[2022-08-15 11:20] Knufle opened #417 "Can I use the Slider with a width 100% or something like that?"
I basically need my slider to fill the entire width of the parent View, is there a way to do it?

[2022-08-16 02:25] luizgallas commented on #415
I am facing the same issue, any solution?

[2022-08-16 11:44] mcampbellxperi opened #418 "Sliders with a Negative Min and Max Values are assigned '0' as Max value"
## Environment

info Fetching system and libraries information...
System:
    OS: Windows 10 10.0.19044
    CPU: (16) x64 Intel(R) Core(TM) i7-10700 CPU @ 2.90GHz
    Memory: 19.72 GB / 31.78 GB
  Binaries:
    Node: 14.17.4 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.5 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.14.14 - C:\Program Files\nodejs\npm.CMD
    Watchman: Not Found
  SDK

[2022-08-17 09:06] minhas-weoveri commented on #414
I am facing the same issue.

[2022-08-17 09:09] minhas-weoveri commented on #415
I am facing the same issue.

[2022-08-17 12:44] dipankurXT commented on #415
Same issue here

[2022-08-17 15:50] MrQureshi commented on #415
"^4.3.0" this version is unstable for now downgrade version with "4.2.0" and remove caret symbol

 then run command  `npx jetify`

**problem solved**

[2022-08-17 19:26] #415 closed

[2022-08-18 01:44] one-god commented on #415
I am facing the same issue.

[2022-08-18 05:09] valery-lavrik commented on #415
Yes, just fix the slider connection in the **package.json**

`"@react-native-community/slider": "4.2.4",`

A little higher has already been answered

[2022-08-18 22:37] BartoszKlonowski commented on #418
@mcampbellxperi Yes, this is an issue with the initial render only, however this is a known bug on the WinRT side, which states that when maximum value is set after the minimum value the maximum value set will be ignored and forced to be 0.
More about that can be found in WinRT docs page: [Binding Minimum and Maximum values](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.slider?

[2022-08-19 08:41] mcampbellxperi commented on #418
@BartoszKlonowski Thank you for the update, interesting read from the WinRT docs.

In the meantime I might try and hook in a useEffect into my Slider wrapper component that performs the post render fix that I demonstrated in the example. It should keep me moving while we wait for a fix.

Thank you for your hard work!

[2022-08-20 11:49] BartoszKlonowski commented on #416
@valery-lavrik  The fix is now released in v4.3.1

[2022-08-20 11:50] BartoszKlonowski commented on #415
The fix is now released in v4.3.1

[2022-08-20 11:50] BartoszKlonowski commented on #414
@Knufle The fix is now released in v4.3.1

[2022-08-26 04:25] artfxx commented on #169
+ 1

[2022-08-26 22:47] BartoszKlonowski commented on #417
Hello @Knufle! I'm very sorry for this delayed response.
Currently Slider suffers from a unnecessary padding issue (please see #258) which is tricky to solve, so unfortunately it will be difficult to fill the entire parent, unless some workaround is applied or a change to design of the part of your app where Slider is used.
Please check the issue I linked to see if any response, post, hint given t

[2022-08-30 07:23] wqxwqx commented on #395
Every time I modify the value of value, he will trigger onvaluechanges on "@ react native community / slider": "^ 4.3.1"

[2022-08-30 08:31] muni127 commented on #352
I am currently hacking my way around this by dispatching a window resize event on mount (with some delay).

Seems like it's not always picking up the correct container size without this.

![image](https://user-images.githubusercontent.com/19216679/187389204-d5c11ddb-291f-4cea-8285-09151fbcf2c6.png)

[2022-08-30 16:28] jeremyspritelyco opened #423 "configure PYTHON_EXECUTABLE when running react-native-slider example app with new architecture."
## Ask your Question

I follow the readme and got this error when running android. So how can I add PYTHON_EXECUTABLE when running react-native-slider example app with new architecture?
[code]

[2022-09-01 12:07] BartoszKlonowski commented on #423
Hello @jeremyspritelyco!
Can you specify which exact version of react-native you're using in your app?
From my understanding Python executable should not be required to run (at least) Slider on new arch, but maybe @cortinico will be able to provide more info/context here and help us.

In the meantime, just in case please provide us with the `npx react-native info`

[2022-09-01 14:43] cortinico commented on #423
@jeremyspritelyco can you provide an overview of your environemnt? Specifically please share the output of `react-native config` and `react-native doctor`

[2022-09-07 20:35] #412 closed

[2022-09-08 13:39] BartoszKlonowski commented on #417
@Knufle Let me know please if the above answers your question so I know how to handle this item.

[2022-09-08 16:08] Knufle commented on #417
Hi! My use case didn't need an absolute 100% width slider, but my description certainly lack that context, however, I was able to achieve my goal without having to do any trick, just regular styles, thank you very much for the help!

[2022-09-08 19:44] BartoszKlonowski opened #426 "Remove redundant `enabled` property"
The Slider implementation on RN side has both `enabled` `disabled` used, which is redundant and can lead to mistakes.
`enabled` property should be removed in favor of `disabled` which matches the name from docs.

This needs to be addressed, but in a separate PR.

_Originally posted by @okwasniewski in https://github.com/callstack/react-native-slider/pull/424#discussion_r966294006_

[2022-09-09 07:31] BartoszKlonowski commented on #417
Great, I'm glad you have your issue resolved!
Let me close this item then.

[2022-09-09 07:31] #417 closed

[2022-09-12 11:48] BartoszKlonowski opened #428 "Introduce Windows example for v0.70"
The Windows platform was omitted during refactoring the example app to RN v0.70 with TS, as there was no 0.70 released for react-native-windows yet.
This item is to add support for Windows platform back once it's available with v0.70.

Let's create an issue for adding Windows back please and we're good 👍🏼

_Originally posted by @thymikee in https://github.com/callstack/react-native-slider/pull/427

[2022-09-15 10:08] #428 closed

[2022-09-19 07:10] arys commented on #395
any update on this? I am facing the same issue.

[2022-09-20 08:50] DomiR opened #430 "Postinstall copy of readme should be removed"
This will run on `yarn install` for consumers of this library. Instead of `postinstall` we should use `prepack`.

https://github.com/callstack/react-native-slider/blob/8619daf7518c24ff7fdcfced73111d7dd856f727/package/package.json#L22

I'm getting:
[code]

[2022-09-20 09:14] okb1100 opened #431 "Deprecated ViewProps"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `@react-native-community/slider@4.3.1` for the project I'm working on.

Please see https://github.com/facebook/react-native/issues/34688

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github

[2022-09-20 09:28] DomiR commented on #430
Okay, this is weired. I'm only having this issue with node@18 after switching via `fnm`. I guess the command usually silently fails/runs (as no Readme is there to be copied). I guess this issue can be closed, but probably using `prepack` instead of `postinstall` is still the better option in either case.

Dockerfile demonstates issue:
[code]

[2022-09-20 09:44] BartoszKlonowski commented on #430
Hello @DomiR, thanks for taking the time to report and summarize! 👍
Of course, having this as `postinstall` is not the best idea - let's have it any other way, and there are at least two of them: `prepack` or some simple custom step to be launched manually on demand.
Let me keep this open so it won't be forgotten to be handled.
Thanks again!

[2022-09-22 04:50] jamesehly commented on #195
I had a similar issue with the slider inside of a DraggableFlatlist item (https://github.com/computerjazz/react-native-draggable-flatlist).  I set the activationDistance to 10 and that fixed the issue.  DraggableFlatlist uses the PanGestureHandler and sets the activateOffsetX or activateOffsetY to the activationDistance, so you might try setting those values to something greater than zero to get t

[2022-09-22 07:38] BartoszKlonowski commented on #423
Closing due to lack of author's response and not enough details for further investigation.

[2022-09-22 07:38] #423 closed

[2022-09-24 19:51] espenjanson commented on #249
@BartoszKlonowski This is still a thing.

[2022-09-24 20:04] BartoszKlonowski commented on #249
Hey, @espenjanson!
Thanks! Of course it is, that is why this issue is still open.
We are actively working on bugfixes, including that one, while transforming Slider project internally - this takes some time, so I hope for your patience.

[2022-09-26 19:01] BartoszKlonowski commented on #396
Let's keep the Obj-C and Java as native languages for now. Currently a lot of implementation has been done and is currently in progress as well, so it would be a madness to change the language now.
And it should not block the further releases, so let's have it as it is, unless we get *really* tired or have way too much of a spare time and space.

[2022-09-26 19:01] #396 closed

[2022-09-27 14:28] rborn commented on #430
👋 any way to overcome this? basically it prevents me to run `yarn` :( 🙏

[2022-09-27 15:52] #430 closed

[2022-09-27 20:08] stianjensen commented on #431
Looks like this was solved in https://github.com/callstack/react-native-slider/pull/424, so we just need a new release with that :+1:

[2022-09-30 00:44] waheedakhtar694 commented on #332
@BartoszKlonowski  I am having the same issue, `tapToSeek ` not triggers any update method either `onValueChange` or `onSlidingComplete`, not sure why.

[2022-09-30 01:02] waheedakhtar694 commented on #332
updating to the latest version solves the problem for me.

[2022-10-06 17:50] abusada opened #436 "How to / can use this library on web projects?"
Hello, it is not clear to me if whether react-native-slider has web support, the docs do say

When I try to use the component with react-native-web I stumble into this issue https://github.com/callstack/react-native-slider/issues/185.

I see that you have a component built specifically for web [RNCSliderNativeComponent.web.tsx](https://github.com/callstack/react-native-slider/blob/main/package/src

[2022-10-06 21:31] BartoszKlonowski commented on #436
Hello @abusada!
Thank you for taking the time to reach out.
I have to admit that the support for the web platform has been poor for a long time now, so you may run into problems **but** I plan to revive it and make it high-quality.
I'm always happy to accept PRs on matters that one wants to speed up, and I'm hoping for a patience - the web platform support has not been forgotten or abandoned.

[2022-10-07 09:27] GaelCO opened #437 "topChange null error while updating a property"
## Environment

npmPackages:
    react: 18.2.0 => 18.2.0
    react-native: 0.70.2 => 0.70.2

## Description

After upgrade react-native-slider 4.31 to 4.3.2, display Slider crash on android.
No problem on iOS.
![image](https://user-images.githubusercontent.com/59600632/194520049-0e95603b-fdff-43a8-8536-9f9cee5f0283.png)

[2022-10-07 09:53] BartoszKlonowski commented on #437
Hello @GaelCO!
Can you share the code of how you are using the `<Slider/>`?

[2022-10-07 11:43] Torniojaws opened #438 "Version 4.3.2 with Expo in web results in: NaN is an invalid value for the WebkitFlexGrow css style property. Works with version 4.2.4"
## Environment

MacOS 12
Expo 44
React Native 0.64.3
  "@react-native-community/slider": "^4.3.2",
Web

## Description

When you modify the slider, it crashes the app and throws:
[code]

## Reproducible Demo

Simplified the actual implementation, but this is the essentials of it:

[code]

When I run the code, I can see the slider just fine:

<img width="420" alt="image" src="https://user-images.gi

[2022-10-07 11:50] Torniojaws commented on #438
I tried some previous versions too, and on version `4.3.0` there was the same error message. But on version `4.2.4` it appears to work without issues.

[2022-10-07 12:11] GaelCO commented on #437
`<Slider
                    style={s.slider}
                    minimumValue={MIN_RADIUS}
                    maximumValue={MAX_RADIUS}
                    value={radius}
                    onValueChange={(value: number) => {
                      setRadius( Math.round(value))
                    }}
                    minimumTrackTintColor={Colors.primaryColor}
                    maximumTrack

[2022-10-10 05:06] djiworks commented on #437
it's pretty the same for me.
1 : If I setup `minimumValue={0}`, I get first screen attached
2 : If I comment  `minimumValue={0}`, I get second screen

Code sample :
`<Slider
          style={{
            width: 150,
            //height: 40
          }}
          tapToSeek
          value={position}
          minimumValue={0}
          maximumValue={duration}
          minimumTrackTintColor={SECO

[2022-10-10 07:23] cuongnguyen99 commented on #437
I got the same issue! Did anyone here fix it?
![image](https://user-images.githubusercontent.com/52624241/194815999-866c4f10-a89d-45d8-b619-b370b70ee69d.png)

[2022-10-10 11:26] spaceod commented on #437
Yes have check the same in new scratch project (react-native version: 0.70.2) it's working fine in both platforms [Android & iOS].

[2022-10-10 11:27] spaceod commented on #437
@BartoszKlonowski Yes have check the same in new scratch project (react-native version: 0.70.2) it's working fine in both platforms [Android & iOS].

[2022-10-10 14:10] eduardorfreitas93 commented on #437
Exactly the same happens here. RN 0.70.2, react-native-slider 4.3.2

[2022-10-10 14:38] eduardorfreitas93 commented on #437
Temporary solution downgrade to 4.3.1

[2022-10-10 14:52] alois-beto commented on #437
I have the same problem on react-native 0.70.2
It is working fine on version 4.3.1 but not anymore on the latest version (4.3.2).

[2022-10-10 15:49] GaelCO commented on #437
I try to found a reproduction case from your example project.
But, without success. Perhaps it's a configuration issue or a conflict with a dependency

[2022-10-11 05:32] smartinio commented on #437
**Disclaimer:** I have 0 experience with the Java side of React Native development. Just brainstorming a bit here.

* The name `topChange` seems to come from the class [ReactSliderEvent](https://github.com/callstack/react-native-slider/blob/main/package/android/src/main/java/com/reactnativecommunity/slider/ReactSliderEvent.java#L20)

* ReactSliderEvent extends [Event from react-native](https://git

[2022-10-12 09:19] wjaszczuk commented on #437
I have a similar problem on Android 12, but in my case, there is 'maximumValue'. The rest is exactly the same as on the attached red screens of death above.

I'm using react-native: 0.70.2 (old architecture) and @react-native-community/slider: 4.3.2.

When I reverted @react-native-community/slider to "~4.2.4" it works perfectly.

[2022-10-13 03:28] NguyenPhuongNam99 commented on #415
please install version 4.2.4 . It is fix me!

[2022-10-13 15:31] Romick2005 commented on #437
https://github.com/callstack/react-native-slider/compare/v4.3.1...v4.3.2#diff-4f047c2843c7e41eb729a17eeff19bef2a239505be775798cf2fc8f129b37226L50

[2022-10-14 18:43] BartoszKlonowski commented on #437
@wjaszczuk @SergiOnGit @alois-beto Are you able to provide me a repo with the possible reproduction, so I can debug and fix this issue?
@smartinio Were you (or are you) able to verify your idea? What you describe sounds promising in fact!

[2022-10-17 11:01] tuomaslilja commented on #437
I'm having the same problem in my project. Android crashes, iOs works normally.
Versions:
    "@react-native-community/slider": "4.3.2",
    "react": "18.0.0",
    "react-native": "0.69.4",

<img width="367" alt="image" src="https://user-images.githubusercontent.com/16036516/196160994-40bf557a-0723-4b2a-a275-0cf37263a6ba.png">

[2022-10-17 19:34] espenjanson commented on #437
@BartoszKlonowski

Everything worked fine for me with version 4.3.1 and React Native 0.70.1. However, today I upgraded:

metro-react-native-babel-preset (0.72.3 -> 0.73.2) and
react-native (0.70.1 -> 0.70.3)

And I'm getting the error described. I also upgraded a few other packages such as rn-gesture-handler and reanimated, but I don't think that should affect anything?

[2022-10-18 13:04] Amitkumarttn commented on #437
Just downgrade your react native slider version to 4.0.0-rc.3

yarn add @react-native-community/slider@4.0.0-rc.3

and comment this line

[code]

[2022-10-18 15:26] notjosh commented on #437
I've gotten to the bottom of this, with a repro and a fix.

The issue (ultimately) comes from `react-native-reanimated`. When it's active, it intercepts event dispatching, and hard-codes a call to `dispatch()`. However, `dispatch()` was replaced with `dispatchModern()` in https://github.com/callstack/react-native-slider/pull/422.

We can see the call stack here, clearly showing how the event is di

[2022-10-19 13:00] IvaTsu commented on #437
@notjosh thanks, that worked, but I had to delete `@Nullable` annotation as it won't build.

[code]

[2022-10-19 19:09] notjosh commented on #437
Oh weird. Android Studio added them for me (the parent class was also Nullable). I guess that’s dependent on the RN version - maybe they’ve toggled them across different versions.---Joshua ***@***.***+4915756959197 (de)+61458282700 (au)On 19 Oct 2022, at 14:00, Ivan Tsud ***@***.***> wrote:﻿
@notjosh thanks, that worked, but I had to delete @Nullable annotation as it won't build.
 @Nullable
     ^

[2022-10-20 08:57] zhenguet opened #446 "Error while updating property 'minimumValue' of a view managed by: RNCSlider"
## Environment

    "react": "18.1.0",
    "react-native": "0.70.3",
    "@react-native-community/slider": "^4.3.2",

## Description

![Screenshot_1666255375](https://user-images.githubusercontent.com/47002721/196903890-9955eb28-104e-4b1e-b524-66d3221f2dd1.png)

I have another app use

        "react": "17.0.2",
        "react-native": "0.66.4",
        "@react-native-community/slider": "^4.2.0",

[2022-10-20 15:16] #446 closed

[2022-10-20 16:41] eueddem opened #447 "Error: Cannot find symbol `RCTModernEventEmitter`"
## Environment
System:
    OS: macOS 11.6
    CPU: (16) x64 Intel(R) Core(TM) i9-9980HK CPU @ 2.40GHz
    Memory: 3.77 GB / 32.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 16.18.0 - /var/folders/21/5xmhgtlx4bj0gthrmm8tm3zc0000gq/T/yarn--1666283778817-0.44241538565301974/node
    Yarn: 1.22.19 - /var/folders/21/5xmhgtlx4bj0gthrmm8tm3zc0000gq/T/yarn--1666283778817-0.44241538565301974/yarn

[2022-10-21 05:45] BajajSaajan commented on #437
Is anyone able to fix this crash?

[2022-10-21 13:37] knro commented on #437
Would downgrading to 4.3.1 solve the issue?

[2022-10-21 13:40] SergiOnGit commented on #437
@knro Yes it solves the issue. Just downgrade before it is fixed.

[2022-10-21 13:43] GaelCO commented on #437
@BajajSaajan A PR was opened by by @notjosh : https://github.com/callstack/react-native-slider/pull/444
You can downgrade to 4.3.1 while waiting the fix

[2022-10-24 17:48] notjosh commented on #437
@shergin ah, that was my bad - I was working on the source inside of `node_modules`, so the PR didn't actually get the full diff 🤦 #444 should be working now with `@Nullable`

[2022-10-26 03:45] joshua-revolutions commented on #395
Are there any short term work-arounds? Otherwise I can't use this for Android

[2022-10-26 05:06] arys commented on #395
I used 'onSlidingComplete' instead, works fine.

[2022-10-27 16:02] fogg4444 commented on #345
This code is full of points where it critically crashes if you accidentally pass NaN to a prop. Code defensively around this library

[2022-10-27 20:35] dindustack commented on #92
Please, team kindly add the styling features for the slider thumb. Thanks

[2022-10-31 13:52] erickcrus commented on #437
any solution?

[2022-11-01 03:13] RnbWd opened #451 "Error while updating property 'step' of a view managed by: RNCSlider"
## Environment

System:
    OS: macOS 13.0
  Binaries:
    Node: 18.11.0 - /opt/homebrew/bin/node
    Yarn: 1.22.19 - /opt/homebrew/bin/yarn
    npm: 8.19.2 - /opt/homebrew/bin/npm
    Watchman: 2022.10.24.00 - /opt/homebrew/bin/watchman
  Managers:
    CocoaPods: 1.11.3 - /opt/homebrew/bin/pod
  SDKs:
    iOS SDK:
      Platforms: DriverKit 21.4, iOS 16.0, macOS 12.3, tvOS 16.0, watchOS 9.0
    A

[2022-11-01 18:20] scaralfred commented on #451
Having the same issue.

[2022-11-02 04:22] cw-shubham-rajput commented on #451
Getting the same issue.

[2022-11-02 08:36] BartoszKlonowski commented on #451
@RnbWd The same error is already reported in #437.
Please track the progress in the original item and I will close this one as duplicate.

[2022-11-02 08:36] #451 closed

[2022-11-02 13:25] AdhamMahmoud98 opened #452 "Execution failed for task ':react-native-community_slider:compileDebugJavaWithJavac'. | New architecture"
I am trying to build a react native app using the new architecture with react-native version 0.70.3, and I set newArchEnabled in Gradle.properties.

The error I am getting when the build fails is Execution failed for task ':react-native-community_slider:compileDebugJavaWithJavac'. and the logs show multiple lines of the issue listed below:
/node_modules/@react-native-community/slider/android/src/n

[2022-11-02 21:23] #437 closed

[2022-11-03 00:52] BartoszKlonowski commented on #452
Hello @AdhamMahmoud98!
I was unable to reproduce the issue you posted here, so maybe you could provide me with the link to some reproduction repo of yours so I can clone and investigate?
In the meantime: Could you clone and run the [example app](https://github.com/callstack/react-native-slider/tree/main/example) of this project? I just tested it and it builds fine (it's not far behind yours regard

[2022-11-03 14:17] fizawisedv commented on #447
I had the same issue with android. If for some reason you cannot update the react-native version, you can undo the changes specified [here ](https://github.com/callstack/react-native-slider/commit/707059a5d031ab9e4b04755ba981c62ab6416614) and it worked for me!
Also please let me know if you think this would have any side effects.

[2022-11-03 16:46] CaptainJeff commented on #452
Same issue!

[2022-11-04 16:38] yatsyk commented on #355
Looks like it is not implemented on web platform according to package/src/RNCSliderNativeComponent.web.tsx source. As workaround you can provide custom style for thumb view:

[2022-11-04 19:52] okwasniewski commented on #447
@BartoszKlonowski I think we should update the compatibility table in README. I wasn't aware of this while introducing this change. What do you think?

[2022-11-04 20:27] babeone commented on #437
After upgrading to 4.3.2 with @notjosh fix, i'm getting this new error.

Android 12

`Error while updating prop minimumValue
    java.lang.reflect.InvocationTargetException
        at java.lang.reflect.Method.invoke(Native Method)
        at com.facebook.react.uimanager.ViewManagersPropertyCache$PropSetter.updateViewProp(ViewManagersPropertyCache.java:87)
        at com.facebook.react.uimanager.Vi

[2022-11-04 23:06] #249 closed

[2022-11-06 16:28] BartoszKlonowski commented on #452
@CaptainJeff Did you run the full clean of Android build directory before building for new architecture?

[2022-11-07 08:57] GaelCO commented on #437
Thanks a lot for the fix @notjosh
I have no more issue with the version 4.3.3

[2022-11-07 22:22] BartoszKlonowski commented on #447
@okwasniewski In my opinion the best way would be to provide users with full backward compatibility, but here on one hand we have deprecated methods with performance issues with new arch and on the other hand compatibility issues with legacy react-native versions. It's still not breaking change as the usage of Slider didn't change at all, but at the same time it introduced compilations error for o

[2022-11-07 22:40] BartoszKlonowski commented on #447
@eueddem @fizawisedv Did you folks checked with the latest Slider version v4.3.3? It has the `RCTModernEventEmitter` usage removed so maybe this could resolve your error?
Please try with the latest Slider version and let me know.

[2022-11-07 22:51] #426 closed

[2022-11-08 07:13] fizawisedv commented on #447
Build fails for me with v4.3.3 as well. Showing below error for the event files:

ReactSliderEvent.java:18: error: ReactSliderEvent is not abstract and does not override abstract method dispatch(RCTEventEmitter) in Event
public class ReactSliderEvent extends Event<ReactSliderEvent> {
       ^

For now, getting back to v4.3.2 without the `RCTModernEventEmitter`

[2022-11-08 15:28] OneTuskedMario commented on #169
+1

[2022-11-09 11:41] BartoszKlonowski commented on #362
@clementbmn Did you try the full rebuild and reinstall trick that helped all others facing the same error?

[2022-11-09 11:49] clementbmn commented on #362
Hi, sorry I finally ended up ejecting my expo project for some other reason, and did not have the problem anymore

[2022-11-09 11:49] #362 closed

[2022-11-16 08:09] snowiosic commented on #452
same issue

[2022-11-16 21:37] BartoszKlonowski commented on #431
Fixed by #424

[2022-11-16 21:39] #431 closed

[2022-11-16 21:54] BartoszKlonowski commented on #225
This is a duplicate of #169 so let me close this.
But please track the progress in the original issue.

[2022-11-16 21:54] #225 closed

[2022-11-21 22:28] HeatherHaylett commented on #452
I've run into this issue as well. Error log:

[code]

[2022-11-22 22:15] BartoszKlonowski commented on #357
Closing due to lack of author's response, outdated versions of Slider and react-native.
Feel free to reach out when issue is noticed again.

[2022-11-22 22:15] #357 closed

[2022-11-28 10:49] vinay-sayone opened #456 "How to snap to a point on sliding?"
Is their any way to snap to a point on this slider ? Also how do we add labels to the snap points like in a step slider ?

[2022-11-28 11:42] BartoszKlonowski commented on #456
Hello @vinay-sayone! Can you please elaborate on what you mean by snapping here? Maybe it's the `tapToSeek` you are looking for if you're running on iOS?
As for the second question: The feature of having the step indicator visible is reported in #240 and it is something I'm already investigate with plans to implement in the near future.

[2022-11-29 04:15] vinay-sayone commented on #456
@BartoszKlonowski Yea I mean if the slider width is divided into 4 parts and moving the thumb from initial position say 0, after a certain position the thumb will stick to position one, similarly past the position 1, it'll stick to 2. So basically there will be no decimal change values it will be sticking to just 1, 2, 3 etc

[2022-11-29 11:50] BartoszKlonowski commented on #456
@vinay-sayone In that case you can just use the `step` property with proper `minimumValue` and `maximumValue`:
[code]
This should exactly match the behavior you described.

As for the step indicator - like I mentioned in previous response - this will be implemented at some point in the near future.

Let me know please if this answer your initial question.

[2022-11-29 20:10] amcneel opened #457 "Error when adding children elements inside of the Slider component"
## Environment

`System:
    OS: macOS 12.2.1
    CPU: (10) arm64 Apple M1 Pro
    Memory: 114.08 MB / 16.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 16.15.0 - /usr/local/bin/node
    Yarn: 1.22.18 - /usr/local/bin/yarn
    npm: 8.5.5 - /usr/local/bin/npm
    Watchman: 2022.03.21.00 - /opt/homebrew/bin/watchman
  Managers:
    CocoaPods: 1.11.3 - /opt/homebrew/bin/pod
  SDKs:
    iOS SDK