[2019-02-13 20:46] michalchudziak opened #5 "Testing plan"
We should cover this component with unit/e2e tests.
I think with a free plan of CircleCI, we won't be able to run everything on the remote container (building ios, etc.), but at least some checks should be invoked there.

We can think of implementing the native/e2e tests but run them only locally.

[2019-02-14 04:58] deadcoder0904 opened #6 "Demo GIF"

[2019-02-14 13:51] pbitkowski commented on #5
I can help with that. It would be good to setup Jest, Detox and React Native Testing Library first.

[2019-02-15 14:52] cpojer opened #9 "ReactSlider crash on Android release version"
* * *
  This issue was originally created by @ssg-luke as facebook/react-native#9979.
  * * *

  ### Issue Description

Hard crash randomly and unexpectedly on Android release version only (debug is fine, iOS is fine on both debug and release) when hiding and displaying sliders based on a state variable.
### Steps to Reproduce / Code Snippets

We have a number of photo filters in our app which are

[2019-02-15 14:53] cpojer opened #10 "RCTSlider produces a line no matter even when all colors values match background color"
* * *
  This issue was originally created by @bobber205 as facebook/react-native#23388.
  * * *

  ## 🐛 Bug Report
The view that contains my Slider component is `rgb(236,245,255)`
I've set both `minimumTrackTintColor` and `maximumTrackTintColor` to `rgb(236,245,255)`  as well.

As you can see in the attached screenshot there is always a slight grey shadow or gradient or something that is visible.

[2019-03-06 01:41] GreatAuk commented on #6
+1

[2019-03-12 15:12] maestor opened #21 "Installing iOS as pod throws errors because of missing package.json details"
## Environment

  React Native Environment Info:
    System:
      OS: macOS 10.14.3
      CPU: (4) x64 Intel(R) Core(TM) i5-5287U CPU @ 2.90GHz
      Memory: 42.91 MB / 8.00 GB
      Shell: 5.3 - /bin/zsh
    Binaries:
      Node: 11.8.0 - ~/.nvm/versions/node/v11.8.0/bin/node
      Yarn: 1.13.0 - /usr/local/bin/yarn
      npm: 6.5.0 - ~/.nvm/versions/node/v11.8.0/bin/npm
      Watchman: 4.9.0 -

[2019-03-13 19:29] Noitidart opened #25 "Multi-slider option"
## Describe the Feature
Right now we only have on "grip" option. It would be nice to have multiple grips. Two would be a good start.

## Possible Implementations
For Android probably this one - https://github.com/apptik/MultiSlider

For iOS probably this one - https://github.com/yonat/MultiSlider

## Related Issues

[2019-03-15 13:02] #21 closed

[2019-03-19 04:13] cinder92 opened #28 "[iOS] libRNCSlider.a not found in release mode"
## Environment

RN 0.59.1
Plugin V : latest
Platform : iOS

## Description

Run into production mode appears this issue
![image (3)](https://user-images.githubusercontent.com/4725556/54579808-deb2ec00-49ca-11e9-886b-1c23207e1826.png)

## Reproducible Demo

![image (4)](https://user-images.githubusercontent.com/4725556/54579820-ed999e80-49ca-11e9-9464-ef11b9edfd6f.png)

[2019-03-19 04:56] cinder92 commented on #9
any update on this?

[2019-03-19 14:15] solkaz opened #29 "thumbTouchSize is not a prop"
## Describe the Feature
`thumbTouchSize` is defined as a prop in the [example in the README](https://github.com/react-native-community/react-native-slider#example), but it's not defined anywhere in the JS code or the TS typings

[2019-03-19 16:04] IjzerenHein commented on #28
I've added a PR for this, fixed by #30

[2019-03-22 09:16] nicovak commented on #28
Thanks @IjzerenHein and @cinder92
It's a release blocker, @michalchudziak can the PR be reviewed soon ?

[2019-03-25 09:01] michalchudziak commented on #28
Yes, I'll take care of it today. Thanks for submitting a PR @cinder92

[2019-03-25 09:24] michalchudziak commented on #28
Actually it was @IjzerenHein 's PR (https://github.com/react-native-community/react-native-slider/pull/30). It's already merged and published in version `1.0.4`.

[2019-03-25 09:24] #28 closed

[2019-03-25 10:35] #6 closed

[2019-03-25 10:36] michalchudziak commented on #29
Thanks @solkaz! I removed it from the `README` file.

[2019-03-25 10:36] #29 closed

[2019-04-12 02:50] echokk11 opened #32 "thumbImage support @2x @3x"
## Ask your Question

Is the prop `thumbImage` support @2x @3x,
and it will choice the right image automatic.

Or is there something like `thumbStyle ` could define the style of thumb

[2019-04-12 12:42] michalchudziak commented on #32
Yeah, `thumbImage` should automatically choose the correct version of an image based on your device's pixel density.

[2019-04-12 12:42] #32 closed

[2019-04-12 12:55] #5 closed

[2019-04-12 12:59] michalchudziak opened #33 "Write e2e tests with Detox"
## Describe the Feature

We are missing e2e tests for this module. Ideally with detox. I guess we can start from scaffolding detox and some primitive tests, potentially extend it in the future.

## Possible Implementations
- Install & set-up https://github.com/wix/Detox
- Add scripts, ideally reflect what's done in https://github.com/react-native-community/react-native-netinfo/blob/master/package.

[2019-04-12 13:04] michalchudziak opened #34 "Automate publishing with semantic-release"
## Describe the Feature

I'd like to automate the publishing process with `semantic-release`. It should be done after https://github.com/react-native-community/react-native-slider/issues/33 is closed.

## Possible Implementations

- Install `semantic-release`
- Run scripts on CI

## Related Issues
https://github.com/react-native-community/react-native-slider/issues/33

[2019-04-15 05:13] ali226281 opened #36 "I want the suffering of the integers"
I want change slider between integer number.
How can I do that?

[2019-04-15 05:18] #36 closed

[2019-04-16 17:04] hbaseline opened #37 "onSlidingStart to go along with onSlidingComplete"
## Describe the Feature
It would be useful to have a prop onSlidingStart that act like onSlidingComplete with a callback but for when the slider starts instead. This library has this feature: https://github.com/jeanregisser/react-native-slider

## Possible Implementations
[code]

[2019-04-17 09:19] Russel-insureme opened #38 "is there a way to replace handle with custom layout"
is there a way to replace handle with custom layout

[2019-04-17 12:50] HasanAlyazidi opened #39 "RTL Support"
## Describe the Feature
The slider works but in LTR on RTL forced apps. It would be great to support RTL.

[2019-04-18 00:18] a-koka opened #40 "Add thumbStyle"
## Describe the Feature
Add support for `thumbStyle` to allow customizing the thumb shape, colour and size. Relying on an image per style can be quite limiting for simple changes. If implemented, this could make `thumbTintColor` obsolete.

[2019-04-22 01:56] NoeFabellon opened #41 "Native Component for "RNCSlider" does not exist."
I already installed it and import it but this error shows
"Native Component for "RNCSlider" does not exist."

[2019-04-22 08:13] brlocky commented on #41
I got the same

https://take.ms/tSM5O

[2019-04-23 03:33] hecontreraso commented on #25
That's the reason why I'm not using this library

[2019-04-23 06:58] Komalov opened #42 "Build android with the latest rn-0.59.5"
## Ask your Question

[code]

I've never used supportLibVersion in my setup and have no idea how to use it now correctly. Can you please provide some help by explanation?

[2019-04-23 07:43] Komalov commented on #42
Ok, in my case setting
[code]
works

[2019-04-23 08:24] #42 closed

[2019-04-23 12:17] princiya commented on #41
+1 I have the same error.

[2019-04-23 14:45] Nikosmonaut commented on #41
+1

[2019-04-23 16:00] LG1710 commented on #41
+1

[2019-04-24 08:26] margaridaDinis commented on #41
+1

[2019-04-24 09:16] LG1710 commented on #41
You need to link and it works :
react-native link @react-native-community/slider

[2019-04-24 11:35] michalchudziak commented on #41
Yeah, exactly what @LG1710 said - you need to run `react-native link @react-native-community/slider`. Please check https://github.com/react-native-community/react-native-slider/blob/master/README.md for further instructions.

[2019-04-24 11:35] #41 closed

[2019-04-24 11:38] michalchudziak commented on #38
There's `thumbImage` on iOS. I don't think it's currently possible in android.

[2019-04-24 11:43] michalchudziak commented on #37
I like the idea! Perhaps you want to send a PR with this functionality?

[2019-04-24 11:44] michalchudziak commented on #38
It looks like you wanted to ask a question rather than request the functionality. If you're interested in having `thumbImage` on Android, please consider sending a PR :)

[2019-04-24 11:44] #38 closed

[2019-04-25 07:50] lolcookie opened #43 "Does not support typescript"
## Environment

Using react-native-web unfortunately so can't get diagnostics.

## Description

Component explodes app with this error:

[code]

## Reproducible Demo

I can add if required but it looks like the flow types are tripping up, so should be easy to test on any react-native typescript project.

[2019-04-25 14:22] wojteg1337 commented on #33
Hello, I will take care of this feature request :) you can assign me

[2019-04-26 10:30] michalchudziak commented on #43
TS typings are there: https://github.com/react-native-community/react-native-slider/blob/master/typings/index.d.ts

Perhaps you should use babel plugin to strip the flow types?

[2019-04-26 17:54] mohanio commented on #10
Hi @bobber205,
Setting alpha to 0(rgba(255,255,255,0)) can be an immediate workaround for this issue.

      <View style={[styles.container, {backgroundColor: 'rgb(236,245,255)'}]}>
                          <Slider
                            value={this.state.slider_value}
                            onValueChange={(slider_value) => this.setState({slider_value})}
                            styl

[2019-04-26 18:34] mohanio commented on #10
Looks like this is iOS UISlider's default behavior

<img width="1074" alt="Screen Shot 2019-04-26 at 11 59 42 PM" src="https://user-images.githubusercontent.com/37544608/56828887-ed20dd00-687f-11e9-8883-1a424836c045.png">

Setting alpha to 0 might be the right option here.

[2019-04-27 12:38] NerdyProjects opened #57 "Version bump to 1.1.0 breaks npm install"
## Description
Yesterday, version 1.1.0 has been published but then reverted again. Still, npm lists 1.1.0 as the newest version and currently you manually need to pin to 1.0.4 to have it work.

Can you either increase the version of 1.0.4 or revoke 1.1.0 from npm?

[2019-04-27 16:52] dayaki commented on #25
@hecontreraso which library are you using?

[2019-04-29 04:32] pfeghali commented on #41
I don't think this should be closed - this did not fix it for me, I am still getting the same error

[2019-04-30 03:58] rogueturnip opened #58 "AndroidX"
I updated to the latest npm and the androidx support has caused quite a few issues.  It seems that I have to change my root supportLibVersion to 1.0.2 to get slider to work but this caused ripple effects down my app causing other module (react-native-communit netinfo) to not find the support.v4.net library.

Did I miss a step somewhere or is react native not quite ready for modules to require the

[2019-04-30 06:07] bahmanian opened #59 "Build failed with an exception"
## Environment

React Native Environment Info:
    System:
      OS: Windows 10
      CPU: (12) x64 AMD Ryzen 5 2600 Six-Core Processor
      Memory: 21.67 GB / 31.94 GB
    Binaries:
      Yarn: 1.15.2 - C:\Users\Cheetahweb\AppData\Roaming\npm\yarn.CMD
      npm: 6.4.1 - C:\Program Files\nodejs\npm.CMD
    IDEs:
      Android Studio: Version  3.3.0.0 AI-182.5107.16.33.5314842
## Description

Afte

[2019-04-30 06:47] bakkelim commented on #41
Same for me.
One thing to note is that I use Expo and have not ejected the app.
Do I have to eject the app in order to use this slider or should it work with Expo as well?

[2019-04-30 13:32] Nerogee commented on #59
I had the same issue after install this package. Any solution.

[2019-04-30 15:14] rogueturnip commented on #58
This was a problem with 1.1.0.  My package.json was using ^ for version which cause it to break.  If androidx is going to be mainline it might be worth having information about this in the readme to let people know the process to update.  I still had issues after doing the migration with other modules so had to revert to 1.0.4.

[2019-05-01 02:58] Tiuipuv commented on #59
I also have this issue. Hope a solution comes soon.

[2019-05-01 03:32] Nerogee commented on #59
At last I removed it totally by reversing the changes made by react-native link command. At the sametime, I found the changes made by that command are different from the instructions for manual link. The changes made by command line is somewhat  @....._slider, but the manual link say @....-slider.   I think these may be clues for this issue.

[2019-05-01 11:46] gpawlik commented on #59
@Nerogee @Tiuipuv @bahmanian I realised that the reason is this dependency https://github.com/react-native-community/react-native-slider/blame/7f2f618a72a5de219c57058412bd67f809e9948b/android/build.gradle#L40 present in `1.1.0` (currently published), which was changed from `com.android.support:appcompat-v7:${rootProject.ext.supportLibVersion}` in `1.0.4` and changed back in `1.4.0` (but it's not p

[2019-05-03 14:18] aidanw opened #61 "Current version does not work."
Running `yarn add @react-native-community/slider` pulls down the broken version `^1.1.0` even though a later commit reverts the change back to `1.0.4`.

Suggest bumping to `1.1.1` or similar to keep moving forward even if the code is the same as `1.0.4` under the hood, as I guess our dependency tools just ain't that smart.

As an aside `"@react-native-community/slider": "https://github.com/react-n

[2019-05-03 15:02] aidanw commented on #41
I think I am also suffering from this problem.

This is the commit from running `react-native link @react-native-community/slider`

`https://github.com/fo-am/iCrapAppPro/commit/0ab743a8ce1d05bf41b6ed122a2da8b12e4e9a61`

I am okay on Android, but on Ios I get

The manual installation method has me drag something from `PushNotificationIOS` into my xcode... is this really what is meant?

[2019-05-06 17:00] michalchudziak commented on #57
Sorry about that,  I just got back from the vacation, and I didn't notice that unpublishing 1.1.0 failed. version `1.1.1` should be bug-free.

[2019-05-06 17:00] #57 closed

[2019-05-06 17:00] michalchudziak commented on #59
Sorry about that, I just got back from the vacation, and I didn't notice that unpublishing 1.1.0 failed. version 1.1.1 should be bug-free.

[2019-05-06 17:00] #59 closed

[2019-05-06 17:01] michalchudziak commented on #61
Sorry about that, I just got back from the vacation, and I didn't notice that unpublishing 1.1.0 failed. version 1.1.1 should be bug-free.

[2019-05-06 17:01] #61 closed

[2019-05-06 17:01] michalchudziak commented on #58
Sorry about that, I just got back from the vacation, and I didn't notice that unpublishing 1.1.0 failed. version 1.1.1 should be bug-free.

[2019-05-06 17:01] #58 closed

[2019-05-06 17:09] #43 closed

[2019-05-06 20:24] bobber205 commented on #41
Having the same issue -- link command worked fine but for some reason I'm getting that same error.

I don't think the RN team should be alerting people to switch over to this package until this is resolved. Lots of man hours wasted collectively speaking.

[2019-05-07 06:15] lolcookie commented on #43
@michalchudziak

I cannot use a babel plugin as I am using CRA as the base.

Surely there is a better solution than making every typescript user strip the flow types with a babel plugin?

[2019-05-07 07:24] morteza2m commented on #59
new version arrived, uninstalling previous version and install again worked. thank you

[2019-05-07 07:26] ENategh commented on #59
new version arrived, uninstalling previous version and install again worked. thank you

[2019-05-07 17:08] #33 closed

[2019-05-07 21:14] aidanw commented on #41
Do `pod install` and it works.

[2019-05-07 21:43] aidanw opened #62 "Slider visits every value when I drag."
## Environment

  React Native Environment Info:
    System:
      OS: macOS 10.14.4
      CPU: (4) x64 Intel(R) Core(TM) i5-4260U CPU @ 1.40GHz
      Memory: 29.04 MB / 4.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 11.14.0 - /usr/local/bin/node
      Yarn: 1.15.2 - /usr/local/bin/yarn
      npm: 6.9.0 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDK

[2019-05-07 22:30] pfeghali commented on #41
@aidanw what if users do not want to eject their application? This seems like a more fundamental issue with a native component that should not be breaking.

[2019-05-08 18:05] aidanw commented on #41
I have never used any of the not ejected stuff so I am not sure of the limitations... but yeah this pretty fundamental ui element being funky is bad news.

[2019-05-08 21:27] bobber205 commented on #41
`pod install` fixed it for me as well -- I was under the assumption that the react native link did it as well? :P

[2019-05-09 09:11] oxy88 opened #63 "[iOS] When I press slider there is no reaction."
## Environment

info
  React Native Environment Info:
    System:
      OS: macOS 10.14.4
      CPU: (8) x64 Intel(R) Core(TM) i7-7820HQ CPU @ 2.90GHz
      Memory: 53.64 MB / 16.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 8.11.1 - /usr/local/bin/node
      Yarn: 1.10.1 - /usr/local/bin/yarn
      npm: 6.4.1 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman

[2019-05-09 11:23] michalchudziak commented on #63
@ony88 can you elaborate a bit more on what's exactly happening? Are you trying to press the thumb? Perhaps you're moving it slightly on android?

[2019-05-09 15:34] aidanw commented on #63
The behaviour I see is that on Android if you click the bar (not the nubbin) the nubbin jumps to the point you click.

on ios you have to grab the nubbin and slide it.

I also prefer the Android behaviour.

[2019-05-10 01:30] oxy88 commented on #63
@aidanw
This is exactly what i mean

[2019-05-10 04:57] DanteCY opened #64 "cannot use pods"
## Environment

## Description

[!] /usr/bin/git clone https://github.com/react-native-community/react-native-slider.git /var/folders/74/djpw5tk1149dvyhglpjv1s0h0000gn/T/d20190510-55204-rxuuor --template= --single-branch --depth 1 --branch 1.1.1

Cloning into '/var/folders/74/djpw5tk1149dvyhglpjv1s0h0000gn/T/d20190510-55204-rxuuor'...
warning: Could not find remote branch 1.1.1 to clone.
fatal: Re

[2019-05-10 10:18] michalchudziak commented on #64
Can you elaborate a bit more on how you're using pods there?

[2019-05-11 19:30] bahmanian commented on #59
Still having that error. Please describe the steps you did.

[2019-05-12 08:12] CHaNGeTe opened #65 "Vertical Slider"
## Describe the Feature
Same slider but for vertical orientation
Is it supported?

[2019-05-13 10:19] michalchudziak commented on #63
This the default behavior of native `UISlider`, natively there are some differences between that and  Android's `SeekBar`.

I believe each platform users are used to these different behaviors, and I don't think we should re-create the Android version on iOS.

I'm sorry folks, I'm going to close this issue. However, I'd like to thank you very much for raising it. All these observations are very hel

[2019-05-13 10:19] #63 closed

[2019-05-13 10:22] michalchudziak commented on #65
Not yet. You can probably rotate view with your styles tho. Feel free to submit a PR to support it :)

[2019-05-13 13:20] bara495 opened #67 "Animation needed"
## Describe the Feature
A prop to enable animating the movement of the Slider since just by updating the value it looks very "grainy" and is subpar for anything presentable

## Possible Implementations
There is the same functionality in https://github.com/jeanregisser/react-native-slider and it works well for iOS, but for me disables the Slider when testing in debug mode on Android.

[2019-05-13 13:27] michalchudziak commented on #67
Thanks for reporting that! It sounds like a nice feature.

[2019-05-13 13:30] #65 closed

[2019-05-14 09:43] hernandezChristian9 opened #68 "rotate to vertical on Android Nougat"
## Environment

## Description

## Reproducible Demo

[2019-05-14 09:44] #68 closed

[2019-05-14 09:50] hernandezChristian9 opened #69 "Vertical Slider on Android Nougat"
## Description

Hi, I've tried to rotate the slider to vertical using "transform:rotate" and it show me this. I've tested this on Samsung Galaxy S7 edge on Android Nougat.

Any thoughts about why this is happening?

## Reproducible Demo

![ezgif-4-1084633681e9](https://user-images.githubusercontent.com/6622170/57688596-6a19c800-7670-11e9-8ddb-c53b2d05ae33.gif)

[2019-05-15 03:37] Russel-insureme commented on #38
i want to add some kind of dynamic layout to handler. as example i need to add lable which shows current value and changing color with disabled status. and some alignment issues having with thumbImage solution.

[2019-05-15 07:29] DanteCY commented on #64
Oh,emmm I  think this is a network problem .Tried for many times and success installed。

[2019-05-15 17:28] michalchudziak commented on #69
Does it happen on other OS versions?

[2019-05-16 01:13] hernandezChristian9 commented on #69
No, only in this version

[2019-05-21 08:56] firofame commented on #40
The thumb size for android is tiny. Do we have any workaround?

[2019-05-21 11:11] hery opened #71 "Passing an array of values"
## Describe the Feature
A `values` props that takes an array of discrete values and only allows the slider to go through those values, e.g. see this [jquery widget](https://api.jqueryui.com/slider/#option-values).

## Possible Implementations
Not sure yet. Going to look into it and add it. Would you be interested in a pull request?

## Related Issues
None

[2019-05-21 13:32] LLesage commented on #41
`pod install` if you're using cocoapods in your project. Worked for me.

[2019-05-22 08:29] michalchudziak commented on #71
Hey @hery! Indeed it sounds interesting, please send a PR, and I'll be glad to ship it :)

[2019-05-22 10:43] hery commented on #71
Good to hear thanks! iOS is ready but I'm a bit slower with Android. Quick question, should I remove `androidx` from my implementation?

[2019-05-22 13:18] jonathangreco commented on #25
I'm really interested by this one.

[2019-05-22 14:51] Noitidart commented on #25
Thanks for the vote of support @jonathangreco !

[2019-05-23 05:36] ajjubbal commented on #41
Running the following worked for me:
[code]

That being said your `README` needs to be updated with this **and** your example needs to be fixed either with complete instructions on how to build and run or make it less cumbersome to run.

[2019-05-26 08:37] AE0011 opened #72 "Secondary Progress"
How to add a secondary progress for showing buffering stream media?

[2019-05-29 07:49] muhammadwfa commented on #41
Same error here
"@react-native-community/slider": "^1.1.2",

[2019-05-29 08:04] michalchudziak commented on #72
I don't think this functionality is supported atm. I'd consider writing a different component to handle that case.

[2019-05-29 08:04] #72 closed

[2019-05-29 16:10] bobber205 commented on #41
@muhammadwfa Did `pod install` not do the trick for you?

[2019-06-02 10:37] muhammadwfa commented on #41
Actually this was not an issue
I solved by `react-native-link`
@bobber205

[2019-06-02 10:39] Stunner commented on #41
How did you end up solving it? @muhammadwfa

[2019-06-02 10:40] muhammadwfa commented on #41
by linking

`react-native link @react-native-community/slider`

[2019-06-03 14:19] findlay-hannam commented on #43
I had this same problem. Using https://babeljs.io/docs/en/babel-plugin-transform-flow-strip-types didn't help

[2019-06-04 10:25] joIivier commented on #41
I had the same issue and for me this was due to the fact that I had overridden the `ReactPackage`s in `MainApplication.getPackages()`. I had to add `new ReactSliderPackage();` (imported from `com.reactnativecommunity.slider.ReactSliderPackage;`) to the returned list to fix this.

[2019-06-04 13:20] ptrocki commented on #9
@cinder92 still exist
[code]

[2019-06-09 08:52] orkunsenturk commented on #71
Hi @hery ,
I was looking for a slider component exactly like you mentioned.
Here is a use case.
I am trying to make a small utility for ER doctors to determine very quickly the amount of a medicine which stops heavy bleedings.
And there is a slider i need there which has the values like 2.0 - 2.1 - 2.3 - 2.8 - 3.1 - 3.3 - 3.7 and so, without a contstant amount of increments.

When do you think thi

[2019-06-09 17:14] hery commented on #71
Hi @orkunsenturk, it's ready on iOS but I'm still figuring out a few things on Android.

The logic is a bit different on Android so my implementation is a little buggy, but I'll try to fix it soon.

[2019-06-10 06:54] markymc opened #78 "[ios] Setting thumbImage doesn't work if thumbTintColor is also set"
## Environment

[code]

## Description

I have just upgraded from RN 0.57.7 to RN 0.59.9 and alongside it moved to this version of Slider due to the deprecation warnings. I noticed that my thumb image had stopped working on iOS, and after some debugging realised that if I commented out the `thumbTintColor` it would then use the image correctly. However, of course I need the tint for Android, so I'

[2019-06-10 08:46] dakkafex opened #79 "odingComplete"
## Environment

## Description

## Reproducible Demo

[2019-06-10 14:24] mihaistiuca opened #80 "Is it possible to have another zone at the right of the thumb, for video pre-load?"
I want to use the slider as a video progress bar. On youtube for example, the progress bar has a zone that shows how much of the video is already loaded in memory.

Is there a way to add a zone of a different color at the right of the thumb, that would represent the section of the video being loaded at a specific time?

See the image bellow for a better understanding:

<img width="350" alt="Screen

[2019-06-10 23:21] blakeperdue commented on #65
@CHaNGeTe did you have any luck? I tried this but the sliding on Android is odd ... it's hard to get it to move and when it does it often moves in the opposite direction of the gesture.

[2019-06-11 07:15] michalchudziak commented on #80
Currently, it's not possible :(

[2019-06-11 07:16] michalchudziak commented on #79
Hey, it looks like you accidentally opened this issue. If I'm mistaken, please fill in the bug report and re-open this issue.

[2019-06-11 07:16] #79 closed

[2019-06-12 16:04] CHaNGeTe commented on #65
Nope, I am considering using https://www.npmjs.com/package/rn-vertical-slider for the vertical one

[2019-06-14 03:39] chakrihacker commented on #25
Hi, @michalchudziak what're your thoughts on this??
1. Add libs as dependencies and write RN wrappers
2. implement/take some good chunks step by step from the libs??

[2019-06-17 16:22] uzairkhan01 opened #82 "Android build failed : Task :@react-native-community_slider:compileDebugJavaWithJavac FAILED"
## Environment Android only

info
  React Native Environment Info:
    System:
      OS: macOS High Sierra 10.13.6
      CPU: (4) x64 Intel(R) Core(TM) i7-2640M CPU @ 2.80GHz
      Memory: 568.49 MB / 8.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 8.11.3 - /usr/local/bin/node
      Yarn: 1.9.4 - /usr/local/bin/yarn
      npm: 5.6.0 - /usr/local/bin/npm
    SDKs:
      iOS SDK:

[2019-06-17 22:30] Taylor123 commented on #82
started experiencing this today as well. Looks like there were some releases with breaking changes: https://developers.google.com/android/guides/releases

[2019-06-18 01:02] kurtmcintire commented on #41
I'm seeing the same issue. `Invariant violation: requireNativeComponent: "RNCSlider" was not found in the UIManager`. I've tried re-linking using `react-native link` and `react-native link @react-native-community/slider`. I've tried running a manual `pod install` in the `ios` folder. And I've also tried blowing out and resetting all node modules.

My instance of Slider is imported like this:
`impo

[2019-06-18 07:59] #82 closed

[2019-06-18 16:15] Taylor123 commented on #82
posting this here so others have more info: https://github.com/facebook/react-native/issues/25293

[2019-06-18 18:24] wayneprim90 opened #83 "Compatibility with Expo"
## Ask your Question
Does this work with an expo app or do i have to eject?

[2019-06-18 20:17] natasha08n commented on #82
Can you reopen this issue please? Since it hasn't been fixed yet @uzairkhan01

[2019-06-18 21:13] Taylor123 commented on #82
What's happening is dependencies are defaulting to the latest play services or google android apis, so you just need to set the version in your `android/build.gradle` file similar to the following

[code]

[2019-06-19 10:51] Kiran0791 commented on #82
My project is converted to androidx and i have the latest slider Package @react-native-community/slider": "^1.1.3". But still build is failing with error: package android.support.v7.widget does not exist.
Can someone help me on this

[2019-06-19 18:33] Taylor123 commented on #82
@Kiran0791 since you're on `androidx`, you'll need to convert this package to `androidx` for your project. The package below can help since Jetifier doesn't run on react-native node_modules since they're local dependencies.

https://github.com/mikehardy/jetifier

[2019-06-20 00:07] a-koka opened #84 "Android: Tint color inconsistency"
## Environment

[code]

## Description

When `maximumTintColor` matches `minimumTintColor`, Android overrides the colour setting and makes `maximumTintColor` lighter than `minimumTintColor`.

Also, something like below will be ignored as it appears that Android likes to paint a more visible shade on the minimum side.

[code]

[2019-06-20 11:09] michalchudziak commented on #83
It's a native module, so you have to eject :(

[2019-06-20 11:09] #83 closed

[2019-06-20 11:09] #80 closed

[2019-06-20 17:48] holtc opened #85 "Add option to allow customization of the thickness of the slider bar"
## Describe the Feature
It would be great to allow the option to customize the thickness of the slider bar itself.  Something like a `thickness` prop.

[2019-06-21 01:12] KonstantinKolodnitsky opened #86 "View config not found for name RNCSlider"
## Ask your Question

Just switched to this package. Getting this error on Android. The project itself builds fine. Testing on the real device. It was working fine with default react slider. The package is linked properly. What do I do wrong? How can I fix it?
Thanks

Env:
MacOS Mojave 10.14.5
react-native: 0.59.9
react: 16.8.6
@react-native-community/slider": "^1.1.3"

My code is:

        <RNCam

[2019-06-25 09:17] rckahale commented on #41
In my case it didn't work after re-linking.
This fixed it
- `npm start -- --reset-cache`
- Followed by installed app deletion from emulator/device.
- Then `react-native run-<os>`

[2019-06-25 13:07] ruha9005 commented on #42
I don't think this issue should be closed. It's definetly not correct when some module depends on project variable.

[2019-06-26 11:26] Moji0098 commented on #32
what value get the **thumbImage** ?

[2019-06-26 19:11] cmacdonnacha commented on #41
Does this work without ejecting Expo?

[2019-06-26 19:19] cmacdonnacha commented on #83
Know of any good alternative?

[2019-06-27 14:15] Nisanth-Reddy commented on #62
remove onValueChange, this triggers on each small movement

[2019-06-30 12:13] michalchudziak opened #88 "Fix detox to work with RN 0.60"
We should fix detox tests as soon as they introduce RN 0.60 support, for now, I'll disable them in the RC build.

[2019-07-01 14:31] MuhammadUzair commented on #82
@Kiran0791 , I fixed this issue by changing code in node_module.

steps:
1- Open `node_modules/react-native-slider/android/build.gradle`

2- change api "androidx.appcompat:appcompat:${rootProject.ext.supportLibVersion}"
to
`api "androidx.appcompat:appcompat:1.0.2"`

3-  Open `node_modules/react-native-slider/android/src/main/java/com/reactnativecommunity/slider/ReactSlider.java`

4- change import

[2019-07-04 13:10] mrigo opened #89 "Yoga not found when run"
## Environment

[code]

## Description

I've installed react-native-slider and on iOS works without problem, in Android I've got this error:

[code]

## Reproducible Demo

This is my gradle

[code]

[2019-07-05 01:04] msqar opened #90 "Component 'RNCSlider' re-registered direct event 'topSlidingComplete' as a bubbling event"
## Environment

System:
    OS: macOS 10.14.5
    CPU: (4) x64 Intel(R) Core(TM) i5-5287U CPU @ 2.90GHz
    Memory: 30.62 MB / 8.00 GB
    Shell: 5.3 - /bin/zsh
  Binaries:
    Node: 11.6.0 - /usr/local/bin/node
    Yarn: 1.16.0 - /usr/local/bin/yarn
    npm: 6.5.0-next.0 - /usr/local/bin/npm
  SDKs:
    iOS SDK:
      Platforms: iOS 12.2, macOS 10.14, tvOS 12.2, watchOS 5.2
  IDEs:
    Android St

[2019-07-05 11:35] adbs1 commented on #90
Likewise. Seems it's deprecated in react-native's ReactSlidingCompleteEvent.java but not removed ?

[2019-07-05 19:57] msqar commented on #90
@adbs1 it worked! no more error shown... will I be able to use this one from now on without having to update it again? or is this a time-based fix? Thanks btw.

[2019-07-05 21:23] adbs1 commented on #90
No worries. It's in prerelease so usable but will become official at some point soon. I suggest you close this bug as its a duplicate of #87 which is where the fix derives from. Subscribe to that one so you know when it's official.

[2019-07-05 21:28] msqar commented on #90
@adbs1 yes! closing :) thanks again, i will subscribe to that one.

[2019-07-05 21:28] #90 closed

[2019-07-08 12:22] michalchudziak commented on #89
I guess you need to list RN in repositories (from node_modules)

[code]

[2019-07-08 12:23] #89 closed

[2019-07-09 14:45] Moji0098 opened #92 "trackStyle and thumbStyle"
in past version that depricated we have two property **trackStyle** and **thumbStyle** , but in this version of **react-native-slider** we have not this feature !! what do i for change thumb and track style ? :((

[2019-07-09 15:52] Moji0098 commented on #29
thumbTouchSize is not work !!

[2019-07-15 03:35] mikeaustin commented on #43
Really? I was hoping React Native components worked with React Native for Web. I'm using Create React App to start with–eventually I'll convert it to custom webpack, but I just got started.

[2019-07-15 10:17] michalchudziak commented on #92
Can you provide me the output of your `react-native info`? Also, keep in mind that these properties are supposed to work only on iOS.

[2019-07-16 08:02] Moji0098 commented on #92
[android linking](https://facebook.github.io/react-native/docs/native-modules-android)
this link have good expression for linking package to project . help me

[2019-07-19 22:39] jonstuebe commented on #43
Doesn't seem like this should be closed. Still an issue, any ideas?

[2019-07-22 14:30] mynia commented on #41
If the above mentioned solutions are not working try to restart the app

[2019-07-22 21:33] bobber205 opened #95 "Upgrading to AndroidX (required for RN 0.60.x) breaks this package"
## Environment

System:
    OS: macOS 10.14.5
    CPU: (4) x64 Intel(R) Core(TM) i5-5287U CPU @ 2.90GHz
    Memory: 73.84 MB / 8.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 11.13.0 - /var/folders/11/4dsnq9p12xx9s0lt7l20fbfh0000gq/T/yarn--1563831095058-0.9824635078112827/node
    Yarn: 1.15.2 - /var/folders/11/4dsnq9p12xx9s0lt7l20fbfh0000gq/T/yarn--1563831095058-0.9824635078112827/yar

[2019-07-26 02:04] 67millwood commented on #41
I've cleared cache, linked, ejected etc.  No luck.  I've seen bits online that it won't work with Expo but possibly i've read that wrong.  Not explicit in the readme so assume that isn't the case.

[2019-07-26 08:25] webraptor commented on #41
Readme doesn't contain that ...

[2019-07-26 09:18] strobox commented on #41
Same. Not working.

[2019-07-26 09:20] webraptor commented on #41
Depending on your RN version you should either be on 1.X.X or 2.X.X.
after linking, make sure that you run pod install for ios as well.

[2019-07-26 09:52] strobox commented on #41
Yes, helped for me. Lot of thanks!

[2019-07-27 17:07] hsiaotinghung commented on #41
This works for me to fix the same issue when running on android simulator!

[2019-07-28 22:53] bimix commented on #82
I couldnt find any of these lines that you have mentioned, they just dont exist in my package.

[2019-07-29 18:57] willedanielsson commented on #41
I think its due to your React Native being of version < 0.6 but your Slider is version > 2.0. Either upgrade your React Native version or downgrade Slider to 1.x.x

[2019-07-30 08:09] MuhammadUzair commented on #82
@bimix if the bug still exists in new version then install version `1.1.3` of react-native-slider and implement above changes.

[2019-07-30 10:01] gabrielslach commented on #41
this worked for me

[2019-07-31 21:45] bobber205 commented on #95
to fix this all you need to do is add jetify to your dev depends and then add

`"postinstall": "npx jetify"` to your scripts in package.json

[2019-07-31 21:45] #95 closed

[2019-08-02 16:40] Kikketer opened #96 "iOS thumbTintColor causes handle to offset slightly"
## Environment

System:
    OS: macOS 10.14.4
    CPU: (8) x64 Intel(R) Core(TM) i7-7920HQ CPU @ 3.10GHz
    Memory: 1.13 GB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 8.12.0 - ~/.nvm/versions/node/v8.12.0/bin/node
    Yarn: 1.17.3 - /usr/local/bin/yarn
    npm: 6.9.0 - ~/.nvm/versions/node/v8.12.0/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    iOS SDK:

[2019-08-03 14:16] joshuapinter commented on #65
We got it working with:

[code]

Note the _negative_ 90 degrees. That helps slide things up and down in the correct direction.

![vertical slider](https://user-images.githubusercontent.com/180819/62412978-e87a6c00-b5c6-11e9-8544-8c9a08a775c3.gif)

[2019-08-06 09:01] jocoders commented on #92
Good day! Can you tell me please how can i change the thumb size?

[2019-08-06 09:50] 1int commented on #41
Doesn't work on expo for me, react-native-link is of no help

[2019-08-07 13:38] khanof89 commented on #82
By default running npm install @react-native-community/slider will install version 2.0.0 which is not compatible with react native 0.5X.X 2.0.0 is compatible only with react native version 0.60.0

[2019-08-07 14:47] MuhammadUzair commented on #82
@khanof89 if your react-native <= 0.59 then :
npm install @react-native-community/slider@1.1.3
or
npm install @react-native-community/slider@1.1.4

[2019-08-08 12:55] incandescentxxc commented on #84
(ANDROID) Same problem happens not only "when maximumTintColor matches minimumTintColor". Seems the maximumTintColor is always lighter than the original color. e.g. If you use "#000000", it's obvious that the default grey color is not overridden at all.

[2019-08-09 20:04] dhruvalpatel18 commented on #65
I want multiple vertical sliders side by side with steps. Also, want to change the thumb with a different image. Using this library, if you rotate the slider, it keeps the width and height size same as before and so it doesn't work if you want multiple sliders in a row. Please provide any solution.

[2019-08-13 07:58] #62 closed

[2019-08-13 07:58] #64 closed

[2019-08-14 21:44] smartcris commented on #65
Meanwhile there is a nice tutorial [here](https://blog.bam.tech/developper-news/create-vertical-slider-with-react-native-panresponder) to make a vertical slider.

[2019-08-15 21:39] partriv commented on #41
had the same issue, running react-native link, and pod install helped me as well. The README should be updated.

[2019-08-16 04:36] Sugarya commented on #9
I also have a similar bug with react-native 0.57.8.  I use another slider (https://github.com/jeanregisser/react-native-slider) instead of the slider of React Native component, and It does work!
![57E4767E-A811-bug-desc](https://user-images.githubusercontent.com/11289027/63143660-fe098000-c021-11e9-8f58-5085cec5c199.jpg)

[2019-08-16 07:27] noecs opened #97 "How to adjust the size of the thumb button"
[code]

How to adjust the size of the thumb button，I checked the issue and found no useful information. Now it works on my page, but the thumb button is too big and looks very ugly

[2019-08-17 18:29] ptaberg commented on #41
I solved it with the next steps:

- `yarn add @react-native-community/slider@1.1.3`
- react-native link
- restart your project with `react-native start --reset-cache`
- and command which has to be in you scripts `rm -rf node-modules && yarn install && cd ios && rm Podfile.lock && pod install`, and voila!

If you see this error again, so restart your server and just try to run one more time.

_**P.

[2019-08-18 10:56] nikechanhk commented on #41
It is solved after running link.
I think it should be mentioned in the first page readme.

[2019-08-20 12:30] canyavall opened #98 "Remove space before and after the slider bar"
When a new Slideer is created, it is created inside a view and I can see an space before and after the slider (just set backgroundColor='red' on the style)

This is quite annoying in order to make it if with other components as the slider is always a bit smaller

Is this done in purpose? Can those spaces (padding or margin) be removed and make the bar use 100%

I tried setting the padding, margin,

[2019-08-23 16:29] harrydema commented on #97
+1

[2019-08-28 10:14] ShaMan123 opened #99 "Support native events"
## Describe the Feature

**Native Events** instead of ~js events~:
`onValueChange`
`onSlidingStart`
`onSlidingComplete`

## Possible Implementations

Supporting **native events** will unlock the abilities of `Animated.event` enabling tracking the Slider's value and animating stuff accordingly.
This will enable customizing this view to a large extent easily and with high performance

.
### Android

[2019-08-28 10:20] ShaMan123 commented on #39
try this:
[code]

[2019-08-28 12:19] alk831 opened #100 "Android build lint error - "Value must be ? 0 (was -2)""
## Environment

[code]
## Description
When I try to build android app with command `gradlew build`, I get the following lint error.
[code]
https://github.com/react-native-community/react-native-slider/blob/master/android/src/main/java/com/reactnativecommunity/slider/ReactSliderManager.java#L68

## Reproducible Demo
Run android app build with `gradlew build` command.

[2019-08-28 23:59] daxaxelrod commented on #82
I went through gradle.bat installDebug --info for more info. I got
[code]
But when I check the build.gradle of the npm installed v2.0 version, i don't see anything refering to AppCompatSeekBar or androidx.appcompat.widget.AppCompatSeekBar

[2019-08-29 07:58] chellongCoder commented on #32
how to change size of thumbimage? it must be scale for multi devices

[2019-09-04 11:32] jamesmcn1 commented on #41
This works for me on RN 0.59

[code]

[2019-09-04 14:28] msqar opened #103 "Avoid jumpy thumb behavior when sliding (spam of setState)."
Is there any way to prevent the jumpy behavior whenever sliding the thumb through the slider?
I'm setting the state every time an onChange happens, I even added a debounce of 33ms, it got better but still happens. How can I create a smooth experience? I need to set a state because I also have an indicator of the current value within the component. So it's nice to have the number changing according

[2019-09-06 12:52] Iyoss commented on #84
I think the problem is that the “progress bar" background has a layer with translucence, so we are getting wrong colors.
Therefore I suggest to rewrite the Slider progress bar.
-  you need to change your `./android/app/src/main/res/values/styles.xml` file:
[code]
- and to add a `seekbar_style.xml` file to `./android/app/src/main/res/drawable` directory
[code]

[2019-09-06 15:40] akrger opened #104 "Implement thumbImage for Android"
## Describe the Feature

The `thumbImage` should work on both platforms, ideally by not changing the current API.
## Possible Implementations

I tried to supply a ReadableArray as a prop, but failed to do so (`require('assetsource')` returns a double - how can one get the image data from that?).
## Related Issues

[2019-09-06 16:05] shanekoss opened #105 "thumbImage doesn't resize to fit in slider container"
## Environment

System:
    OS: macOS High Sierra 10.13.6
    CPU: (8) x64 Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz
    Memory: 71.24 MB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 10.16.3 - /usr/local/bin/node
    Yarn: 1.17.3 - /usr/local/bin/yarn
    npm: 6.9.0 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    iOS SDK:
      Platforms: iOS 12.1,

[2019-09-08 07:09] vistafang commented on #82
Also running into this - has anyone got a solution yet?
Using react native 0.57 and slider 1.1.3

[2019-09-08 07:15] Dror-Bar commented on #104
Is there another library that can do this?

[2019-09-08 13:15] akrger commented on #104
Yes, but it is using deprecated React lifecycle functions (`componentWillReceiveProps`). It would also be nice to have the thumb image support in the official React Native slider package, to not be dependent on another package.

[2019-09-08 13:33] Dror-Bar commented on #104
Yes it uses some deprecated functions, and yet it seems that it is a superior library to it's greatly enhanced control over the component.

[2019-09-09 13:38] msqar commented on #103
Okay, i found a stackoverflow with a similar error. All was caused by the value prop re-setting the state twice, this was causing an undesirable effect, also, i could remove the debounce as well to make it update the variable smoother.

[2019-09-09 13:38] #103 closed

[2019-09-10 14:29] akrger commented on #104
I opened a pull request. https://github.com/react-native-community/react-native-slider/pull/106

[2019-09-11 12:36] Technaur commented on #92
@michalchudziak is there any way you can change the track style? Like how heigh/thick the track is, or if the track can have a border, etc..

[2019-09-18 12:56] MBach commented on #9
According to Crashlytics, I just had this `NullPointerException` on Android 6.0 and Huawei Y6II

[2019-09-18 14:29] YajanaRao opened #107 "Slider thumb alignment in Android 5.0 API 21."
## Environment

System:
    OS: Windows 10
    CPU: (8) x64 Intel(R) Core(TM) i7-7700 CPU @ 3.60GHz
    Memory: 1.08 GB / 7.89 GB
  Binaries:
    Node: 10.16.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.3.2 - C:\Users\admin\AppData\Roaming\npm\yarn.CMD
    npm: 6.9.0 - C:\Program Files\nodejs\npm.CMD
    Watchman: 4.9.1 - C:\watchman.EXE
  SDKs:
    Android SDK:
      Android NDK: 20.0.5594570

[2019-09-20 13:12] codler opened #108 "Invariant Violation: requireNativeComponent: "RNCSlider" was not found in the UIManager."
## Environment
System:
    OS: macOS 10.14.6
    CPU: (4) x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz
    Memory: 279.09 MB / 8.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 12.10.0 - /usr/local/bin/node
    npm: 6.10.3 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    iOS SDK:
      Platforms: iOS 12.4, macOS 10.14, tvOS 12.4, watchOS 5.3
    Android SDK:

[2019-09-20 19:08] misraelson opened #109 "Slider thumb button jumping all over the screen on iOS 13"
## Environment

"expo": "^31.0.0",
 "react": "16.5.0",
  "react-native": "https://github.com/expo/react-native/archive/sdk-31.0.0.tar.gz",
  "react-navigation": "^2.14.2"

## Description

I just updated my iPhone 8+ to iOS 13 and have noticed some strange new behavior with the slider. When pressed and moved it jumps erratically all over the screen from left to right, darting back and forth.

I'm n

[2019-09-20 19:13] misraelson commented on #109
![slider-bug](https://user-images.githubusercontent.com/17835964/65352684-1a0fbc80-dba0-11e9-9b72-681edf911aae.gif)

[2019-09-21 12:53] cseelus commented on #109
Same with current version of React (`16.9.0`) and React Native (`0.60.5`).

If someone has the same problem: Any workaround to fix/circumvent this issue would be appreciated ⛈

[2019-09-22 17:11] waloc commented on #109
Same here

[2019-09-24 06:16] arelstone commented on #108
I'm getting the same error.

## Steps:
`npm i @react-native-community/slider`
`react-native link @react-native-community/slider`
`react-native run-ios`

react-native version: 59.5

[code]

[2019-09-24 08:08] waleedarshad commented on #25
+1

[2019-09-25 14:54] jefferson-docway commented on #108
Same here

[2019-09-25 20:40] btechgroup commented on #108
same here :-(

[2019-09-27 09:21] michalchudziak commented on #108
Thanks for reporting that, I'll check it out.

[2019-09-30 06:13] mohmmd-ishtiaq commented on #108
Any update on this ?

[2019-09-30 11:29] #9 closed

[2019-09-30 12:39] evelinamihailova commented on #108
I'm experiencing the same issue

[2019-10-01 20:16] cristianoccazinsp commented on #109
Same here, not as bad as the above, but it moves very awkwardly.

[2019-10-02 08:20] AideProjet commented on #109
Hello guys, any news?

[2019-10-02 09:48] #104 closed

[2019-10-02 09:48] wojteg1337 commented on #104
@akrger thanks for your contribution. Merged the pr and released new lib version

[2019-10-02 10:37] akrger commented on #104
@wojteg1337 Thanks!

[2019-10-02 10:52] fredyonge commented on #108
Same issue, any update?

[2019-10-02 21:27] michalchudziak commented on #109
Hey, I’m sorry but I cannot give you any ETA on fixing this due to very limited capacity. If there’s anyone who’d like to tackle this issue, I’d really appreciate that. Otherwise I’ll try to take a look at it somewhere this month.

[2019-10-04 12:21] jdisho commented on #109
You can also consider [react-native-slider](https://github.com/jeanregisser/react-native-slider). Seems to work fine in `iOS 13`.

[2019-10-04 13:30] paolospag commented on #109
@michalchudziak
Similar issue here, both on simulator and real device with iOS 13.
On touch start, the slider jumps back and forth until the touch stops.

[code]

[2019-10-06 07:45] tabfed commented on #109
mee to

[2019-10-07 07:54] paolospag commented on #109
This [PR](https://github.com/react-native-community/react-native-slider/pull/111) should resolve the problem, it works like a charm for me!

[2019-10-07 09:32] #109 closed

[2019-10-07 09:37] wojteg1337 commented on #109
Released 2.0.2 version with the fix.

Thanks @Krizzu for the contribution!

[2019-10-07 10:30] wojteg1337 commented on #108
Did you guys run `pod install`?

[2019-10-07 18:09] bobber205 commented on #97
I've found it'll be whatever the size of your image natively is -- reduce the image dimensions and it'll go down in the app too (bad solution I know :( )

[2019-10-07 18:12] bobber205 opened #112 "Same Image for ThumbImage Looks Drastically on Different Platforms"
Related to: https://github.com/react-native-community/react-native-slider/issues/97

I'm attaching two images, first is iOS with the thumb image looking great.
I love the support for Android but the image is SO small.

![image](https://user-images.githubusercontent.com/5841107/66336993-18a9f800-e8f3-11e9-8ba3-c2f1423174a9.png)

![image](https://user-images.githubusercontent.com/5841107/66337103-56

[2019-10-07 21:13] misraelson commented on #109
Thanks @Krizzu!!

[2019-10-09 23:10] bobber205 opened #114 "2.0.2 doesn't work on Android Release Mode"
Straight up no image when in release/production mode. Works fine in debug mode.

[2019-10-13 07:01] ablankenship10 commented on #108
This is only for mac right? What about linux? I imagine we're all using Expo with this issue, does this module work with Expo?

[2019-10-14 13:34] ulazarevic commented on #114
same behaviour for me :(

[2019-10-15 07:10] Technaur commented on #114
I tested on Android 7 and Android 10, does not work in release mode.

[2019-10-15 08:47] hzburki commented on #108
@ablankenship10 `react-native link` didn't do anything either. Btw I'm on mac

[2019-10-15 09:38] hzburki commented on #109
What about for versions `1.*.*`. I haven't upgraded to `RN 0.60` yet. I can't use the latest release!

[2019-10-15 11:07] fredyonge commented on #108
Same Problem: Mac, No Expo:

cd "ios Folder"
pod install

solved it for me

[2019-10-16 02:01] vizkid2005 opened #116 "Can use 2.x.x with react-native 0.59 ?"
## Can I use version 2.x.x with react-native 0.59 ?

I read the README and it says to use version 1.x.x with react-native 0.59 and below. However, [this](https://github.com/react-native-community/react-native-slider/pull/111) bugfix is not part of the 1.x.x

I require that bugfix for iOS13 stability.

Can you please provide some guidance ?

[2019-10-16 06:49] HananeAlSamrout commented on #109
still having the issue
react-native version 0.61.2
slider version 2.0.2

[2019-10-16 19:12] hzburki commented on #108
I had to quit the terminal and start it again after `pod install` to make it work for me.

[2019-10-16 20:52] misraelson commented on #109
Yes this is still a problem as the deprecated slider used in managed Expo apps has issues on iOS 13 and there is currently no way for managed Expo apps to use the react-native-community slider! And in order to get the patch for the slider to work on iOS 13, we need the ability to add that package. Any idea on when the ability to add the react-native-community-slider to managed expo apps will be in

[2019-10-17 01:29] ogabrielsantos commented on #98
You could temporarily put it inside a view with negative margins:

[code]

[2019-10-17 06:36] huuthinh245 commented on #114
same problem can't see image on release mode, debug work well

[2019-10-22 10:24] wojteg1337 commented on #114
Thanks for reporting the issue, will try to check that in next days

[2019-10-23 13:54] 67millwood commented on #109
also changed over to react-native-slider 0.11.0 from the base Slider in RN.  jumping issue went away.  seems like a far less used Slider so would rather have more popular one avail and working in ios13.  fine for now tho.

[2019-10-23 20:36] sergei-zelinsky commented on #109
Hello there,

I use `react-native v0.59` and `@react-native-community/slider v1`. Currently, I am not able to migrate the whole project to the latest version of React Native. Could you please make this fix for `v1` too?

Thank you very much for your contribution to the open-source community 👍

[2019-10-24 08:54] EJohnF opened #118 "onSlidingComplete is not working on Android"
## Environment

System:
    OS: macOS 10.14.6
    CPU: (8) x64 Intel(R) Core(TM) i5-8257U CPU @ 1.40GHz
    Memory: 22.35 MB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 10.16.0 - /usr/local/bin/node
    Yarn: 1.19.0 - /usr/local/bin/yarn
    npm: 6.11.3 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    iOS SDK:
      Platforms: iOS 12.4, macOS 10.14,

[2019-10-24 12:19] gdoudeng opened #119 "Missing thumbImage after assembleRelease"
## Environment

[code]

## Description

Missing thumbImage after assembleRelease in Android

## Reproducible Demo

[code]
`in dev`
![avatar](https://iplus-studio.top/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87%E7%BC%96%E8%BE%91_20191024201452.jpg)

`after assembleRelease`
![avatar](https://iplus-studio.top/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87%E7%BC%96%E8%BE%91_20191024200730.jpg)

[2019-10-24 14:02] luisespinoza commented on #114
It also crashes when setting thumb tint color on android.

[2019-10-24 16:39] fcopardo commented on #114
PR sent: https://github.com/react-native-community/react-native-slider/pull/120

[2019-10-25 02:23] huuthinh245 commented on #119
i have the same problem . More infomation, i checked logcat android in release mode throw the error  java.net.MalformedURLException: no protocol

[2019-10-28 10:24] jsnx commented on #43
Same problem here. Can we open it again please.

[2019-10-28 11:49] wojteg1337 commented on #114
PR: #120 does not solve the issue we face, it's rather related to other crash.

I work on the refactoring of the project structure to be able to build a project in release mode. Will try to merge my fix today :)

[2019-10-28 12:40] dbilgin commented on #92
I was wondering about these features too, why were they removed?

[2019-10-28 16:07] bobber205 commented on #114
@wojteg1337 Looking forward to it!

[2019-10-30 09:59] #114 closed

[2019-10-30 10:24] wojteg1337 commented on #114
Looks like it's fixed with latest release 2.0.3, please guys try the release and reopen an issue if there is still a problem with release version on android :)

[2019-10-30 10:25] wojteg1337 commented on #114
@bobber205

Looks like it's fixed with latest release 2.0.3, please guys try the release and reopen an issue if there is still a problem with release version on android :)

[2019-10-30 12:48] Technaur commented on #114
@wojteg1337 I updated to version 2.0.3, but I am still having the same issue. Does not show the image in release mode on Android. Debug mode is fine.

[2019-10-31 02:24] gdoudeng commented on #119
The problem still exists in 2.0.3

[2019-10-31 14:08] chakrihacker commented on #37
Fixed

[2019-10-31 14:08] #37 closed

[2019-11-06 07:59] geka412315 commented on #108
guys, you can use this slider from react native documentation instead.
https://facebook.github.io/react-native/docs/0.9/slider

[2019-11-06 09:07] wmonecke commented on #108
@geka412315 We are all using this library because that one is deprecated and will eventually leave React Native Core.

I checked my `Podfile` and nothing was added after `npm install @react-native-community/slider --save`. Doing `pod install` will then do nothing.

Please make sure that you see this in your Podfile before doing `pod install`:

` pod 'react-native-slider', :path => '../node_modules

[2019-11-06 10:59] geka412315 commented on #108
"react-native": "https://github.com/expo/react-native/archive/sdk-35.0.0.tar.gz",

    "@react-native-community/slider": "^2.0.3",
.podspec file
require 'json'

package = JSON.parse(File.read(File.join(__dir__, 'package.json')))

Pod::Spec.new do |s|
  s.name         = "react-native-slider"
  s.version      = package['version']
  s.summary      = package['description']
  s.license      = package['

[2019-11-06 11:32] wmonecke commented on #108
@geka412315

No, not that file. Go to `ios/Podfile` and open it.

[code]

then do `pod install`

[2019-11-06 11:56] geka412315 commented on #108
i have windows OS

[2019-11-06 12:14] wmonecke commented on #108
@geka412315 I think we are misunderstanding each other. What version of React Native are you using? If it is 0.59 or lower, then just `import { Slider } from 'react-native'` as you said. When upgrading to 0.60 and above you will see the Podfile.

[2019-11-06 14:49] geka412315 commented on #108
@wmonecke thanks for explanation

[2019-11-06 18:16] fahadhaq commented on #119
has anyone found a solution to this issue?

[2019-11-08 03:31] gdoudeng commented on #119
This is urgent, I hope someone can solve this problem.

[2019-11-09 07:00] javadi69 opened #123 "Crashes on Android 6.0 (sometimes)"
## Environment

React-Native version: 0.61.4
Slider version: 2.0.3

## Description

I have some crash reports on Google Play Console only for Android 6.0

  at android.animation.AnimatorSet.clone (AnimatorSet.java:700)
  at android.animation.AnimatorSet.clone (AnimatorSet.java:51)
  at android.animation.Animator$AnimatorConstantState.newInstance (Animator.java:562)
  at android.animation.Animator$

[2019-11-09 15:51] tmaly1980 commented on #92
I actually don't see those props mentioned in the react-native core docs. Perhaps you're thinking of this third party library?

https://github.com/jeanregisser/react-native-slider

[2019-11-09 15:53] dbilgin commented on #92
@tmaly1980 you are right, but it seems like that library is getting deprecated and not very active. Is there any chance we could get these capabilities here?

[2019-11-09 15:59] tmaly1980 commented on #92
@dbilgin I'd assume since it's mostly native, that there would be Java/Swift code involved. There is this other library available that seems more recent (haven't tried yet):

https://azir.io/docs/components/core/slider

[2019-11-09 16:00] dbilgin commented on #92
@tmaly1980 thank you, I haven't seen this one, I'll try it out!

[2019-11-09 16:23] tmaly1980 commented on #92
@dbilgin Works beautifully for me!

[2019-11-10 02:21] gdoudeng commented on #119
Can someone help me, which affects my app release😭😭😭

[2019-11-12 21:07] ajimae opened #124 "Workspace Integrity - Couldn't load project RNCSlider.xcodeproj"
## Environment
[code]
## Description

After installing `@react-native-community/slider` using `yarn add @react-native-community/slider` and then `react-native link @react-native-community/slider` everything works fine, except my xCode cannot build the RNCSlider.xcodeproj project for some odd reason and it's preventing the entire app from building.

## Reproducible Demo

Steps to reproduce:
- yarn

[2019-11-14 12:14] wojteg1337 commented on #124
@ajimae could you try using newer version of slider 1.1.4 ?

[2019-11-14 12:15] wojteg1337 commented on #116
![image](https://user-images.githubusercontent.com/18573330/68856462-d4bfc500-06e0-11ea-8a60-00cef71c4675.png)

[2019-11-14 12:16] #116 closed

[2019-11-14 12:31] #119 closed

[2019-11-14 12:40] #108 closed

[2019-11-14 14:39] #100 closed

[2019-11-14 14:42] wojteg1337 commented on #123
Hello @javadi69!
Do you have any repro steps?

[2019-11-16 07:33] javadi69 commented on #123
@wojteg1337
I'm using slider in video player and try to hide and display it over time or user press.
I personally never seen such crashes but there are some reports on Google Play Console.
These crashes seen only on Android 6 and Android 7
These are my functions to animate it:
<pre>
showControls = () => {
    this.setState({ hideControls: false }, () => {
      Animated.parallel([
        Animated

[2019-11-18 01:30] brooklyn097 commented on #123
Any updates on this issue? I'm having the same problem,

[code]
Only happens on Android 6 and 7.

[2019-11-18 09:40] jaysbytes commented on #99
I was trying to tackle that, but it does not work with the native driver. I was looking into the android implementation of Animated Animated and Scroll view (where `onScroll` can be used with native driver) but could not find anything that is implemented in the scroll view which is not implemented in slider in terms of events and actually I have no idea why it does not work. I didn't debug native

[2019-11-19 07:38] Eightyplus opened #128 "NotFoundException on drawable"
## Environment
System:
    OS: macOS 10.15.1
    CPU: (16) x64 Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz
    Memory: 12.60 GB / 32.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 12.7.0 - ~/.nvm/versions/node/v12.7.0/bin/node
    npm: 6.10.0 - ~/.nvm/versions/node/v12.7.0/bin/npm
  SDKs:
    iOS SDK:
      Platforms: iOS 13.2, DriverKit 19.0, macOS 10.15, tvOS 13.2, watchOS 6.1
    Androi

[2019-11-19 07:59] luzushka opened #129 "index.d.ts doesn't have inverted prop"
## Environment

[code]
## Description

TS doesn't compile if I add `inverted` prop to the slider.

It shows this error:

[code]

## Reproducible Demo

I can't seem to run it, so I will just paste this code here:

[code]

Thanks, anyone else run into this issue?
I will create a PR to fix this if it's not only me.

[2019-11-19 11:57] voxspox opened #130 "add CHANGELOG"
## Ask your Question

I missing a changelog to see what has changed and if I want to update now or not.

see also https://keepachangelog.com

[2019-11-19 12:50] wojteg1337 commented on #130
There is releases tab which i try to maintain with every release

https://github.com/react-native-community/react-native-slider/releases

[2019-11-19 12:50] #130 closed

[2019-11-19 12:54] wojteg1337 commented on #129
Hello,
it is missing in `typings` folder you can include that :)

[2019-11-19 12:57] schumannd opened #131 "Slider still jumping all over the place when sliding back and forth using step={1}"
This used to be an issue #109 for users using old react native versions. Now that we updated, the issue still seems to persist.

Using the latest version:

    "@react-native-community/slider": "2.0.3",
    "react-native": "0.61.4",

[2019-11-19 13:04] schumannd commented on #96
experiencing similar issues. Did you end up finding a workaround?

[2019-11-19 13:11] schumannd commented on #107
Same thing is happening when using `thumbImage` on iOS. The Thumb is off set by ~half of the image width

[2019-11-19 14:52] schumannd opened #133 "Importing Slider as recommended causes eslint error"
importing the module like so:

    import Slider from '@react-native-community/slider';

causes:

    error  No default export found in module  import/default

[2019-11-19 19:50] bobber205 commented on #114
@wojteg1337 Confirmed working in release mode. Thanks! <3

[2019-11-19 22:25] Kikketer commented on #96
@schumannd yeah I simply did some fancy work with padding and margins to shrink up the left side "tail" on the slider.  It's not perfect or even pretty but it works.

[2019-11-22 11:37] ajimae commented on #124
I have tried all versions of this package but none is working.

[2019-11-22 15:33] ludovic-gonthier opened #134 "[iOS] Touch on slider bar brings the thumb to beginning of the bar"
## Environment

[code]

## Description

On iOS, when I try to touch the slide to go increase/decrease its value, the thumb always goes to the beginning of the slider without triggering the `onValueChange` callback.
On Android, this behavior works fine.

## Reproducible Demo

[code]

[2019-11-25 09:46] #129 closed

[2019-11-25 10:13] Krizzu commented on #131
@schumannd What iOS version have you tested?

[2019-11-25 12:21] schumannd commented on #131
iOS 13.1.2

[2019-11-25 12:52] mcousillas6 commented on #134
I'm having the same issue, is there any way to disable the tap to seek until this is resolved?

[2019-11-26 03:46] BunlongOung commented on #134
@mcousillas6 You can downgrade to use `2.0.3` for now.

[2019-11-26 03:52] BunlongOung commented on #134
I'm facing this issue, too. Downgrade to 2.0.3 can solve the problem for now since it does not handle touch on slide bar

[2019-11-26 06:59] cltsang commented on #71
Very preliminary way to wrap Slider to enable this:
[code]

[2019-11-26 08:52] michalchudziak commented on #133
We'll be looking into this issue soon :) Thanks for reporting!

[2019-11-26 08:53] michalchudziak commented on #134
I guess it'd be best if we add an option to toggle that behavior via props. Anyone interested in sending a PR? cc @wojteg1337

[2019-11-26 10:21] #133 closed

[2019-11-26 10:27] mcousillas6 commented on #134
I can try and tackle this next week if you guys want

[2019-11-26 10:38] michalchudziak commented on #134
@mcousillas6 Actually, I found a simple solution, and I'll quickfix that now, as it seems like high prio. Thank you for your engagement, and we'd love to have some help with other issues if you'd like to contribute :)

[2019-11-26 10:58] #134 closed

[2019-11-26 11:04] michalchudziak commented on #131
This issue should be fixed in version `2.0.6`. Please check it out and re-open this if it still occurs :)

[2019-11-26 11:04] #131 closed

[2019-11-26 11:04] michalchudziak commented on #133
This issue should be fixed in version `2.0.6`. Please check it out and re-open this if it still occurs :)

[2019-11-26 11:04] michalchudziak commented on #134
This issue should be fixed in version `2.0.6`. Please check it out and re-open this if it still occurs :)

[2019-11-26 11:13] schumannd commented on #133
it is fixed, thanks!

[2019-11-26 11:43] #123 closed

[2019-11-26 12:00] michalchudziak commented on #39
If you'd like to have this functionality supported out of the box, please consider sending a PR. As for now, you can use this workaround:

[code]

[2019-11-26 12:00] #39 closed

[2019-11-26 12:04] michalchudziak commented on #86
Can you check if the issue still exists on v `2.0.7`? As for now, I'm going to close this issue as it seems to be stale, however, if you think it should be reopened, please let us know.

[2019-11-26 12:04] #86 closed

[2019-11-26 12:21] michalchudziak commented on #118
Please try version `2.0.7` it seems to work correctly on example app. I'm closing this issue, if it still occurs on the latest version, please let me know, I'll reopen that issue :)

[2019-11-26 12:21] #118 closed

[2019-11-26 12:31] michalchudziak commented on #124
I just tried a clean 0.57.3 project and slider 1.1.4 and it builds correctly. Please make sure to clean all the build cache and re-run the app. Also, it seems like you are using Cocapods, which do not default tool for RN 57, however, it should be working with CP w/o issues. If you still struggle to have it working please reach out to me via discord: mike.ch#5604 - I'll help you fix this issue.

[2019-11-26 12:31] #124 closed

[2019-11-26 12:54] schumannd commented on #131
It was an issue caused by my handling of onValueChange to begin with. Thanks for your help!

[2019-11-29 12:27] fabiendem commented on #43
Adding
[code]
to my `jest.config.js` fixed the issue

[2019-11-29 17:46] fgrs opened #140 "does not re-render"
slider doesn't re-render when value passed in via props from parent

[2019-11-29 18:00] fgrs commented on #140
OOps it does! min value was set above initial value, closing

[2019-11-29 18:00] #140 closed

[2019-12-02 15:49] Findiglay commented on #118
This is still occurring for me on Android with version `2.0.7`

[2019-12-02 17:33] LRNZ09 commented on #118
Same for me, any workarounds to make it works?

[2019-12-04 15:37] SiyabongaNzulwana commented on #134
@michalchudziak what if I am still using the react native ` "react-native": "0.59.9"` ? How do I get access to that feature you built, I really need it.

[2019-12-04 22:50] aschultz opened #141 "npm package is bloated with 60MB of Android intermediate build files"
v2.0.7 npm package has 60 MB of files under android/build/intermediates. These bloat the package size and should be removed if they're not needed by consumers.

If any other build output is not needed by package consumers, it should be added to .npmignore as well.

[2019-12-04 23:52] joshbg2k commented on #131
@schumannd How did you handle it? I have the same issue but with RN 0.55.4.

[2019-12-05 00:38] techtunix commented on #41
Do it like this!

1- `npm install @react-native-community/slider –save`
2- `react-native link @react-native-community/slider`
3- include in your script file like `import { Slider } from 'react-native' `  instead of `import Slider from '@react-native-community/slider'; `

then expo start --clear

hopefully work for someone.

[2019-12-05 07:33] schumannd commented on #131
@joshbg2k actually we didn't.

The issue arises for us, if we add any state update to the `onValueChange` vs. `currentValue` loop. Removing this, or only using `onSlidingComplete` avoids the problem. For us this was not an option though, as we want a "speech bubble" to always stay with the sliding head. Is this situation similar to yours?

[2019-12-05 09:01] itfarrier commented on #25
+1

[2019-12-05 19:16] joshbg2k commented on #131
@schumannd Yeah it's really similar. My slider enables a range of values in steps, so when the user slides in either direction, the label for each step changes based on it being enabled or disabled, so I use `onValueChange` to update the state and manage that. So I think we're both in the same boat - we want richer user feedback _while_ the user is using the slider. Looks like I'll have to use `on

[2019-12-05 19:52] schumannd commented on #131
@joshbg2k, @michalchudziak I would say it is not fixed then. It used to work before we updated to RN 61.4. So it might be related to a change in how RN updates state. I also couldn't find any reference to `currentValue` in the README. Is that not supported anymore? Maybe that's where the issue lies.

[2019-12-10 17:33] boazeb commented on #82
i was having a similar issue with a different package:

This fixed it for me and I suspect it might help anyone running into this issue as well:

[2019-12-11 09:30] thinklinux commented on #92
They were not removed because these features were never there. I will speculate here but probably it's not that easy to add if the native sliders of iOS and Android don't support much in terms of styling the thumb.

[2019-12-12 10:22] takim-fortum opened #143 "Click on slider does not move in IOS devices"
## Environment
System:
      OS: macOS 10.14.6
      CPU: (12) x64 Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz
      Memory: 249.36 MB / 16.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 10.9.0 - /usr/local/bin/node
      Yarn: 1.19.1 - /usr/local/bin/yarn
      npm: 5.6.0 - /usr/local/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    SDKs:
      iOS SDK:
        Platforms:

[2019-12-12 21:06] michalchudziak commented on #141
Agreed, definitely need to clean it up.

[2019-12-12 21:22] michalchudziak commented on #141
I released a quick fix version `2.0.8` w/o these files.

[2019-12-12 21:22] #141 closed

[2019-12-12 21:22] michalchudziak commented on #143
This functionality is implemented in v2.X

[2019-12-12 21:22] #143 closed

[2019-12-12 22:30] mark-friedman opened #144 "Support for react-native-web"
## Describe the Feature
Add support for react-native-web

## Possible Implementations
I see there was an attempt at this in PR #81, but was rejected, so a new implementation is presumably needed.

## Related Issues
#43 seems to be very tangentially related, in that it mentions react-native-web

[2019-12-15 14:09] erik-smit commented on #86
I have this same error when trying to use this module in Snack/Expo.

I made a small example snack to show the problem: https://snack.expo.io/@smitel/c54317

Searching for this error returns this closed issue.

[2019-12-16 05:54] sandunmj commented on #41
This worked for me.

[2019-12-16 20:03] lkoehl commented on #131
For me the slider also jumps around, but also when step > 1. It doesn't change if I don't set the state in ```onValueChange```. For right now I needed to switch to another slider library.
Also I am using the latest version ```2.0.8```.

[2019-12-17 01:57] gibo77 commented on #118
It is working for me. I used a Samsung tablet though for running my program. I do not use clunky Android software emulators such as AVD that you have to run. Since I used Samsung tablet, I do not have any issues running my program.

[2019-12-17 02:41] gibo77 opened #145 "How to make OnSlidingComplete not render when sliding"
I have a function inside the `OnSlidingComplete`. But everytime I slide, the function gets rendered. I know this because I have Alert in there. So every `step`, I have one Alert window.

I believe that the rendering is caused by the `setState` inside the `onValueChange` on every `step`.

How can I make the `Gibo_Fetch` function only rendered at the release of the button after sliding. Is not suppo

[2019-12-18 05:01] gibo77 commented on #145
Just to add information.
`  "dependencies": {
    "@react-native-community/async-storage": "^1.6.1",
    "@react-native-community/slider": "^2.0.8",
    "react": "16.8.6",
    "react-native": "0.60.5",
    "react-native-elements": "^1.2.0",
    "react-native-gesture-handler": "^1.4.1",
    "react-native-reanimated": "^1.2.0",
    "react-native-screens": "^2.0.0-alpha.3",
    "react-native-vector-i

[2019-12-18 05:48] gibo77 commented on #145
Guys and Gals I found the solution. You have to use the val variable on the OnSlidingComplete callback. I do not know why.
I found this on the link StackOverflow [https://stackoverflow.com/questions/36660434/how-to-create-slider-in-react-native](url)

[2019-12-18 05:48] #145 closed

[2019-12-23 02:52] vitorizkiimanda commented on #128
i have the same issue,

[2019-12-31 07:03] ouabing opened #147 "Slider inside another gesture respondor will always track touch events"
## Environment

System:
    OS: macOS 10.15.2
    CPU: (4) x64 Intel(R) Core(TM) i7-4578U CPU @ 3.00GHz
    Memory: 105.19 MB / 16.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 13.2.0 - ~/.nvm/versions/node/v13.2.0/bin/node
    Yarn: 1.21.1 - /usr/local/bin/yarn
    npm: 6.13.1 - ~/.nvm/versions/node/v13.2.0/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    iOS SDK:

[2020-01-07 12:53] a-c-sreedhar-reddy commented on #71
Is anyone working on this? I would like to collaborate.

[2020-01-09 18:57] citizenchris099 opened #148 "testID on the Thumb"
is it possible to get a testID on the Thumb itself ?

[2020-01-13 17:36] emilioheinz commented on #25
+1

[2020-01-14 05:36] santanu07 opened #149 "drawable android:drawable/seekbar thumb material anim with resource id#0x1080688"
when I was working on react native video with slider

It gives error with
drawable android:drawable/seekbar thumb material anim with resource id#0x1080688

[2020-01-14 10:25] chakrihacker commented on #25
@wojteg1337 sry for adding to this issue, just want to know your thought??

[2020-01-21 06:49] sudokzt commented on #41
I got same issue. I challenged all the above solutions.
But I can't. Then I find out it.
I use RN on Expo. Expo is not corresponded this library. So I can use previous react-native-slider.
https://github.com/jeanregisser/react-native-slider

[expo issue] https://github.com/expo/expo/issues/4300

[2020-01-21 07:37] ramon90 commented on #97
I think there should be a prop for the thumb size. This is very basic.

[2020-01-23 21:00] ashish-padakannaya commented on #41
Please accept my knees.

[2020-01-24 05:45] MBakhtiyor commented on #149
+1

[2020-01-30 13:10] hnrqsss opened #150 "How to set react-native-slider into a lib"
Hello there!

I create a lib that uses @react-native-community/slider as dependency, how to set it in my .podspec lib?

I try:

`s.dependency "react-native-slider", git: => "https://github.com/react-native-community/react-native-slider.git"`

[2020-01-30 20:37] brianwtaylor opened #151 "Implement trackImage for Android"
## Describe the Feature
The trackImage should work on both platforms, ideally by not changing the current API.

## Possible Implementations

## Related Issues

[2020-01-31 18:37] JustynaKK opened #152 "Slider does nor work for expo apps, managed workflow"
## Environment
"expo": "^36.0.0",
"react": "16.9.0",
"react-native": "https://github.com/expo/react-native/archive/sdk-36.0.1.tar.gz",
"@react-native-community/slider": "^2.0.8"

## Description
Slider does not work on expo app, on managed workflow,

I tried two solutions:
1st:
1- npm install @react-native-community/slider –save
2-  import Slider from '@react-native-community/slider';
With that I a

[2020-01-31 21:00] RobinJayaswal commented on #103
@msqar can you please link the stack overflow post?

[2020-02-01 04:39] msqar commented on #103
@RobinJayaswal dunno man, but here's the updated code of my DistanceSlider component.

[code]

And you use it like this:

[code]

[2020-02-04 19:55] lcelso opened #153 "Use Expo for example"
## Use Expo for example

Why don't we use Expo to manage the demo?

[2020-02-05 20:26] vasyl91 commented on #97
Add `transform: [{ scaleX: 1.8 }, { scaleY: 1.8 }]` to the style.

Better question is how to change size of track?

[2020-02-05 20:28] vasyl91 commented on #97
Try to add `transform: [{ scaleX: 1.0 }, { scaleY: 1.0 }]` to the style.

Anyone found how to change size of track?

[2020-02-07 13:28] mitaxe opened #154 "Custom component for marker"
Now it is only possible to pass a static image to the marker. It would be nice to support
custom components. For example to display some dynamic values inside of it.

[2020-02-12 05:40] Eesssn commented on #97
+1

[2020-02-17 02:23] rpstew commented on #152
I have the exact same environment from above and am seeing the same issue:

requireNativeComponent: "RNCSlider" was not found in the UIManager.

[2020-02-18 02:47] brunohkbx commented on #25
+1

[2020-02-18 15:23] taismassaro commented on #152
same here, imported as stated in the readme and getting the same error
`requireNativeComponent: "RNCSlider" was not found in the UIManager`

[2020-02-19 03:40] wilhem-collective commented on #152
the same requireNativeComponent: "RNCSlider" was not found in the UIManager

[2020-02-19 12:57] alexhoo commented on #152
Same:
```requireNativeComponent: "RNCSlider" was not found in the UIManager.```

[2020-02-19 22:46] maximilize opened #155 "Slider does not respect the step value on when using with keyboard"
## Environment

[code]

## Description

When using the slider with for example a remote control or keyboard, the `step` property is ignored. This does not allow us to do fine grained sliding. On a full width slider there are maybe 16 steps.

The goal should be on a minimum value of 0, and a maximum value of 1000, and a `step` value of 1, 1000 steps.

[2020-02-21 03:06] Ahmed-Badawy commented on #41
@ashish-padakannaya  this worked, thanks man...

[2020-02-23 16:31] jehajj opened #156 "Disable touch to seek?"
Kindly I was wondering if there's any way to disable touch to seek feature (like a props or something). I have a multiple slider under each other in a scrollView, so when I scroll if I hit the slider bar, the value is changing.

using ^2.0.8

[2020-02-24 06:20] bogdanq commented on #152
Device: (0:0) (0 , n(...).requireNativeComponent) is not a function

[2020-03-01 06:27] upcwangying commented on #97
+1

[2020-03-02 11:20] tiavina-mika commented on #152
Same. So is there a solution?
`requireNativeComponent: "RNCSlider" was not found in the UIManager.`

[2020-03-03 06:00] Naturalclar commented on #153
@lcelso
Expo would not be ideal for the example, since any change made in the Native code won't immediately take effect in expo.
Expo is great for building RN apps without any knowledge in Native code, but for maintaining a module and making additional feature, using bare react-native would be a better choice :+1:

[2020-03-03 06:15] Naturalclar commented on #152
The community slider component is not yet available for managed workflow for expo.
Please continue to use `import {Slider} from 'react-native'`, as it still exists in the core.
Once the slider component has been removed from the core, expo will support the community packages.
https://docs.expo.io/versions/latest/react-native/slider/

[2020-03-03 15:37] spinosajoseph commented on #96
This particular prop was also causing me issues on iOS. This logic helped resolve my issue:

thumbTintColor={ !IS_IOS ? color : undefined }

[2020-03-06 17:19] mustapha-ghlissi opened #157 "How to add style for slider steps ?"
Hi every body,

I am looking for a way to add custom style to slider steps (e.g: 3 steps)

for example a small circle in each step

Any solution for that ?

Regards

[2020-03-07 15:54] vinithreddy3 opened #158 "Slider behaving differently on tap in IOS smartphones"
Environment :

RN - 0.61.5
Slider - 2.0.8
iPhone X - 13.3.1 & iPhone 6s  ios 12.x

Description :

Slider behaving differently in IOS devices on tap. In iPhone X&6s  upon tap sometimes onSlidingStart and onSlidingComplete are being emitted but with wrong value (beginning value of Slider) and onValueChange isn't being emitted, and sometimes all properties are being emitted properly.

In android devi

[2020-03-09 14:02] LisaKr opened #159 "Touch to seek does not work on iOS"
## Environment

[code]
## Description
Contrary to Android, the "tap to seek" behavior is not working on iOS. Tapping on the slider does not make the video seek to the tapped moment, but instead the handler jumps back to the previous position.
![Kapture 2020-03-09 at 15 00 28](https://user-images.githubusercontent.com/11159684/76219859-cb6de180-6216-11ea-84a8-43146519f9ea.gif)

I have tried the sol

[2020-03-09 14:59] LisaKr commented on #159
I think the problem is that I'm using the version `1.1.4` (as I am also using `react-native 0.59.10`)and the fix only came in `2.0.7`... 🤦‍♀

[2020-03-10 09:18] thymikee commented on #71
@a-c-sreedhar-reddy please do!

[2020-03-12 10:10] laurent22 opened #161 "Crash: Error while updating property 'minimumTrackTintColor' of a view managed by: RNCSlider"
## Environment

System:
    OS: Linux 4.4 Ubuntu 18.04.3 LTS (Bionic Beaver)
    CPU: (12) x64 Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz
    Memory: 7.13 GB / 15.85 GB
    Shell: 4.4.20 - /bin/bash
  Binaries:
    Node: 12.10.0 - /usr/bin/node
    Yarn: 1.17.3 - /mnt/c/Users/laurent/AppData/Roaming/npm/yarn
    npm: 6.13.4 - ~/.npm-global/bin/npm
  npmPackages:
    react: 16.9.0 => 16.9.0
    react

[2020-03-12 12:02] miriamaryz commented on #158
I'm facing the same issue on the iOS phones, slider v 2.0.8. The event is emitted on touch slider line with latest known value, not the current one.

On the Android phones it works fine.

[2020-03-12 23:08] laurent22 commented on #161
For info, on my side I've fixed it by not setting the props minimumTrackTintColor and maximumTrackTintColor. But still it would be better if the component wasn't making the app crash.

[2020-03-13 08:04] ShaMan123 commented on #99
I figured this out.
The problem here is that the native event has a different name than the callback prop.
You can hack this with a workaround.
[code]

[2020-03-13 12:59] jayu commented on #99
This is what I found also, we can fix it with some refactoring. But the problem is it does not work with `native driver ` (at least for me, when I was playing with it)

Without a `native driver`, it will not be significantly more performant.

Maybe @osdnk could give it a try :D? or try to advise on what should be done in order to make a native driver work in that case

[2020-03-13 13:01] ShaMan123 commented on #99
I'm using it with reanimated and it works

[2020-03-13 13:03] jayu commented on #99
As I remember I was trying with `Animated`, interesting. Seems like @ShaMan123 you are on a good way to open a PR :D

[2020-03-16 08:26] MisterFredy commented on #149
im still looking this issue

[2020-03-17 03:03] wangfpp opened #163 "Step set 0.1 but get value 0.30000000000000004"
## Environment
System:
    OS: Linux 5.0 Ubuntu 19.04 (Disco Dingo)
    CPU: (8) x64 Intel(R) Core(TM) i7-4790 CPU @ 3.60GHz
    Memory: 1.13 GB / 15.55 GB
    Shell: 5.0.3 - /bin/bash
  Binaries:
    Node: 10.16.2 - /usr/local/bin/node
    Yarn: 1.16.0 - /usr/local/bin/yarn
    npm: 6.9.0 - /usr/local/bin/npm
  SDKs:
    Android SDK:
      API Levels: 22, 23, 24, 25, 26, 27, 28, 29
      Build To

[2020-03-18 18:37] brunoziie commented on #98
This behavior affects both platforms?

[2020-03-20 09:27] michalchudziak commented on #161
Hey, @laurent22 thanks for reporting! I'd appreciate any PRs fixing this issue :)

[2020-03-20 09:27] michalchudziak commented on #163
Hey, @wangfpp  thanks for reporting! I'd appreciate any PRs fixing this issue :)

[2020-03-20 09:28] michalchudziak commented on #156
I think we don't have this functionality implemented ATM, I'd love to see PRs tacking that one :)

[2020-03-20 09:28] michalchudziak commented on #155
Hey, @maximilize  thanks for reporting! I'd appreciate any PRs fixing this issue :)

[2020-03-21 08:45] a-c-sreedhar-reddy commented on #71
Hi guys! Where is the code which takes care of steps when dragging so that ui does not change until you reach a step?

[2020-03-24 22:31] Jason-Cooke commented on #159
I can confirm that the problem still persists in versions **2.0.8** and **2.0.9**

[2020-03-24 22:33] Jason-Cooke commented on #158
Same problem in versions **2.0.8** & **2.0.9**

[2020-03-25 03:09] ChampionRoy commented on #86
I have this same error.
Env:
Windows 10
react-native: 0.61.5
react: 16.9.0
@react-native-community/slider": "^2.0.9"

install is fine, but broken on the run time.
My code is:
`<View style={styles.inputWrapper}>
     <Text>{"Time"}</Text>
     <Slider
         style={{height: 50, width: 100}}
         minimumValue={5}
         maximumValue={240}
         minimumTrackTintColor="#FFFFFF"
         max

[2020-03-25 03:34] ChampionRoy commented on #86
I have this same error.

Env:
Windows 10
react-native: 0.61.5
react: 16.9.0
@react-native-community/slider": "^2.0.9"

install is fine, but broken on the run time.

My code is:
[code]

[2020-03-27 21:21] Cosmitar commented on #97
I'm solving this issue using an icon as image since I have installed [react-native-vector-icons](https://github.com/oblador/react-native-vector-icons#icon-component).
[code]
later in Slider component
[code]

The thumb shows the size and color specified on `getImageSource` method.

[2020-03-30 14:35] Sharcoux commented on #144
Ok, I'm on it. I'll just need some help for testing as I'm not really sure how to do it correctly. I'll link the PR as soon as I'm done

[2020-03-30 15:57] Sharcoux commented on #144
If someone can help me, my issue is more about flow. To be able to load the slider into a rn-web project, I should probably use babel on the Slider file. Can I add babel as a dev-dependency to the project?

[2020-03-31 13:40] Sharcoux opened #166 "Fix project configuration to help contributors"
## Environment

System:
    OS: Linux 5.3 Ubuntu 19.10 (Eoan Ermine)
    CPU: (8) x64 AMD Ryzen 5 2500U with Radeon Vega Mobile Gfx
    Memory: 713.05 MB / 14.62 GB
    Shell: 5.0.3 - /bin/bash
  Binaries:
    Node: 12.13.1 - ~/.nvm/versions/node/v12.13.1/bin/node
    npm: 6.13.7 - ~/.nvm/versions/node/v12.13.1/bin/npm
  npmPackages:
    react: 16.9.0 => 16.9.0
    react-native: 0.61.2 => 0.61.2

[2020-03-31 13:46] Sharcoux commented on #144
Done.

The project configuration is so broken... Took me hours to pass the CI as flow, eslint and prettier were configured with the "it works on my machine" syndrom...

While the PR is being merged you can use `npm i -S @sharcoux/slider` and change it back later.

[2020-04-01 08:49] #153 closed

[2020-04-01 18:02] Akshayagt20 opened #167 "android build failed, run successfully on ios"
Required by:
         project :react-native-community_slider > com.android.tools.build:gradle:3.2.1 > com.android.tools.lint:lint-gradle-api:26.2.1
         project :react-native-community_slider > com.android.tools.build:gradle:3.2.1 > com.android.tools.build:builder:3.2.1 > com.android.tools:sdk-common:26.2.1

     Required by:
         project :react-native-community_slider > com.android.tools.

[2020-04-02 08:33] jj-julia commented on #163
I am also getting a value of 3999 (for example), even thought set it set step={1000}

[2020-04-02 18:52] matdru commented on #166
This project requires yarn to be used to install dependencies due to yarn workspaces. I'll update readme to better highlight this fact. All these errors look to me like missing dependencies.

[2020-04-03 04:14] Sharcoux commented on #166
About the 2 issues, within [this](https://github.com/react-native-community/react-native-slider/pull/165), I fixed the one about SliderExample.js by removing the flow annotation from the file, but it might probably be fixed by importing the slider locally from the files. I fixed the second one by adding the missing dependency. I just don't understand how the previous commit could successfully pass

[2020-04-03 08:35] CezarCobuz opened #169 "Add thumbSize as a prop (or even thumbStyle)"
## Only **thumbTintColor** offers too little flexibility - thumbSize is needed

The size of the thumb can NOT be controlled without affecting the whole slider. On **iOS** the thumb is significantly **bigger** than on Android. Even by adding a thumb image scales different from one platform to another. At this point there is no way to apply a fixed thumb size for consistency over the two platforms.

[2020-04-04 13:00] Sharcoux commented on #144
Can someone review? @michalchudziak ?

[2020-04-06 23:47] ksetrin commented on #167
The same problem

Some logs
[code]

[2020-04-06 23:53] ksetrin commented on #167
I find out a [temporary workaround ](https://github.com/facebook/react-native/issues/27362#issuecomment-579809148)

just add this in android/app/build.gradle
[code]

[2020-04-07 11:11] #166 closed

[2020-04-07 15:39] Sharcoux commented on #169
[this PR](https://github.com/react-native-community/react-native-slider/pull/165) takes care of this for the web implementation if it gets merged. There would be only the native implementation to be done.

[2020-04-07 17:02] jameschetwood opened #171 "Not selectable when opacity is 0 in iOS?"
I need custom styles for my slider. I couldn't find a library that gave me the control I needed so instead Im making the appearance I need with custom CSS applied to Views which are positioned behind the slider component.

I then need to hide the slider component. If I set `opacity: 0` it's fine on Android but on iOS the slider is un-selectable. Is this a bug or intended behaviour?

[2020-04-07 19:00] hermanknol123 commented on #171
I got the same problem :)

[2020-04-08 10:12] loiclouvet commented on #158
@miriamaryz Did you solve this issue ?

[2020-04-09 18:00] botwalker commented on #109
To all the people who are still struggling with this bug, you can work around this by setting the step to 0 and round the values in the on-handlers (on iOS).

My working example (TypeScript, React Native 0.59.10):

[code]

You can use this component like the Slider component from React Native.

It wasted much of my time, hope this helps someone. :)

[2020-04-09 23:34] AbhiShrek opened #172 "Please add Range Slider with two(or more) drag thumbs"
## Describe the Feature
In many cases, a range input (from - to) is required from users. For example, Age, Distance, Quantity etc. Currently i have to use 2 separate sliders to get the range. It would be nice if react-native-sliders supports range with two drag thumbs.

![Screenshot 2020-04-10 at 5 02 55 AM](https://user-images.githubusercontent.com/11253347/78949216-9cce7980-7ae8-11ea-9f43-c116da

[2020-04-14 07:48] #144 closed

[2020-04-15 08:26] Sharcoux commented on #169
By the way, there could be a quick fix for this: the web implementation should be working perfectly fine for native too, so we could just use the web implementation as the universal implementation. What do you think @michalchudziak ? Of course we would need to ensure that no feature provided by the current native implementation is missing. But is this a path that would be acceptable?

[2020-04-18 19:36] babyrusa opened #174 "NPM Install Failed"
## Environment

[code]
## Description

When I ran `npm install @react-native-community/slider --save` , this error appears (multiple times even after restarts
[code]

## Reproducible Demo
Run `npm install @react-native-community/slider --save`

[2020-04-20 06:09] samheutmaker commented on #109
@botwalker Works like a charm, thanks!

[2020-04-20 17:52] CapitanRedBeard commented on #158
Yeah it seems like on iOS, if you just tap (not slide) then `onSlidingComplete` gets called but not with the tapped value, it instead gets called with the initial value. Probably because the slider is relying on an initial slide to occur

[2020-04-22 14:41] pistou commented on #85
This is somewhat related, but being abble to set the size of the thumb would be great too.

[code]

[2020-04-22 19:49] Sharcoux commented on #172
I could fix this if my suggestion [here](https://github.com/react-native-community/react-native-slider/issues/169) was considered valid. @michalchudziak  ?

[2020-04-23 10:32] hezhii commented on #118
This is still occurring for me on Android with version `2.0.9`

[2020-04-25 13:55] AbisaiSan commented on #174
Did you use cmd as an administrator?
If you don't really return those errors.

[2020-04-26 07:42] flyskywhy commented on #151
https://github.com/flyskywhy/react-native-smooth-slider which smoothed by react-native-gesture-handler can use trackImage on both platforms, and https://github.com/flyskywhy/react-native-slider-color-picker dependent on it.
Maybe you can use react-native-smooth-slider before react-native-community/react-native-slider implement trackImage.

[2020-04-28 12:42] teodora-techpods commented on #118
using version `2.0.9` and still occurring

[2020-04-30 09:10] Sharcoux commented on #169
@michalchudziak? Your opinion about it?

[2020-04-30 09:13] Sharcoux commented on #174
Maybe rm rf your node modules and reinstall. Seems like an inconsistency in your folder.

[2020-04-30 09:16] Sharcoux commented on #163
@michalchudziak I can fix it if you answer me on this : https://github.com/react-native-community/react-native-slider/issues/169

[2020-04-30 09:18] Sharcoux commented on #155
@michalchudziak should be working on Web. https://github.com/react-native-community/react-native-slider/issues/169

[2020-04-30 09:19] Sharcoux commented on #161
@michalchudziak should be working on web. https://github.com/react-native-community/react-native-slider/issues/169

[2020-04-30 09:20] Sharcoux commented on #92
https://github.com/react-native-community/react-native-slider/issues/169

[2020-04-30 13:41] Sharcoux opened #176 "Issue with RN-Web implementation"
I made a little mistake in the web implementation of the slider. I'm on it.

![image](https://user-images.githubusercontent.com/797545/80717311-14e0fb80-8af9-11ea-89c8-6088838dcf50.png)

[2020-05-02 11:11] n0umankhan commented on #169
+1

[2020-05-02 11:12] littlehome-eugene commented on #86
same here

[2020-05-02 21:10] hoboman313 commented on #67
Despite what all the Github stars may suggest, this library is really not usable for professional, public UI until this gets implemented.

[2020-05-05 08:00] nikbelikov commented on #108
I had the same issue with RN < 60.
I solved with:
npm i @react-native-community/slider@1.1.4
react-native link @react-native-community/slider
cd ios
pod install

thats all 😉

[2020-05-07 07:47] asim47 commented on #82
Anyone found a solution?

[2020-05-07 10:58] wangfpp commented on #163
@Sharcoux  you fixed step = {0.1} ?

[2020-05-07 11:50] Sharcoux commented on #163
This issue is due to computer's handling of float numbers. It should be possible to fix it by using toFixed and parseFloat after rounding the value. Do you have a reproductible scenario?

[2020-05-07 16:12] Taylor123 commented on #82
@asim47 If you're using androidX, which is now default for RN projects, try this answer https://stackoverflow.com/a/56674446/5745639

[2020-05-07 16:31] misterdev opened #179 "[BUG] Web version not updating on value change"
Thanks for adding web support!  🎉

## Description
Changing the value passed as prop doesn't update the slider position.
The same code works on iOS and Android.

## Reproducible Demo
https://snack.expo.io/pRbkvNq!E

[2020-05-09 15:33] preduseldavid opened #180 "seekToPlayer not working"
seekToPlayer has different behaviour in android and iOS: for android it is working with seconds and the documentation says that the param should be miliseconds.

this is the code:
[code]

[2020-05-09 15:34] #180 closed

[2020-05-11 09:44] fortydegrees commented on #108
Are there any plans to make this work with Expo 37?

[2020-05-13 02:29] jsworyk commented on #25
+1

[2020-05-13 13:35] Suesanz commented on #172
Also I think user should have option for a vertical slider also. Making slider vertical should have native implementation.

[2020-05-14 08:35] papigers opened #181 "iOS - thumbImage crashes the app only on release: component, components, or pathExtension cannot be nil"
## Environment
[code]

## Description

Setting `thumbImage` causes the app to crash on iOS release mode. I didn't test on android yet. In development the thumb image shows correctly and has no problem.
This is the exception I'm seeing on XCode:
[code]

## Reproducible Demo

this is a reusable slider component I'm using in my project:
[code]

[2020-05-14 09:21] papigers commented on #181
Nevermind, found out the issue was metro not including external assets in `watchFolders`, which causes the image to not load - which is what caused this exception probably.
For more info see facebook/metro#290

[2020-05-14 09:21] #181 closed

[2020-05-14 12:57] wangfpp commented on #163
@Sharcoux 我用toFixed修复它了  是否应该在Slider内部做处理呢

[2020-05-14 14:13] Sharcoux commented on #163
Am I supposed to understand this ? xD
I'm working on a fix for this in a universal solution for RN and RN-Web

[2020-05-14 21:21] Jason-Cooke commented on #131
@michalchudziak Could we reopen this please?

[2020-05-18 19:23] kevinhylant commented on #169
Curious where this stands for mobile - would be a helpful feature. Thanks for your contributions toward it!

[2020-05-18 20:22] Sharcoux commented on #169
Actually I'm working on a fully compatible RN + RNWeb version with all the pending feature request I found here. I'm just having some trouble finding some time these 2 weeks to conclude it but you can give it a try. It is npm i -S @sharcoux/slider
If you encounter any trouble you can tell me. It will make me save time when I'm finishing it.

[2020-05-19 15:48] TN-Figueiredo commented on #169
+1

[2020-05-19 18:23] Sharcoux commented on #179
I'm on it

[2020-05-19 18:51] Sharcoux commented on #179
Ok, can you check that @sharcoux/3.2.0 fixes the issue. I'll make a PR here.

[2020-05-19 18:57] Sharcoux commented on #163
Fixed in @Sharcoux/slider version 3.2.0
Tell me if you encounter any issue

[2020-05-19 19:01] Sharcoux commented on #157
Check @sharcoux/slider 3.2.0, Tell me if it answer your needs.
I'm trying to make a cross platform project for RN and RNWeb.

[2020-05-19 19:30] Sharcoux commented on #172
I'm trying to work on this one. I see clearly how it can work for a range (ie 2 thumbs), but can you explain how it is supposed to work for more?

[2020-05-19 19:57] #176 closed

[2020-05-19 20:03] Sharcoux commented on #158
Could you check that you don't have this issue with @Sharcoux/slider ? Basically, it is the web version of this repo generalized for React-Native

[2020-05-19 20:05] Sharcoux commented on #155
Could you confirm that the problem disappear when using @sharcoux/slider from npm ?

[2020-05-20 08:22] misterdev commented on #179
`3.2.0` seems to work, thanks 🎉

[2020-05-23 11:00] yesnoyes opened #184 "Rotate is not working"
I am trying to rotate the Slider vertically but transform function is not working. Same code is working with Native Slider. Here is how I am doing it -

<Slider
          style={sliderStyles(width, height).slider}
          minimumValue={-1}
          maximumValue={1}
          value={0}
          minimumTrackTintColor={'yellow'}
          transform={[{rotate: '-90deg'}]}
        />

[2020-05-23 11:33] yesnoyes commented on #97
transform: [{scaleX: 0.3}, {scaleY: 0.3}],

[2020-05-24 17:17] penx opened #185 "requireNativeComponent is not a function with react-native-web"
## Environment

react-native-web, storybook

## Description
"requireNativeComponent is not a function" when using 3.0.0-rc.2 and react-native-web

## Reproducible Demo

https://github.com/penx/react-mixer/tree/6126b45efefb9bd4b4e600d9a4e6191616d7a8c3

Steps to recreate:

- `npm init -y`
- `npx -p @storybook/cli sb init --type react`
- add react-native-web to dependencies and in storybook webpack a

[2020-05-25 02:47] #163 closed

[2020-05-27 15:02] peterkuiper commented on #158
If you are using https://github.com/ds300/patch-package, you can try this patch:

[code]

For more discussion, checkout https://stackoverflow.com/questions/22717167/how-to-enable-tap-and-slide-in-a-uislider. It is not perfect, so if anyone has a better idea, please let me know!

[2020-06-01 13:26] YajanaRao commented on #65
I am not able to set height and width of slider. It is still behaving as horizontal slider in styles

[2020-06-03 04:05] dynamiccast commented on #171
Same issue. Here is an ugly trick:
`opacity: 0.011` seems to be the lowest opacity where the slider still works.

[2020-06-04 02:11] VTrngNghia commented on #97
This didn't work for me. `getImageSource()` gets called indefinitely and caused my app UI to be completely blocked.

[2020-06-04 18:36] Cosmitar commented on #97
Maybe you're calling ```Icon.getImageSource``` into render function?
try something like
[code]

[2020-06-05 17:55] bamunusingha commented on #123
I have the same issue with slider version 2.0.9 in android 7

[2020-06-07 22:30] nickarora commented on #169
The lack of traction on this issue is surprising to me; This seems critical for anyone who intends to use this slider across multiple platforms and cares for consistency...

[2020-06-07 23:35] Sharcoux commented on #169
Could you give a try at @sharcoux/slider?

[2020-06-09 04:05] jetBn opened #189 "requirenativecomponent:"RNSlider" was not found"
why I use show this?

[2020-06-09 08:37] Daniel-Griffiths commented on #109
Thanks @botwalker that fixed it for me too :slightly_smiling_face:

[2020-06-09 11:02] EgorZotov commented on #181
@papigers I got similar problem only in production App too. I got custom metro config, but I never had problems with sources in the same folder with thumbImage (so assume metro configured properly).

[2020-06-11 20:08] opetroulas opened #191 "Slider doesn't reach max value when not divisible by step"
## Environment
`System:
    OS: macOS Mojave 10.14.6
    CPU: (16) x64 Intel(R) Core(TM) i9-9980HK CPU @ 2.40GHz
    Memory: 27.24 MB / 32.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 12.14.1 - ~/.nvm/versions/node/v12.14.1/bin/node
    Yarn: 1.16.0 - /usr/local/bin/yarn
    npm: 6.13.4 - ~/.nvm/versions/node/v12.14.1/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    i

[2020-06-13 16:13] leup commented on #189
May be related to this ?

https://github.com/react-native-community/react-native-slider/issues/152

Have you tried to search in the issues ?

[2020-06-14 17:12] moriyuu commented on #98
Is this issue still alive? I'd like to work on this issue but the example app doesn't reproduce this.

[2020-06-15 10:20] anoraxdev commented on #151
Same, I need this feature for a project.
@flyskywhy the smooth slider has bugs on android.

[2020-06-15 18:20] dsaltz432 commented on #191
I'm having the same issue

[2020-06-16 05:54] alejomendoza opened #192 "How to update value visually by changing prop?"
## Ask your Question

We want to update the slider visually while a track is playing, we want to be able to read from a constantly updated position. This seemed to work with the react native slider but not with this one, any ideas?

Thanks and awesome work!

Our Slider code looks like this:
[code]
On our store we have:
[code]

[2020-06-17 10:47] mezalejandro opened #193 "Fatal Exception: java.lang.NullPointerException"
## Environment

System:
    OS: macOS 10.15.4
    CPU: (4) x64 Intel(R) Core(TM) i5-3210M CPU @ 2.50GHz
    Memory: 19.48 MB / 8.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 10.15.1 - /usr/local/bin/node
    npm: 6.14.5 - /Volumes/MacintoshHD/work/apps/myapp/node_modules/.bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    iOS SDK:
      Platforms: iOS 13.2, DriverKit 19.0

[2020-06-18 03:02] Alain00 commented on #86
same error with 3.0.0

[2020-06-18 09:13] Hristijan95 opened #195 "Conflict with PanGestureHandler"
## Environment

System:
    OS: macOS 10.15.5
    CPU: (4) x64 Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz
    Memory: 249.04 MB / 8.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 14.4.0 - /usr/local/bin/node
    npm: 6.14.4 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    iOS SDK:
      Platforms: iOS 13.5, DriverKit 19.0, macOS 10.15, tvOS 13.4, watchOS 6.2

[2020-06-18 19:15] YajanaRao commented on #184
Vertical slider created using transform does not work as expected

Link to the snack
https://snack.expo.io/@yajana/slider

[2020-06-18 19:20] YajanaRao commented on #65
Link to snack reproducible code:
https://snack.expo.io/@yajana/slider

[2020-06-18 19:22] YajanaRao opened #196 "Unable to create Vertical Slider"
## Environment

## Description
I am trying to create a vertical Slider. Based on #65 I got to know that transform can be used for this. Using transform I am not able to apply styles like height and width to slider.

## Reproducible Demo
https://snack.expo.io/@yajana/slider

[2020-06-19 09:31] rubinjohny commented on #191
+1

[2020-06-24 08:06] davidguo1 opened #197 "How to set track's style?"
Is there a way to set the track style? I want to change the track's height, I mean the height of the track line, not the whole component height.

[2020-06-25 06:53] pankajgupta1 commented on #196
In my case height, width applies, but transform not applies automatically. when in the code i add style transform, then that applies. But when I reload the app, the transform not applies.
On comment/uncomment the code, and directly viewing the slider in simulator then transform works, otherwise reload of app transform is not applied

[2020-06-25 07:19] pankajgupta1 commented on #184
I tried this way. Tis worked for me:
[code]

[2020-06-25 14:43] YajanaRao commented on #184
@pankajgupta1 I tried your solution in the snack https://snack.expo.io/@yajana/slider I am not able to get it working. VerticalSliderSolution is the component.

[2020-06-26 06:13] pankajgupta1 commented on #86
same with me too

[2020-06-26 06:18] pankajgupta1 commented on #184
@YajanaRao I tried this, But there is some error for android :
View config not found for name RNCSlider

I think this is with expo.
try to use this in real project on real device, May be there work. In my android code which is using in my project, this is working like a charm.

Here I saw in web too, in there I saw problem, there on vertically sliding that is not working, but when we horizontally

[2020-06-26 08:54] ferbeab commented on #86
same here!

[2020-06-27 09:04] BAE86AEC1946B6AB60CCD7452DC811F0 opened #198 "Attempt to invoke virtual method 'boolean java.util.ArrayList.add(java.lang.Object)' on a null object reference"
## Environment

[code]

## Description

[code]

message:

[code]

This error appears on Android 6.0.1, no error occurs on other phones

## Reproducible Demo

[2020-06-29 08:15] BAE86AEC1946B6AB60CCD7452DC811F0 commented on #9
I also have a similar bug with react-native 0.61.5.   any update on this?

[code]

[2020-07-03 12:57] misterdev opened #199 "[BUG][WEB] wrong value when reaching track edges"
## Description
The web version has problems when during a drag the cursor goes over the left or right edge of the track.

![Screen Recording 2020-07-03 at 13 43 14](https://user-images.githubusercontent.com/11232797/86471087-f8518180-bd3c-11ea-9d53-47e8b2239855.gif)

## Reproducible Demo

See this [snack](https://snack.expo.io/@misterdev/[bug]-react-native-slider-drag-to-the-edge)

NOTE: the snack

[2020-07-03 13:12] misterdev commented on #179
Closed by #186

[2020-07-03 13:12] #179 closed

[2020-07-03 13:26] misterdev opened #200 "[BUG] Clicking on the track doesn't move the thumb sometimes"
## Environment
[code]

## Description
Sometimes clicking on the track doesn't move the thumb:
- Android, works perfectly
- Web, works sometimes
- iOS, doesn't work, the thumb moves only if there's a a sliding

### Web
![Screen Recording 2020-07-03 at 15 07 52](https://user-images.githubusercontent.com/11232797/86472838-17054780-bd40-11ea-82ea-0cb1886cb45e.gif)

### iOS
![Screen Recording 2020-07-0

[2020-07-04 18:31] mikehardy commented on #131
I was unable to reproduce any jumping around with the current example, if anyone is still experiencing this perhaps they could extend the example to demonstrate it? Without a demo it's hard to reproduce.
Separately if people want the tap-to-click feature that caused the jumping around I think I have the implemented correctly in pending PR #201  with a patch attached to it so you may try it out

[2020-07-05 18:20] inmogr commented on #172
@Sharcoux could you please let us know when can you release 2 thumbs?

[2020-07-07 01:13] rectified95 opened #202 "Add Windows support"
## Describe the Feature
I'm getting started working on the Windows implementation of the Slider component.
Should push a PR within 2 weeks.
Creating this issue to let the maintainers know of this effort.
Please, assign this one to me, in case I cannot self-assign.

## Related Issues
Closes microsoft/react-native-windows#4612

[2020-07-07 12:28] castalonirenz commented on #200
Same issue with me.

[2020-07-08 07:28] fear48 commented on #40
Yes, please

[2020-07-08 15:02] kgsachinthaudara commented on #97
The team should need to give access to change thumb size

[2020-07-09 08:19] venkatesh-inspiredge commented on #192
HI, @alejomendoza have you solved this one?

[2020-07-09 08:23] castalonirenz commented on #200
Any updates with this one?

[2020-07-10 00:26] rectified95 opened #203 "[step prop] reason for default value"
## What is the reasoning behind the default value for the _step_ property being 0?
In my opinion this is semantically incorrect, as it suggests a slider that cannot be moved at all. Also, this property being optional, it passes a potentially incorrect value to the native platforms.
Case in point, passing 0 as the step value to the Windows native Slider causes a crash.

I suggest either making this

[2020-07-10 14:58] buschco commented on #41
@techtunix Whats the point of adding and linking the `@react-native-community/slider` at all if you use the deprecated one from react-native?

[2020-07-13 12:29] arekkubaczkowski opened #205 "Allow to control of value by ref"
## Describe the Feature
Allow to control of value by ref (only for web version so far).

## Possible Implementations
`ref.current.updateValue(value: number)`

## PR
https://github.com/react-native-community/react-native-slider/pull/204/

[2020-07-13 23:56] rectified95 commented on #197
You'd need to defer to native platforms' docs. If they support it, then it can be exposed on the JS side and fed down to the native.

[2020-07-14 08:17] #205 closed

[2020-07-14 08:20] wojteg1337 commented on #203
Hello @rectified95,
Please add pr with the fix for Windows, we also could set default value for step. I do not want to make this a breaking chage

[2020-07-14 08:21] wojteg1337 commented on #202
Hello,
Thanks for letting me know, good luck with implementation!

[2020-07-14 08:26] wojteg1337 commented on #192
@alejomendoza
Does it affect both platforms Android & iOS?

[2020-07-14 08:28] #174 closed

[2020-07-14 17:23] rectified95 commented on #196
In case you're interested, in about a week I'll push a Windows implementation of this module, which will expose a 'vertical' prop to control this ;)

[2020-07-14 18:40] ferbeab commented on #196
And is there any plan to implement it for Linux/Unix OS??

[2020-07-14 19:06] rectified95 commented on #196
As far as I know, not for the time being.
However, there is parallel work happening for the macOS implementation by Microsoft:
https://microsoft.github.io/react-native-windows/

[2020-07-14 23:07] hwhh commented on #172
+1  - I am trying to use a range selector in "pageSheet" style modal but because in iOS 13 you can swipe down to close the modal a lot of the other range selectors don't work/are very juddery but I realised this slider disables the swipe down to close gesture when being used.

[2020-07-15 08:23] Sharcoux commented on #172
Ok, I'll give it a try when I have a few time available. Give me a week or 2.

[2020-07-15 09:01] hwhh commented on #172
Great, thank you!

[2020-07-17 11:00] michalchudziak opened #211 "Add `touchToSeek` property."
## Describe the Feature
We should add `touchToSeek` property to be able to toggle this functionality as it is not the default behavior for iOS, but also for better customisation.

## Possible Implementations

Add `touchToSeek` property (boolean, defaults to `true` on android and web and `false` to iOS).
Related code:
- iOS: https://github.com/react-native-community/react-native-slider/pull/117
- A

[2020-07-19 23:00] hwhh opened #212 "onValueChange not called when slider tapped iOS"
## Description

The `onValueChange` callback is not called when the user taps the slider in iOS (i.e. they don't slide the slider)

The current workaround is to use `onSlidingComplete`

[2020-07-20 04:04] ouabing commented on #211
I'm also looking forward to this property. I wrap the slider in a bottom sheet which can be toggle vertically. It's easy to trigger seeking accidentally when I want to scroll the bottom sheet.

[2020-07-21 16:17] Vednus opened #213 "Sliding back to old position"
Is anyone else having it slide back to its previous position after sliding it to a position? It only happens randomly at a few positions on the slider. Started happening on 3.0.2 and continued into 3.0.3. Happening on ios simulator and real device.

I tried changing the step and commenting out `onValueChange` and `onSlidingComplete`, but neither worked.

[2020-07-22 09:23] agnieszkabugla commented on #169
+1

[2020-07-24 02:56] achord commented on #197
Can we get a feature request?

[2020-07-24 09:15] superplussed commented on #213
I am having this problem as well. :/

[2020-07-25 14:13] AmirDoreh commented on #213
i had also the same problem , which i solved it by passing the props directly not through an state manager or storing it to the state!

[2020-07-25 14:16] AmirDoreh commented on #212
here i have the same problem any solutions?

[2020-07-27 23:22] Vednus commented on #213
I've removed all props and it's still happening. I've also memoed the containing component to make sure it's not rerendering and it's still happening. Not sure if it's also related to upgrading to rn 63.1

[2020-07-28 09:12] ShivamJoker commented on #169
Please we need a fix thumb value for android and ios

[2020-07-29 12:19] hwhh commented on #172
Hi @Sharcoux,

Just wanted to check in here; I was wondering if you need any help and if so please feel free to let me know!

[2020-07-29 14:43] Sharcoux commented on #172
Yeah, I know ^^ I'm working on a project that is being a bit late, but as soon as I finished I'll do the range slider.

[2020-07-29 21:36] AnoopN01 opened #214 "Two fingers are required to move the slider in accessibility mode"
## Environment

## Description

when accessibility is turned on we need two fingers to move the slider, where as if you see the slider to adjust the volume, it works with single finger slider. This is confusing for a blind user using the accessibility mode in his Andorid device This is an issue only in Android. In iOS it works with single finger swipe.

## Reproducible Demo

[2020-07-30 06:02] adminphoeniixx commented on #128
Any solution?

[2020-07-31 16:38] Sharcoux commented on #202
@sharcoux/slider should work just fine with Windows.
Can you try and report?

[2020-07-31 17:15] rectified95 commented on #202
The Slider implementation recommended by Facebook is this one. Microsoft's effort to increase RN adoption on Windows also relies on the performance provided by native code, hence this choice.

[2020-08-01 22:30] Sharcoux commented on #197
You can try @sharcoux/slider
If you have issues with the version 4.0.0 which is brand new, you can try the 3.3.1 which is probably more reliable for now.
It is basically the web implementation of this slider but made compatible with Android and iOS.

[2020-08-01 22:32] Sharcoux commented on #172
@hwhh @inmogr @Suesanz @AbhiShrek , Could you try @Sharcoux/slider version 4.0.0?
It includes a range slider.

Please, try also AnimatedSlider and tell me if you notice differences in terms of performances and usage.

[2020-08-02 13:05] YajanaRao commented on #65
I had to use [React Native Elements Slider](https://react-native-elements.github.io/react-native-elements/docs/slider#orientation) with `orientation`= `vertical`

[2020-08-03 09:39] sgade commented on #212
Would also love to see any workarounds or fixes available.

[2020-08-03 11:16] akinncar commented on #172
@Sharcoux are you implemented here?

[2020-08-03 12:01] Sharcoux commented on #172
Well, I can provide the code for web in a fashion that works for all
environments (which is already what I did: the current web implementation
is mine), but until now I didn't receive any answer on my proposal to merge
all implementations into one, so I don't know how to keep improving this
project. For now I have no other way than providing a side project.

Le lun. 3 août 2020 à 13:16, Akinn Rosa

[2020-08-04 02:28] inmogr commented on #172
Thanks @Sharcoux will try it out

[2020-08-04 05:33] Suesanz commented on #172
@Sharcoux, will try out. Thanks!

[2020-08-06 12:59] JoelOnGithub commented on #213
We have the same issue. Happens only on iOS 13.6.x, 13.5.x is fine. Downgrading to react-native-slider to the latest version 2 solves it though.

[2020-08-06 17:44] gxs1619 commented on #97
Thumb size would be very useful to change as a property

[2020-08-09 12:22] rahutwr33 opened #216 "thumbsize as a props."
I am working in a music app.I need this feature.let me know if there is other library option.Thanks in advanced!

[2020-08-10 08:37] SahilPawar1994 opened #217 "How to update slider value using ref?"
## Ask your Question

I want to show/update the rating using the slider, when I simply drag the slider, the rating could get updated, To do it I used the value prop of the slider which could give value to the slider but when I do it the slider fluctuates itself.

To smoothly working, I need to use ref instead of value, so that after getting new data every time, I don't have to use value prop, simp

[2020-08-12 21:27] chrisglein commented on #202
Looking forward to this!
Implementation looks to be [in PR](https://github.com/react-native-community/react-native-slider/pull/210) and ready to merge soon I hope.

[2020-08-13 20:25] zackyrza commented on #25
+1

[2020-08-17 12:47] jenskuhrjorgensen commented on #213
Thanks @JoelOnGithub - I downgraded to latest version 2 (2.0.9 at the moment) and it seems to have solved it. 👍

[2020-08-19 04:48] gkupsaw opened #218 "Discrete Values"
## Describe the Feature
I'm not sure if this is already exists, but it would be nice to have the option to use discrete values for the slider instead of continuous options.

## Possible Implementations
It would probably be easiest to emulate the code of existing discrete slider implementations on the web. I haven't thought too deeply about the implementation yet, but would gladly look into it if i

[2020-08-20 15:39] PointCodeZero commented on #200
This is not an issue with the library, this is just the native behaviour differences from iOS x Android

[2020-08-21 07:49] misterdev commented on #200
Yeah makes sense but the issue on the web version remains.
Also, a way to enable tap on track on iOS would be nice to have

[2020-08-21 20:11] namta101 opened #219 "When using two sliders, moving one slider causes the other slider's value to go to undefined"
## Environment

## Description

![IMG_2576](https://user-images.githubusercontent.com/43545987/90930633-e4e49d80-e3f2-11ea-86ae-3b6af5ece044.jpg)

## Reproducible Demo
Example code like this:

  const [state, setState] = useState({
    Priority: 0,
    Effort: 0,
  });

<Slider
              width={270}
              step={1}
              minimumValue={0}
              maximumValue={5}

[2020-08-25 09:50] halaei opened #220 "Lint error: Calling new methods (isAccessibilityFocused) on older versions"
## Environment

    "@react-native-community/slider": "^3.0.3",

[code]
## Description
Running `android/gradlew lint` reports this issue. I don't have enough information about whether it is a real bug or a false alarm needed to be suppressed by  @TargetApi(21):

../../src/main/java/com/reactnativecommunity/slider/ReactSlider.java:113: Call requires API level 21 (current min is 16): android.view.Vi

[2020-08-25 20:01] bewildergeist commented on #211
Agreed, this would be very welcome. I just recently upgraded to the version that includes the iOS tap handling from #201, and now our users constantly accidentally set sider values when scrolling through a list of filters that all use sliders 🙃

[2020-08-29 13:04] bimalgrg519 commented on #213
Downgrading to version 2.0.9 worked for me as well.

[2020-08-30 10:42] miazga commented on #192
Hello there! I was facing the same issue and managed to solve it by wrapping a slider with <TouchableWithoutFeedback/> as seen in custom controls example available here:
https://github.com/ihmpavel/expo-video-player/blob/c11d4631a6ee556e7304e0f3d36e0828a901ca29/lib/index.tsx#L689

Hope it helps!

[2020-08-31 14:53] tboogh commented on #219
Isn't this caused because you are overwritting your state with an object that only contains one value? Correct me if i'm wrong but the line with setState should instead contain an object with both values.
`onValueChange={(value) => setState({ Priority: value, Effort:state.Effort })}`

[2020-08-31 15:31] namta101 commented on #219
Thank you @tboogh  - solved - not an issue

[2020-08-31 15:31] #219 closed

[2020-09-01 07:06] raazatul7 commented on #197
did you find any solution or fix?
I want to use the official library.

[2020-09-01 13:03] buschco opened #223 "Unable to run the example app: npx pod-install fails."
## Environment
[code]

## Description

`npx pod-install` runs with errors. Furthermore `yarn run:ios` won't complete.

[code]
[code]

## Reproducible Demo

[code]

[2020-09-01 13:08] buschco commented on #223
It seems that changing
[code]
to
[code]
fixes the issue for me.

see https://stackoverflow.com/a/60881827/5444033

[2020-09-01 13:19] buschco commented on #223
I created a [PR](https://github.com/react-native-community/react-native-slider/pull/224)

Idk know honestly if it is a good idea to merge it, because of the huge diff in the lockfile, but there is also no way (for the solution I have tried) to prevent the changes.

[2020-09-05 04:30] Eightyplus commented on #128
Yeah, we converted our entire codebase to Kotlin 😁

[2020-09-07 14:23] Bhavdip commented on #191
I have the same issue
+1

[2020-09-10 02:05] Shing-Ho opened #225 "size props for thumbImage"
## Describe the Feature

We are not controlling the thumbImage size and it's making the ui awful.

## Possible Implementations

We should be able to control the thumbImage size

## Related Issues

https://github.com/react-native-community/react-native-slider/issues/97
https://github.com/react-native-community/react-native-slider/issues/32

[2020-09-10 02:33] Shing-Ho commented on #32
Use this https://github.com/WoodyWoodsta/react-native-slider

[2020-09-10 02:33] Shing-Ho commented on #97
use this https://github.com/WoodyWoodsta/react-native-slider

[2020-09-15 12:31] algokano opened #226 "onSlidingStart & onSlidingComplete & onValueChange were not called on tvbox (android)"
"@react-native-community/slider": "^3.0.3",
"react-native": "npm:react-native-tvos@0.62.2-1",
"react": "16.11.0"
my code:
<Slider
                thumbTintColor={"red"}
                style={{width: "100%", height: 40}}
                value={value ? value : 0}
                onSlidingComplete={(a)=>{
                    console.log("onSlidingComplete", a)
                }}
                onSl

[2020-09-15 12:52] agnieszkabugla commented on #151
anyone already picked up this feature request?

[2020-09-16 07:49] bharatgupta99 commented on #225
@Shing-Ho For me thumb image is not showing up on android at all.

[2020-09-16 09:49] Shing-Ho commented on #225
https://github.com/Shing-Ho/react-native-slider.git
@bharatgupta99 use this library. It's working on both Android and iOS and also it allows you to resize image

[2020-09-16 12:04] bharatgupta99 commented on #217
https://github.com/react-native-community/react-native-slider/pull/204

[2020-09-17 08:20] trashcoder opened #227 "Changable size of touchable area of the thumbImage"
## Describe the Feature

With the possibility to add a thumb image, it would be good to make the whole image touchable. Actually you can only touch a little area in the center of the image.

## Possible Implementations

Just like react-native-slider it could be implemented in props as "thumbTouchSize".

## Related Issues

[2020-09-21 11:34] sujitgawas19 commented on #156
@jehajj i had a similar problem.
Used https://github.com/jeanregisser/react-native-slider package.

[2020-09-21 22:45] ralph-dev opened #228 "Multiple Knobs Slider"
## Describe the Feature
The ability for a Slider to Feature Multiple Knobs in order to handle Bounded Ranges (Ex: Values in-between X and Y).

## Possible Implementations
I've attached a screenshot of what I've built in isolation, hoping someone can duplicate this but into the library?

![image](https://user-images.githubusercontent.com/7469722/93829013-72e5bb00-fc21-11ea-9e44-fcdd613b9ca4.png)

T

[2020-09-25 06:59] smallsaucepan commented on #211
Hi @lukewalczak. Are you currently working on this? If not, I would be happy to have a crack as a first issue.

[2020-09-25 07:24] lukewalczak commented on #211
Hey @smallsaucepan, feel free to take over the issue ✌🏼 If you don't mind, I have the solution for iOS so can push the changes on your feature branch, just let me know! Have a good day!

[2020-09-25 09:34] smallsaucepan commented on #218
Possibly a duplicate of #71 ?

[2020-09-25 09:35] luatnd commented on #197
+1,
I tried all other libraries but this is only library that can work inside react-native-modal because of touch responder system.
At this time, we cannot modify track styles.
I haven't tried to set trackImage + thumb image yet

[2020-09-25 11:19] Sharcoux commented on #197
@luatnd So you tried @Sharcoux/slider and it doesn't work inside a react-native-modal, right? Do you want me to check if there is something I can do to fix this?

[2020-09-25 23:56] smallsaucepan commented on #211
Sure thing @lukewalczak. Thank you for the head start! You can push your work in progress to https://github.com/smallsaucepan/react-native-slider/tree/feature/touch-to-seek-prop and I'll build on that.

Do @michalchudziak or @wojteg1337 need to add me as a contributor before you can reassign the issue?

It seems like one of the main drivers to be able to turn off this behaviour on iOS are problems

[2020-09-28 08:38] luatnd commented on #197
Glad to hear that @Sharcoux , it's all I want except working inside modal. I'm using `swipe down to dismiss` modal, the modal is taking higher touch priority.

[2020-09-28 09:45] Sharcoux commented on #197
Do you think that you could create a minimal sample code that reproduce the issue on any sandbox (codesandbox for instance)?

[2020-09-28 12:06] karpov-denys commented on #65
Hi. Could you specify how you get vertical slider from React Native Elements Slider?
My code is
`<View
        style={{ flex: 1 }}

        <Slider
          orientation="vertical"
          trackStyle={{ height: 10, backgroundColor: "lightgrey" }}
          thumbStyle={{ height: 40, width: 40, backgroundColor: "red" }}
        />
   </View>`

But my slider is still horizontal

[2020-09-28 18:42] pdandradeb opened #231 "thumbImage isn't showing up on Android builds"
## Environment

Expo CLI 3.27.10 environment info:
    System:
      OS: macOS Mojave 10.14.6
      Shell: 5.3 - /bin/zsh
    Binaries:
      Node: 12.18.2 - ~/.nvm/versions/node/v12.18.2/bin/node
      npm: 6.14.8 - ~/.nvm/versions/node/v12.18.2/bin/npm
      Watchman: 4.9.0 - /usr/local/bin/watchman
    Managers:
      CocoaPods: 1.9.1 - /usr/local/bin/pod
    SDKs:
      iOS SDK:
        Platfo

[2020-09-30 05:31] smallsaucepan commented on #211
Think I have a fix for this. Essentially lifted the implementation of the UITapGestureRecognizer into RNCSliderManager.

Would we expect a tap to fire a single onValueChange and a single onSlidingComplete event with the same value? If so, this will also address #212.

[2020-10-07 16:42] jinhale commented on #152
I'm _**not**_ using Expo and I'm not yet developing for a Windows app, but I have the same error: `Invariant Violation: requireNativeComponent: "RNCSlider" was not found in the UIManager.`

[code]

From `package.json`: `"@react-native-community/slider": "^3.0.3",`

From `yarn.lock`:

[code]

![image](https://user-images.githubusercontent.com/2700346/95361171-62c51100-089a-11eb-8e84-62d18039fd0d.pn

[2020-10-07 19:59] arthur-vargas commented on #169
+1

[2020-10-07 20:00] arthur-vargas commented on #97
+1

[2020-10-07 20:01] arthur-vargas commented on #40
+1

[2020-10-08 19:36] ozanhonamlioglu commented on #231
Yep, thumb image don't show up.

[2020-10-14 16:11] #199 closed

[2020-10-14 16:12] #156 closed

[2020-10-14 16:12] #147 closed

[2020-10-14 18:36] #223 closed

[2020-10-14 18:51] raphaelrupprecht commented on #169
+1

[2020-10-14 19:35] Sharcoux commented on #169
@raphaelrupprecht @arthur-vargas @ShivamJoker if you need something for now, just try @sharcoux/slider from npm. It is open source and used and maintained by my company. You can ask if you have issues.

[2020-10-14 22:34] aurelianv commented on #118
This issue is still occurring on Android, and on iOS emulator the onSliderComplete function is not always called as well. Why isn't this issue in opened state?

[2020-10-17 22:20] tarangill commented on #118
onSlidingComplete is not working even with version 3.0.3 on Android. Please open this issue and kindly fix it.

[2020-10-17 22:29] tarangill opened #239 "onSlidingComplete not getting called on Android"
## Environment

System:
    OS: Linux 4.18 CentOS Linux 8 (Core)
    CPU: (20) x64 Intel(R) Core(TM) i9-9820X CPU @ 3.30GHz
    Memory: 92.80 GB / 125.34 GB
    Shell: 4.4.19 - /bin/bash
  Binaries:
    Node: 12.16.1 - /usr/local/bin/node
    Yarn: Not Found
    npm: 6.14.8 - /usr/local/bin/npm
    Watchman: Not Found
  SDKs:
    Android SDK: Not Found
  IDEs:
    Android Studio: Not Found
  Langu

[2020-10-18 09:56] Roshdy opened #240 "Is there a way to show Step Indicator?"
Is there anyway i can show a dot or some bump or anything indicating the step position.

UseCase Example:

[code]

The slider feels like it's not working until you slide 100px (while it's working just fine)

So Showing a far Step indicator will tell the user that he should slide that far to increase the value.

[2020-10-19 08:56] veeru03 commented on #118
To run **onSlidingComlete** in android please do the changes given below in **ReactSliderManager.java**

### **1. ** **Comment** this line -->>  **ReactSlidingCompleteEvent.EVENT_NAME, MapBuilder.of("registrationName", "onRNCSliderSlidingComplete"),** in the **getExportedCustomDirectEventTypeConstants()** method like given below
 @Override
  public Map getExportedCustomDirectEventTypeConstants() {

[2020-10-22 08:32] arthurpankiewicz commented on #185
I'm also running into this problem with a few tests, particularly
[code]
I'm thinking this might be more of a `react-native-web` problem though

[2020-10-23 22:40] pachun commented on #41
[code]

Note the last line there. That's what I'd been missing. Rebuild your app after adding native dependencies.

[2020-10-29 13:15] raazatul7 commented on #172
Any update on two thumbs on the slider?

[2020-10-29 14:39] Sharcoux commented on #172
@raazatul7 Did you try the range slider of @Sharcoux/slider ? Was it not enough for your use case?

[2020-11-05 04:25] jaikantshikray opened #243 "Slider in a volume like triangle"
i need to implement the slider UI in a volume like triangle how it is possible to design like that

![image](https://user-images.githubusercontent.com/59036153/98197521-c9485800-1f48-11eb-9626-e7e7a2db1003.png)

[2020-11-05 12:57] ekelund1 opened #244 "Incorrect cleanup from useLayoutEffect hook. v4.0.0-rc.1 (web)"
## Environment

System:
    OS: Windows 10 10.0.17134
    CPU: (8) x64 Intel(R) Core(TM) i7-8650U CPU @ 1.90GHz
    Memory: 4.61 GB / 15.85 GB
  Binaries:
    Node: 14.11.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.15.2 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.14.8 - C:\Program Files\nodejs\npm.CMD
    Watchman: Not Found
  SDKs:
    Android SDK:
      Android NDK: 20.0.5594570

[2020-11-09 03:51] duttasuraj93 commented on #243
@jaikantshikray  please refer to this: [https://github.com/callstack/react-native-slider#thumbimage](url)

you can use the "**thumbImage**" prop and set it to your preferred image. But remember, it only supports local images at the moment.

Eg.
`<Slider
  thumbImage={require('../../../img/image-icon.png')}
/>`

[2020-11-09 03:56] duttasuraj93 commented on #239
@tarangill I had the same issue where I was importing Slider from react-native instead of from the community slider

Eg.
`import Slider from '@react-native-community/slider';`

instead of
`import { Slider } from 'react-native';`

you can try this and see if it starts working. Not sure otherwise since you did not upload any code

[2020-11-13 09:27] Laurent888 opened #247 "Throttle the value change"
Is there a way to throttle the value from onValueChange? I am setting the value in a state which cause the app to lag because there are too many changes to the state while moving the slider.

[2020-11-13 14:24] SamiChab commented on #97
+1 for this feature !

[2020-11-15 05:42] vaionescu commented on #97
+1

[2020-11-17 10:43] cucauthongminh commented on #97
+1

[2020-11-18 20:15] lukemcgregor opened #249 "Setting disabled on iOS sometimes does not set disabled style"
## Environment

System:
    OS: macOS 11.0.1
    CPU: (12) x64 Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz
    Memory: 89.49 MB / 16.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 14.15.0 - ~/.nvm/versions/node/v14.15.0/bin/node
    Yarn: 1.22.10 - ~/.nvm/versions/node/v14.15.0/bin/yarn
    npm: 6.14.8 - ~/.nvm/versions/node/v14.15.0/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  Mana

[2020-11-18 23:28] lukemcgregor commented on #247
I use lodash throttle for this.

[code]

[2020-11-20 15:53] Laurent888 commented on #247
Thanks for your answer, I ended up using this solution !

[2020-11-23 16:48] alexkramerbanjo opened #250 "iOS onAccessibilityAction bug"
## Environment

info Fetching system and libraries information...
System:
    OS: Windows 10 10.0.18363
    CPU: (8) x64 Intel(R) Core(TM) i7-8665U CPU @ 1.90GHz
    Memory: 21.64 GB / 31.72 GB
  Binaries:
    Node: 12.10.0 - ...\AppData\Local\Temp\yarn--1606148773529-0.05497837007190132\node.CMD
    Yarn: 1.22.0 - ////AppData\Local\Temp\yarn--1606148773529-0.05497837007190132\yarn.CMD
    npm: 6.

[2020-11-23 17:42] alexkramerbanjo commented on #250
I fixed this issue by wrapping the Slider in a View with the accessibility props on that.  Like so:

[code]

Leaving this issue open because this component indicates that it inherits View props, so this should be unnecessary.

[2020-11-24 07:32] Jason-Cooke commented on #249
This bug suddenly presented itself in v2.0.9 as well!
So I'm guessing the underlying issue is react or react-native related...

[2020-11-26 10:57] jawwad22 commented on #227
you can acheive this feature in this way
[code]

[2020-12-02 03:53] TowhidKashem commented on #169
In addition to thumbsize support another deal breaker is the ghastly box shadow thats on the thumb handle by default. There should be a way to remove that or just support style prop and call it a day!

[2020-12-02 09:11] JaliJuhola commented on #108
Same error occured for me initial situation was was:

[code]

Solution was to move pod under abstract level:
[code]

[2020-12-08 15:30] agnieszkabugla commented on #200
I have the same issue on iOS.

[2020-12-12 05:18] G4BB3R opened #252 "tapToSeek iOS prop is not working"
## Environment

System:
    OS: macOS 10.15.7
    CPU: (8) x64 Intel(R) Core(TM) i7-4850HQ CPU @ 2.30GHz
    Memory: 1.06 GB / 16.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 14.15.1 - /usr/local/bin/node
    Yarn: 1.22.10 - /usr/local/bin/yarn
    npm: 6.14.8 - /usr/local/bin/npm
    Watchman: Not Found
  Managers:
    CocoaPods: 1.8.4 - /usr/local/bin/pod
  SDKs:
    iOS SDK:
      Pl

[2020-12-13 16:09] SofianeToumert commented on #231
Same here, Thumb image only showing up on iOS.

[2020-12-14 08:28] anton-thushara opened #253 "Add text to thumb"
Is there any way to add text to thumb without adding an image.

https://ibb.co/ZMptkww

[2020-12-14 10:09] trashcoder commented on #227
Thank you, but while scaleY works, scaleX does nothing:
![image](https://user-images.githubusercontent.com/2404165/102068498-c7519e80-3dfc-11eb-970e-372b17938a0e.png)

[2020-12-14 11:45] mohity7777 commented on #184
@YajanaRao Hey did u find any solution for it?? I need vertical slider with snap points but could not find it

[2020-12-14 16:23] nsdub commented on #71
Until this is formally supported, here's a workaround that worked well for my use case:

Slider component...
[code]

And the sliderValueChange function...

[code]

[2020-12-21 16:23] javierbustamante commented on #252
Same here... And the click seems not fire any listener...

[2020-12-22 10:45] tomsdob commented on #231
Same issue here.

[2020-12-25 11:38] scchess commented on #197
Updates?

[2020-12-25 20:05] xmflsct commented on #252
Same here..

[2021-01-03 18:12] KyleAsaff commented on #25
really need this feature. need to filter values in between a selected min and max

[2021-01-03 20:39] KyleAsaff commented on #228
@ralph-dev could you share your implementation, I really need this feature 😅

[2021-01-04 12:35] smallsaucepan commented on #252
Pull request #233 may help with this. Although it's in the documentation, the fix may not have made it in to a release yet.

[2021-01-06 18:58] avlonder commented on #172
@Sharcoux, at least on my Android device, your package doesn't seem to work as expected:
* the thumbs are not rendered
* if I press the track somewhere, the active track color seems to react pretty slow
* you forgot some console.log

I really hope you get the package working. If you can get the same performance as the community package, I (and many others) will definitely use it!

[2021-01-06 21:30] Sharcoux commented on #172
@avlonder thanks for the feedback.
The `console.log` issue should be solved in the latest version.
I will definitely try to solve the issues you mention, but it's probably better to discuss this there. Can you open an issue on the project?

[2021-01-08 06:38] kimsean opened #254 "Styling the slider"
where can i find the  **StyleSheet.js** and **ViewStylePropTypes.js** in the package ?

[2021-01-09 16:16] mstaicu commented on #41
I think it's worth mentioning that _one must build the app_ **_after_** linking the packages

[2021-01-13 18:58] lucidlive commented on #254
Second that - how can we customize this?

[2021-01-13 19:29] chrisfromwork opened #255 "SliderWindows.vcxproj doesn't get consumed correctly with autolinking for react-native-windows applications"
## Environment

* Building on a PC with visual studio 2019
* Using react-native-windows@0.64.0-preview.5
* Using @react-native-community/slider@4.0.0-rc.2

## Description

SliderWindows.vcxproj can be manually linked to enable slider support. Autolinking does not seem to resolve the package/native project correctly. I believe moving forward, autolinking will be the preferred developer experience f

[2021-01-13 20:47] chrisfromwork opened #256 "Slider manipulation results in crashes for react-native-windows when no step is specified"
## Environment

* Building on a PC with visual studio 2019
* Using react-native-windows@0.64.0-preview.5
* Using @react-native-community/slider@4.0.0-rc.2

## Description

If you don't specify a step value, no default is set. This then causes xaml range value component to generate errors

## Reproducible Demo

* Setup a react-native-windows project
* Add @react-native-community/slider@4.0.0-rc.2 a

[2021-01-15 20:55] rectified95 commented on #255
Created PR https://github.com/callstack/react-native-slider/pull/257

[2021-01-19 08:19] HITESH122 opened #258 "Extra padding on android and ios ,"
## Environment

System:
    OS: macOS 10.15.6
    CPU: (4) x64 Intel(R) Core(TM) i5-3210M CPU @ 2.50GHz
    Memory: 57.86 MB / 8.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 15.2.0 - /usr/local/bin/node
    Yarn: 1.22.10 - /usr/local/bin/yarn
    npm: 6.14.8 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  Managers:
    CocoaPods: 1.10.0 - /usr/local/bin/pod
  SDKs:

[2021-01-19 12:46] HITESH122 commented on #258
![Screenshot 2021-01-19 at 12 46 56 PM](https://user-images.githubusercontent.com/25567410/105036340-5c8e2580-5a82-11eb-9d23-ba6244dcd016.png)

[2021-01-21 17:16] antonsokolow commented on #97
+1

[2021-01-22 12:05] a-eid commented on #247
@Laurent888 please close if this issue is resolved.

[2021-01-26 00:04] rectified95 commented on #256
fyi @BartoszKlonowski I already have a fix

[2021-01-26 00:05] rectified95 commented on #255
@michalchudziak This one can be closed, PR is merged, I didn't link it in time.

[2021-01-26 09:17] BartoszKlonowski commented on #256
@rectified95 I didn't notice your comment, but why have you been working on an issue which has already a developer assigned to it?

[2021-01-27 07:26] charitha95 commented on #98
Or with `marginHorizontal: -10`

[2021-01-27 08:33] #256 closed

[2021-01-28 09:03] hpurohit97 opened #261 "Disabled Prop not working in Web when used with react-native-web"

[2021-01-28 12:15] wojteg1337 commented on #258
@HITESH122 Could you provide more context?

[2021-01-28 13:06] wojteg1337 commented on #253
Unfortunately not :(

[2021-01-28 13:06] #253 closed

[2021-01-29 22:12] rectified95 commented on #256
@BartoszKlonowski The issue was spotted by a consumer from Hololens. along with the autolinking problem. He first reached out to me and only created these issues for tracking/visibility. I don't have the privileges to assign issues in this repo, so couldn't self-assign, and later on didn't check that you had it on you. We wanted to fix it sooner than later so I went ahead and did it.

[2021-01-30 08:29] #247 closed

[2021-02-01 12:45] RRaideRR commented on #254
Any updates on this? I have no clue how I can style the slider in a more sophisticated way than just changing three colors.

[2021-02-01 15:09] Sharcoux commented on #261
Can you check if you can reproduce with the last version of @sharcoux/slider (`npm i @sharcoux/slider`)

[2021-02-01 15:10] Sharcoux commented on #254
try @sharcoux/slider
It's the web implementation of this slider made compatible with iOS and android. There are more customization possible.

[2021-02-01 15:13] Sharcoux commented on #214
If you are aware on accessibilities issues, can you check @sharcoux/slider and tell me if you notice any issue with accessibility on iOS and android? Basically it is the web implementation of this slider made compatible with Android and iOS. And as this lib seems half abandoned, it might be good to have a good alternative.

[2021-02-01 15:23] Sharcoux commented on #228
@ralph-dev Try @sharcoux/slider it supports range-slider. I'm opening a discussion to try and make it the "official" implementation for React Native as the current one is really poor in terms of support and features

[2021-02-01 15:48] ralph-dev commented on #228
I'd also be happy to contribute the code above as well!

[2021-02-01 16:32] Sharcoux commented on #228
@ralph-dev My bad, I was targetting @KyleAsaff :sweat_smile:

[2021-02-01 16:42] R4DIC4L commented on #213
I noticed this only happens on android, on ios it seems to be working fine. I am using version 3.0.3.

I found an ugly workaround (hack) to send the modified value only as initial value on mount, as it seems that changing the `value` prop on android messes with the rendering when using the value in controlled mode (e.g.: in a form with redux-form or formik that saved the state value and sends it t

[2021-02-01 16:45] wojteg1337 commented on #254
There are 3 props to set colours of the slider
[code]
Rest of view styles can be passed with style prop

[2021-02-01 17:17] Daniel-Alencar commented on #258
My app is also like this. Although I have not tested on IOS.

[2021-02-01 18:04] NischayaSharma commented on #108
For android users `npx react-native link @react-native-community/slider` and then rebuild the app using `npx react-native run-android` or `yarn android` solves the problem.

[2021-02-01 20:25] KyleAsaff commented on #228
@Sharcoux and @ralph-dev I'm currently using https://www.npmjs.com/package/@ptomasroos/react-native-multi-slider but I would love to use this library instead

[2021-02-02 06:06] HITESH122 commented on #258
@wojteg1337 I need to plot markers according to percentage but slider thumb is not starting from extreme left for ios its taking the slight padding

[2021-02-02 23:56] pstevovski commented on #258
Same thing is happening on Android emulator (and I suppose the same on physical device). Can't get it to be the exact full width of the container, has some padding I suppose.

![image](https://user-images.githubusercontent.com/36767249/106678202-85520700-65ba-11eb-946f-3682367029d0.png)

[2021-02-03 12:03] HITESH122 opened #262 "On disable mode For Android platform the player progress color is not visible."
## Environment

System:
    OS: macOS 10.15.6
    CPU: (4) x64 Intel(R) Core(TM) i5-3210M CPU @ 2.50GHz
    Memory: 52.14 MB / 8.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 15.2.0 - /usr/local/bin/node
    Yarn: 1.22.10 - /usr/local/bin/yarn
    npm: 6.14.8 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  Managers:
    CocoaPods: 1.10.0 - /usr/local/bin/pod
  SDKs:

[2021-02-03 20:05] HITESH122 commented on #262
per android native implementation there is no progress colour visible in disabled mode

[2021-02-06 05:50] HITESH122 commented on #258
Hello @pstevovski  use this pr for android fix
https://github.com/callstack/react-native-slider/pull/170

For ios We need to get some solution

[2021-02-10 05:01] mouxuefei commented on #128
@Eightyplus is it solved？

[2021-02-10 06:24] Eightyplus commented on #128
@mouxuefei - sorry I don’t know. We stopped using this package since we do not use React Native any more.

[2021-02-11 07:15] bharatgupta99 commented on #191
+1

[2021-02-11 16:42] maheshsgr commented on #149
Fatal Exception: android.content.res.Resources$NotFoundException: Drawable android:drawable/seekbar_thumb_material_anim with resource ID #0x10806a7

[2021-02-12 13:30] elfstyle opened #264 "Impossible to change slider position with VoiceOver if it has less than 6 steps configured."
## Environment

react: 16.13.1
react-native: 0.63.4

## Description

If the slider is configured with the `step` prop and a number of steps in [min, max] range is less than 6 then it is impossible to change the value using VoiceOver.

## Reproducible Demo
// numberOfSteps = (maximumValue-minimumValue)/step

// Can change the value if  numberOfSteps>=6
`<Slider minimumValue={0} maximumValue={6} ste

[2021-02-16 09:04] krini commented on #254
Yes, but which props can be used? They refer to stylesheet.js-

[2021-02-18 18:17] fbartho commented on #228
We also would appreciate this, rather than pulling in a new dependency!

[2021-02-18 18:50] Sharcoux commented on #228
@fbartho react-native-slider is already a new dependency. They are supposed to move away from react-native-community. See  [this](https://github.com/react-native-community/discussions-and-proposals/issues/330) for more details. In the end, there is no difference between one dependency and the other.

[2021-02-18 20:16] fbartho commented on #228
@Sharcoux -- Sorry, I must have been unclear, I meant that my team is already using react-native-slider, but now we also need a slider with multiple drag handles. I'd rather not have to migrate entirely to react-native-multi-slider, and also not have to include 2 slider libraries.

[2021-02-18 21:13] Sharcoux commented on #228
@fbartho The slider I mentioned can handle both (simple slider and range slider) and is following the same API except that it has more features. You might want to change to only this one, but that's up to you.

[2021-02-21 04:14] amarlette opened #265 "Slider Accessibility: Does it announce "disabled" or Checked/Unchecked State"
# Slider Accessibility
In regaurds to facebook/react-native#30939 & facebook/react-native#30961 has react-native-slider already addressed these accessibility issues? Any help in identifying if this issue has been addressed in this repo would be greatly appreciated!

## Slider Component does not announce "disabled"
### Expected results
When a component is "disabled", screen readers should announce

[2021-02-22 14:29] newyankeecodeshop commented on #9
I believe the crash is caused by the custom Yoga `measure` implementation here:
https://github.com/callstack/react-native-slider/blob/45c2a5438f0d7e2dd586a663c4043e795d6c1761/src/android/src/main/java/com/reactnativecommunity/slider/ReactSliderManager.java#L69

That code runs on the Yoga layout thread, but it allocates a `ReactSlider` view. Since `ReactSlider` extends Android `SeekBar`, the constr

[2021-02-22 18:11] afilp commented on #225
Can you create a PR to have this here? Seems to be the "official" one community library, this is why.

[2021-02-22 18:12] afilp commented on #97
Please add this feature, it is very important. Thanks.

[2021-02-23 16:18] mansdahlstrom1 commented on #254
Was also looking around for `StyleSheet.js` and `ViewStylePropTypes.js` but could not find it in this repo...

For instance, if i want to change the size of the slider handel, how do i do that?

[2021-02-24 21:57] afilp commented on #41
Can you reopen this please?

I also have the same problem with RN 0.63.

Shouldn't "autolink" work without any other intervention from us? Is this the problem? The "autolinking" fails somehow?

Thanks!

[2021-03-01 14:02] #217 closed

[2021-03-01 14:03] matapo commented on #252
still doesn't work using expo v40 @smallsaucepan

[2021-03-01 14:03] wojteg1337 commented on #203
We have default step for windows which is 1% of range

[2021-03-01 14:03] #203 closed

[2021-03-02 01:00] smallsaucepan commented on #252
Does the version of react-native-slider you're using have the fix in it?

[2021-03-02 08:10] matapo commented on #252
@smallsaucepan yes, v4.0.0-rc.3

[2021-03-02 09:35] smallsaucepan commented on #252
Thanks for confirming @matapo. I'm not super familiar with expo. Is your setup fairly standard? For example, have you had to "eject" to use react-native-slider? And is the behaviour exactly as described above i.e. slider moves but no events get fired that your app can respond to?

[2021-03-03 04:18] seanraad123 commented on #196
Tacking on to say that we need a vertical prop for all platforms. Thanks!

[2021-03-07 23:40] smallsaucepan commented on #252
Took more of a look at this. Created a new Expo project, ejected, and installed slider@4.0.0-rc.3. Functionality seems to work as expected: tap to seek is ok, and inadvertent sliding while scrolling is fixed too.

Perhaps if more info could be provided about specific setups, we can debug further? @matapo @G4BB3R @javierbustamante

[2021-03-08 10:41] mohamad-1994 opened #267 "circle slider"
I need circle ( half circle ) slider for my project , it should show slider for audio player.
searched many other libraries but almost arent update and didnt work with RN +0.6
( tried for progress bars too, but they are uncontrollable with touches )

can anyone help me to find a solution ? I am newbie in React Native .

I attached what needed from circle slider
![circle slider](https://user-images

[2021-03-10 14:12] wojteg1337 commented on #267
Our library does not support circular sliders.
My guess would be to consume https://github.com/bartgryszko/react-native-circular-progress
and bind it with song progress events to animate the bar.

[2021-03-10 14:12] #267 closed

[2021-03-10 14:37] wojteg1337 commented on #243
Hello,
there is no option for it on Android,
for iOS, you can use the `trackImage` prop to create any custom track styling

[2021-03-10 14:37] #243 closed

[2021-03-12 09:48] avlonder opened #269 "Range slider"
Please, please, please create a slider with two thumbs. This really is an important missing feature.

[2021-03-13 06:44] PhoenixCreation opened #270 "Does it work inside the PanGestureHandler from react-native-gesture-handler?"
## Question:
Does it work inside the PanGestureHandler from react-native-gesture-handler?

### Realted information:
I have a View Containing whole screen which is wrapped inside PanGestureHandler. It has translation based on gesture event on Y axis. And I have slider inside it. It is not working in any way. There is no way to disable the gesture event while targeting slider.

Is there any way to m

[2021-03-14 16:53] liquid8d commented on #200
Having this issue as well on Windows (in electron) with click events. It seems like a value change is not triggered until after there is any kind of mouse movement post-click. If i click then move the mouse a pixel or two, the click registers.

onSlideStart is called on the click, but the current value is returned and the value isn't adjusted until some movement is detected:

![slider-click](https

[2021-03-15 21:04] YeetOrBeYate opened #271 "minimumTrackImage, maximumTrackImage, and trackImage do not work together"
## Environment

System:
    OS: macOS 10.15.7
    CPU: (4) x64 Intel(R) Core(TM) i5-7400 CPU @ 3.00GHz
    Memory: 1008.80 MB / 16.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 14.15.3 - /var/folders/1t/_jt97n35417ff5hsqd0m7dbw0000gn/T/yarn--1615841103810-0.40424128651417157/node
    Yarn: 1.22.4 - /var/folders/1t/_jt97n35417ff5hsqd0m7dbw0000gn/T/yarn--1615841103810-0.40424128651417157/y

[2021-03-16 10:50] chichilatte commented on #161
This came up in crash reports on an Samsung SM-T532 with Android 5.0.2.

Our app is: `RN 0.63.3`, `@react-native-community/slider 3.03`

[code]

[2021-03-17 08:27] srinu6 commented on #254
I am also looking for that @mansdahlstrom1, have you found a way?

[2021-03-17 11:37] Sharcoux commented on #254
Just use another slider. You can try [@sharcoux/slider](https://www.npmjs.com/package/@sharcoux/slider) but anyone will do.

[2021-03-17 12:04] krini commented on #254
That was also my solution. I used https://www.npmjs.com/package/rn-range-slider

[2021-03-17 12:14] mansdahlstrom1 commented on #254
No not really, sorry

[2021-03-17 13:18] dukoo commented on #213
I have the same issue on iOS even when no handler is set - just raw Slider component. In my case the problem occurs when I slowly move slider towards 0 and release it with value about 10-15%, then it bounces to some value between old position and the new one.

[2021-03-17 13:30] dukoo commented on #213
I see that the issue is already solved and waits to be published: https://github.com/callstack/react-native-slider/pull/235

[2021-03-19 04:56] PhoenixCreation commented on #270
Never mind. I just created my own with pangesturehandler as per my custom needs. Sorry to bother here.

[2021-03-19 04:56] #270 closed

[2021-03-19 11:54] danielbenedykt opened #272 "RTL issues in Android and iPhone"
## Environment

react: 16.13.1 => 16.13.1
react-native: ~0.63.3 => 0.63.3

## Description
When using/forcing RTL there are issues on the sliders

I use :  I18nManager.forceRTL(true);

**Android:**
Set   invert_slider = true   to make it look correct in all phones (English phones for example)
_Issue_:  When the language of the phone is in hebrew,  the slider always shows in the wrong way.  (invert_

[2021-03-26 05:54] haveamission commented on #185
Has any solution been found for this? I cannot use React Native Slider in React Native Web.

[2021-03-26 10:11] #239 closed

[2021-03-26 10:16] matapo commented on #252
Please try on Expo project that is not ejected

[2021-03-26 10:42] mosoakinyemi commented on #252
@matapo could you reproduce this error via an Expo snack and share?

[2021-03-26 10:56] matapo commented on #252
@mosoakinyemi here https://snack.expo.io/8n9DPIS7F

[2021-03-29 15:05] mosoakinyemi commented on #244
Thanks, closing as this has been fixed.

[2021-03-29 15:05] #244 closed

[2021-03-29 16:25] mosoakinyemi commented on #272
Hi @danielbenedykt 👋🏼,
Kindly review this demo on Expo https://snack.expo.io/@mishael_akinyemi/rtl-issue and see if you could reproduce your issue.

[2021-04-01 16:32] zenabus commented on #231
I have the same issue, the thumb image is showing in development but not showing after the build.

[2021-04-07 07:58] qasim90 commented on #97
Any plans on adding this feature?

[2021-04-08 15:16] dstdnk commented on #264
Hi @elfstyle, are you using bare `react-native` setup, or `expo`?

[2021-04-08 15:33] #271 closed

[2021-04-08 17:39] elfstyle commented on #264
Bare "react-native": "0.63.4"

[2021-04-08 19:22] elfstyle commented on #264
Can reproduce on freshly created app https://github.com/elfstyle/SliderA11Y

[2021-04-09 15:17] dstdnk commented on #264
@elfstyle unfortunately I could not reproduce your issue.
I used:
[code]

Here's what I did:
[code]
In the `App.js` I've added:
[code]
I turned on VoiceOver, tap the slider once to activate it, then double-tap and hold.
While holding I move the slider.

Please let me know if you're able to reproduce the problem with the steps above.

[2021-04-09 15:19] dstdnk commented on #264
@elfstyle please let me know the gestures you're using.

[2021-04-09 15:31] dstdnk commented on #264
I tried your app:

https://user-images.githubusercontent.com/12425395/114204072-35a10a80-9972-11eb-90a3-3e49ee24c723.mp4

@elfstyle Please let me know the gestures, device (presumably iPad?), iOS version.

[2021-04-09 17:04] elfstyle commented on #264
It's working on Samsung s10 as expected.

[2021-04-10 11:00] sn4f opened #278 "Add discrete and custom marks"
## Ask your Question
Hi!
I am looking for a solution to get a similar effect as on the screen, maybe someone has already done something like this using this package? Something like that https://material-ui.com/components/slider/#custom-marks (but this is on react)
[Screenshot](https://ibb.co/JphLJC7)

[2021-04-10 21:14] sn4f commented on #278
I got it

[2021-04-10 21:14] #278 closed

[2021-04-11 15:55] samdelong commented on #41
Restarting my Expo process worked for me (Using Expo 4.1.6)

[2021-04-12 06:43] dstdnk commented on #264
@elfstyle ok confirm it's not working with swipe up/down gestures.

[2021-04-12 19:35] lucidlive commented on #98
I see this issue only on Android. I applied the following style to the slider:

[code]

Kinda annoying but it works.

[2021-04-14 09:28] mosoakinyemi commented on #231
To solve this issue, kindly **remove** this line from your `app.json` file
[code]

You can check [here](https://github.com/expo/expo/issues/3226) and [here](https://docs.expo.io/guides/preloading-and-caching-assets/#bundling-assets) for more information

[2021-04-14 09:28] #231 closed

[2021-04-14 14:26] AlisanCakir commented on #169
+1

[2021-04-16 17:08] marcshilling commented on #250
Thanks, your workaround seems to be the only way to get this working. I tried the props added by this PR https://github.com/callstack/react-native-slider/pull/175, but they don't seem to work at all.

[2021-04-20 10:16] tiwari-ashwani commented on #65
Still not able to allign the slider vertically, any luck anybody?

[2021-04-20 11:42] #264 closed

[2021-04-20 13:55] imbarwinata commented on #200
Any updates related to this issue?

[2021-04-21 13:47] dstdnk commented on #264
@elfstyle please checkout latest `master` and confirm it's working on your side.

[2021-04-22 12:47] BartoszKlonowski commented on #255
@rectified95   Sorry for the delay, but thank you for this!
I will close this issue.

[2021-04-22 12:47] #255 closed

[2021-04-22 12:48] BartoszKlonowski commented on #202
@rectified95  Thank you!

[2021-04-22 12:48] #202 closed

[2021-04-22 20:47] AdrielHigor commented on #197
updates?

[2021-04-22 21:53] Sharcoux commented on #269
Just use an other slider. This is requested for years and won't happen soon. You can try @sharcoux/slider that uses the same api as react-native-slider, but the world is full of other good implementations.

[2021-04-22 21:56] Sharcoux commented on #269
Duplicates:
https://github.com/callstack/react-native-slider/issues/172
https://github.com/callstack/react-native-slider/issues/228

[2021-04-28 09:40] #198 closed

[2021-04-28 12:57] smallsaucepan commented on #252
Regarding the problem with the label not updating, this behaviour looks like it was introduced in 4.0.0-rc.2, which included fix #235 related to taps.

Paging @MarkCSmith :) Hello mate. Do you think the fix for #235 might be causing taps to be ignored to some degree? For example, sliderTouchStart sets _isSliding to true, but then sliderTouchEnd doesn't get called and the flag is never cleared?

[2021-04-28 13:42] MarkCSmith commented on #252
I do not think that should happen but I am not 100% sure.  When you say "Regarding the problem with the label not updating" are you referring to https://snack.expo.io/RwhOV4lMH ?  I believe the code in that snack is missing a value prop on the `<Slider>`, e.g., `<Slider value={percent / 1.0} ...`

[2021-04-30 15:06] smallsaucepan commented on #252
Thanks for the quick reply Mark. Yes, was referring to the snack provided. I think you're right as running the snack app in a stock RN app seems to work ok.

@matapo Noticed you have used the ScrollView from react-native-gesture-handler in your snack. Was there a reason you didn't use the one that comes with react-native?

By switching the snack to use ScrollView from RN instead, the % labels do n

[2021-05-04 21:08] edi commented on #97
Bump :)

[2021-05-12 08:11] kg-currenxie commented on #217
@bharatgupta99 that's only for web

[2021-05-17 19:56] idemax commented on #149
Check this comment: https://github.com/facebook/react-native/issues/17560#issuecomment-405518992

[2021-05-18 22:34] Ghassanee commented on #278
Hey sn4f!
Can you share what you got with us.
Thanks!

[2021-05-19 00:08] BartoszKlonowski commented on #278
Hello @sn4f!
Can you check if #218 is the same feature you were after?
Would it be also possible to share your findings here?

[2021-05-24 05:36] Lopatovas opened #287 "Release 4.x.x"
## Regarding release of version 4.x.x

Hello, when is the release for version 4.x.x planned? Currently I can see that it is still a release candidate and I was wondering if you have a schedule for the upcoming release? I would like some features from the new version, mainly the ability to toggle click changes for iOS devices for slider.

Thank you for the library and your time!

[2021-06-09 11:20] Manitis opened #289 "Duplicate thumbs"
## Environment
info Fetching system and libraries information...
System:
    OS: macOS 11.4
    CPU: (16) x64 Intel(R) Core(TM) i9-9980HK CPU @ 2.40GHz
    Memory: 204.34 MB / 32.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 14.16.0 - /var/folders/k9/cd5jg1sx6r141mk0n9chpsgh0000gn/T/yarn--1623237532724-0.20750188069958653/node
    Yarn: 1.22.10 - /var/folders/k9/cd5jg1sx6r141mk0n9chpsgh000

[2021-06-09 11:45] Manitis commented on #289
Ok this all of a sudden started working correctly and the annoying thing is I have no idea what fixed it. My best bet is that the metro bundler was out of sync or that the module was in some way not correctly loaded which caused it to behave weirdly. I had tried to restart the bundler before writing this issue but it didn't solve it but now all of a sudden it works again.

[2021-06-09 11:45] #289 closed

[2021-06-23 08:22] AlexisLampouridis opened #292 "Controlled value"
Instead of having 'value' prop as initial value and then we cannot control it , I suggest to rename it to  'initialValue' to keep the same functionality ,  and name 'value' as 'controlledValue'. if 'controlledValue' isn't set it should work as it is now.

Example that this is useful :
After onSlidingComplete I ask user if he is sure that he want to set the value at x % . If he press cancel , I can

[2021-06-28 09:35] BartoszKlonowski commented on #292
@DonAlexios Thank you for the idea!
As I can see you propose to keep the `controlledValue` in the same old `value` property, but at the same time keep the first value of `value` in the `initialValue`.
Correct me if I'm wrong, but all it takes is to implement the `initialValue` property and put there the `value` on the beginning.
I also believe that it won't break the backward compatibility as the

[2021-06-28 09:45] BartoszKlonowski commented on #269
@Sharcoux Thank you for the insight, that's really helpful!
I wouldn't consider #228 as a range slider itself, as it would allow to create several ranges. I would say that this issue (and duplicated #172) is a "subfeature" or a base for multiple-knobs slider.

@avlonder Sorry for the delay in our response. The multiple-knobs slider and/or range slider would be quite an implementation to do, so we

[2021-06-28 10:34] BartoszKlonowski commented on #228
I can see that this is a duplicate of #25
@ralph-dev Thank you for your report!
I'm going to close this one and mark it as a duplicate, so all the work on this enhancement can be tracked from the original issue.

FYI @michalchudziak

[2021-06-28 10:34] #228 closed

[2021-06-28 10:38] BartoszKlonowski commented on #172
@AbhiShrek  Thank you for reporting this!
I can see that this is a duplicate of #25 so I'm going to close this one and mark it as a duplicate, so all the work on this enhancement can be tracked from the original issue.

FYI @michalchudziak

[2021-06-28 10:38] #172 closed

[2021-06-29 15:12] viveKing21 commented on #258
Still not working on android

[2021-06-29 20:57] BartoszKlonowski commented on #196
As I can see on the provided Expo (thank you, @YajanaRao) the vertical slider is only inverted visually. Width and height still applies but with inverted effects, while sliding is still possible but also on the horizontal axis:
![SliderVerticalIssue](https://user-images.githubusercontent.com/70535775/123865238-f3151b80-d92b-11eb-9483-796391a54642.gif)
(notice the  `width` change on the beginning f

[2021-06-30 17:31] EnzoOctupus commented on #197
No updates?

[2021-07-01 08:04] DonAlexios commented on #292
I have find a solution to control the slide bar value but it is dirty.

` <Slider key={/**Something random*/} value={this.state.sliderValue} />`

Every time the screen re-renders it will re-initialize it due to the new key.

[2021-07-01 13:40] BartoszKlonowski commented on #292
@DonAlexios I'm trying to follow your idea so we have a common understanding.
Can you refer to my [comment](https://github.com/callstack/react-native-slider/issues/292#issuecomment-869532838)?

[2021-07-01 14:07] DonAlexios commented on #292
Now:

- Slider value cannot be controlled programmatically.
- "value" prop is only for the init state of Slider.

Idea :

- Add "controlledValue" prop to control slider value.

or

- Refactor "value" prop to control slider.

[2021-07-01 17:47] ararog opened #293 "Sliding back on Android"
## Environment

System:
    OS: macOS 11.4
    CPU: (8) x64 Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz
    Memory: 218.67 MB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 16.2.0 - /usr/local/bin/node
    Yarn: 1.22.10 - /usr/local/bin/yarn
    npm: 7.13.0 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  Managers:
    CocoaPods: 1.10.1 - /usr/local/bin/pod
  SDKs

[2021-07-01 19:22] #293 closed

[2021-07-05 12:16] owenashurst commented on #25
+1

[2021-07-05 13:59] renanbronchart commented on #197
Updates or not?

[2021-07-06 05:54] ferzos commented on #25
+1

[2021-07-09 19:39] kolyuchii commented on #258
Same issue for me on android

[2021-07-14 14:50] hamzaawais96 commented on #252
` "@react-native-community/slider": "4.0.0-rc.3",
   "expo": "^42.0.0",
`
tapToSeek={true} and "onSlidingComplete" doesn't work on this expo version. Any update on it?

[2021-07-18 12:05] pinpong commented on #249
Hi, the example is not working on iOS. Seems the issue should open again.

[2021-07-19 14:28] shiraj777 commented on #39
The inverted prop didn't work for me.
I added  style={{direction:"ltr"}} to the  Slider component .

[2021-07-30 10:12] MaxEmbregts commented on #97
Bump it

[2021-08-02 06:00] avantgardenar opened #295 "Slider jumps around when used to control react-native-video player."
Hi everyone,

I am using react-native-slider as a custom video seeker for react-native-video.

I am updating the value prop to update the slider position according to the video progress.

But when I try to seek the video, using react-native-slider, and the video progress is updated as the video is running, the slider keeps jumping between the thumb position and the updated video progress.

I tried

[2021-08-02 07:53] BartoszKlonowski commented on #295
Hello @avantgardenar!

Can you provide us with reproduction or a link to repository with the app?
What version do you use for this?

[2021-08-02 16:27] zabojad opened #296 "Augment the hitSlop or prevent parent gesture listener to react around slider"
I'm using a slider within a [swiper](https://github.com/leecade/react-native-swiper) and it's quite hard to slide the slider without triggering the swiper.

How could I improve that situation ?

Is there some kind of hitSlop prop equivalent on the slider?

If not, how could I workaround this problem?

[2021-08-02 16:49] zabojad commented on #252
`tapToSeek={true}` does not work with `"@react-native-community/slider": "3.0.3" but work with `@next` version

[2021-08-03 10:59] zabojad commented on #296
Note that it is actually a problem on Android, not on iOS...

[2021-08-05 08:58] khmilevoi commented on #197
No updates?

[2021-08-05 09:59] Sharcoux commented on #197
Guys, just use another lib. There are plenty out there, and this one is not more "official" than any other one, and it is less maintained. Move on.

[2021-08-05 13:33] avantgardenar commented on #295
Hi @BartoszKlonowski ! Sorry for the late erplay, I got busy with work.

I am using version 3.0.3.

I can't provide a link to the repo, but I am sharing a somewhat similar representation of the issue. Let's say we have a situation like in the code below:

`
import React, { useEffect, useRef, useState } from "react";
import { StyleSheet, Text, View } from "react-native";

import Slider from "@react

[2021-08-05 15:33] khmilevoi commented on #197
I am using this library:  @miblanchard/react-native-slider

[2021-08-05 16:27] Sharcoux commented on #197
I use and maintain (@sharcoux/slider)[https://www.npmjs.com/package/@sharcoux/slider) with my company, but the lib from miblanchard seems good too depending on the use cases you have.

[2021-08-07 18:49] Aravind-Vaidhyanathan commented on #295
@avantgardenar Try setting the value prop to some initial value rather than tying it to the state. Ad per the docs, `This is not a controlled component, you don't need to update the value during dragging. `

[2021-08-07 23:13] a-koka opened #298 "Android Only: Slider inside a ScrollView"
## Environment

## Description

`Slider` doesn't work when embedded inside a `ScrollView`. No issues on iOS but on Android only taps respond.

## Reproducible Demo

[code]

[2021-08-10 14:04] traingethermarc commented on #295
Hi! Have you found a solution :)?

[2021-08-11 12:47] avantgardenar commented on #295
Hi @traingethermarc I had to make my own slider using reanimated. You can consult [this](https://thewidlarzgroup.com/reanimated2-slider/) article to do the same.

[2021-08-12 17:35] BartoszKlonowski commented on #69
It looks like it is already fixed by PR #101 and it can be closed.
Checked for version 3.0.3:
![Vertical-2](https://user-images.githubusercontent.com/70535775/129242604-fe91dfa6-674d-4007-97a9-115cb627a6ab.gif)

[2021-08-12 17:35] #69 closed

[2021-08-13 00:36] BartoszKlonowski commented on #167
@Akshayagt20 I can see this error is reported for an outdated version 2.0.9. Have you tried it on the latest one: 3.0.3?
Please double check if you are unblocked with the build using latest version.

[2021-08-13 13:41] SandyUndefined opened #301 "How to add gradient in slider"
Hello,
I m using react-native-slider and I need to add a gradient in the slider.
how to add a gradient in the slider?

![Screenshot from 2021-08-13 17-26-11](https://user-images.githubusercontent.com/31213192/129366025-8942e47e-707d-4144-a04b-eaa90fa2f6b0.png)
 Help!

[2021-08-16 15:25] #301 closed

[2021-08-17 09:43] BartoszKlonowski commented on #287
Hello @Lopatovas, and sorry for the long delay.
We are working on releasing those candidates and we are coming closer, so I'm sure they'll be released very soon.
I will notify you here once this happens.

[2021-08-20 09:29] zabojad commented on #296
Does anyone have a solution? I'm still looking for it...

[2021-08-20 09:44] BartoszKlonowski commented on #296
Can you provide a minimal example or a part of your code?
I will take a look into that.

[2021-08-20 09:45] BartoszKlonowski commented on #296
@zabojad Can you provide a minimal example or a part of your code?
I will take a look into that.

[2021-08-20 10:04] zabojad commented on #296
hey @BartoszKlonowski ! Thanks for taking the time to help me.

Here is a reproducer : [https://snack.expo.dev/5jW86cV70](https://snack.expo.dev/5jW86cV70)

I've not included the react-native-swiper dependency because it is actually just a ScrollView...

So let me recap the issue : when nested in an horizontal ScrollView, there is no way to give the priority to the react-native-slider instance for

[2021-08-20 10:20] BartoszKlonowski commented on #296
@zabojad That is a good example, thank you!
As I can see it is possible to reach the slider with a touch event, but dragging is captured by a parent.
Let me take some time to dig in and I will come back to you.

[2021-08-20 11:20] BartoszKlonowski commented on #298
This is the same issue as reported in #296.
I will close this one as a duplicate.

[2021-08-20 11:20] #298 closed

[2021-08-20 16:02] BartoszKlonowski commented on #287
@Lopatovas and everyone interested: v4 is now available.

[2021-08-20 16:02] #287 closed

[2021-08-20 22:10] BartoszKlonowski commented on #78
@markymc This issue is really old and seems to be outdated.
Can you please check if this issue still occurs on the latest release v4.1.1?

[2021-08-20 22:13] BartoszKlonowski commented on #84
@a-koka This issue is reported on the outdated version of package.
Can you please check if the same issue occurs on the latest release v4.1.1?

[2021-08-20 22:21] BartoszKlonowski commented on #189
@jetBn Can you provide more information?
What is the platform?
What version do you use?
Is the issue still valid if you try it with the latest release?
What are the reproduction steps?

[2021-08-21 03:47] markymc commented on #78
@BartoszKlonowski I'm afraid I'm not working on the project that was using this library any more, and don't really have the time to check this now, sorry. Perhaps you can close it, and if anyone else reports this problem in newer versions you could reopen it?

[2021-08-21 12:51] BartoszKlonowski commented on #78
No worries, I can close it then.
Thank you for the response! 👍

[2021-08-21 12:51] #78 closed

[2021-08-21 19:17] BartoszKlonowski commented on #193
Hello @mezalejandro! I can see that this issue has been reported on an outdated version of this library and RN.
I've double checked whether the same error happens on the latest release (*v4.1.1*),
can you check on your side?

[2021-08-22 13:29] BartoszKlonowski commented on #218
This is a duplicate of #71 as already mentioned by @smallsaucepan.
I will close this and move examples given by @gkupsaw to the origin issue.
Please track the progress there.

[2021-08-22 13:29] #218 closed

[2021-08-22 13:31] BartoszKlonowski commented on #71
I'm posting here some examples and thoughts of @gkupsaw given in the duplicate issue:

(Unmanaged) implementation in RN: https://www.npmjs.com/package/react-native-snap-slider

[2021-08-22 21:40] BartoszKlonowski commented on #10
Closing due to no author's feedback.

[2021-08-22 21:40] #10 closed

[2021-08-22 21:40] BartoszKlonowski commented on #167
Closing due to no author's feedback.

[2021-08-22 21:40] #167 closed

[2021-08-22 22:03] BartoszKlonowski commented on #184
@yesnoyes I've tested this on the latest release (v4.1.1) and this issue does not occur.
Can you verify on your side using the latest release?

[2021-08-23 11:46] zabojad commented on #296
Hej @BartoszKlonowski ! Did you find anything regarding this issue, by any chance?

[2021-08-23 12:43] mezalejandro commented on #193
Thanks @BartoszKlonowski , I'm going to try it again,

[2021-08-23 19:12] BartoszKlonowski commented on #213
Hello @Vednus! The latest version v4.1.1 has been released and it contains the fix mentioned by @dukoo (thank you!).
I will close this issue with this PR linked, but feel free to reopen if this does not fix your case.

[2021-08-23 19:12] #213 closed

[2021-08-23 20:13] Vednus commented on #213
Sweet! Thank you. I'll upgrade from v2

[2021-08-23 21:35] cristianoccazinsp opened #303 "4.x, thumb extremely large on iOS and too small on Android"
## Environment

[code]
## Description

Just migrated from 3.0.3 to 4.1.1 and the thumb size is now completely broken. On Android, it got smaller, and on iOS, it got much bigger.

What changed? Can we set the thumb size ourselves?

## Reproducible Demo

[2021-08-23 22:06] BartoszKlonowski commented on #303
Hello @cristianoccazinsp!
I've noticed it too. It looks like the native thumb size changed since the last release.
Customization will need to be implemented for both platform and I got it planned for further releases, but for now you can set the [`thumbImage`](https://github.com/callstack/react-native-slider#thumbimage) for iOS.

[2021-08-23 22:48] cristianoccazinsp commented on #303
Any ideas what changed? I would rather not use an image as it will make it a little less efficient.

Would using style and scale/translate also work?

[2021-08-25 14:14] BartoszKlonowski commented on #295
The solution for this would be to provide the react-native-slider with the controlled value property.
This is something that is already reported in #292 and is planned for further releases.

[2021-08-27 15:10] KarkaLT opened #306 "onSlidingComplete doesn't fire when slider is clicked to different position in react-native-windows"
## Environment

[code]

## Description

onSlidingComplete event doesn't fire when slider is clicked to different position. This doesn't happen on android.

## Reproducible Demo

[code]

[2021-08-28 01:04] BartoszKlonowski commented on #306
Hello @KarkaLT!
I was able to reproduce the reported issue and comparing to the Android I can see that on Windows the single click on a track misses the drag event.
I don't think that this is a bug explicitly in the library, but I think we will be able to implement a fix for this 👍

[2021-08-28 01:33] BartoszKlonowski commented on #252
I've just tested it with the *example* application and the result is that the `tapToSeek` works as expected:

https://user-images.githubusercontent.com/70535775/131202010-c4a270c9-9e9c-4063-91d7-9e876c2d15ed.mov

@G4BB3R Please check on your side if the reported issue still exists using **the latest version v.4.1.3**.

[2021-08-28 22:21] cederom opened #307 "Slider 4.1.3 requires React 16.11.0 in conflict with 17.0.2"
Hello world :-)

I have upgraded React to 17.0.2 and React Native to 0.65.1. Now I cannot install `@react-native-community/slider` 4.1.3 with npm as it requires React 16.11.0..

Please update :-)

[2021-08-28 22:55] BartoszKlonowski commented on #307
Hello @cederom,
Thanks for reporting this!

If you use `npm` then you can try installing it with `--force` as a quick workaround. I've just tested it myself and *slider* will work even when *npm* complains.
I will deliver the fix in the meantime.

[2021-08-29 00:35] cederom commented on #307
Thank you @BartoszKlonowski for ultra fast response :-)

[2021-08-29 01:15] BartoszKlonowski commented on #193
@mezalejandro I've kept the `requires: author feedback` label. Can you let me know if the issue still occurs on the latest as soon as you check it, please?

[2021-08-29 14:34] #307 closed

[2021-08-29 14:50] BartoszKlonowski commented on #307
@cederom The latest *v4.1.4* contains the fix for this issue.
Please check and feel free to reopen if it still occurs.

[2021-08-29 15:34] cederom commented on #307
Now it installs fine, thank you :-)

[2021-08-29 16:55] BartoszKlonowski commented on #200
Hello @misterdev!
The latest versions have the `tapToSeek` implemented, which should be turned on for iOS to work properly when clicking on the slider's track.
Please check on your side with the latest version (*v4.1.6*) if the issue still occurs with the `tapToSeek` set to `true`:
[code]

[2021-09-01 10:51] BartoszKlonowski commented on #84
Closing due to lack of author's feedback.
Feel free to reopen if this issue still occurs.

[2021-09-01 10:51] BartoszKlonowski commented on #184
Closing due to lack of author's feedback.

[2021-09-01 10:51] #184 closed

[2021-09-01 10:52] BartoszKlonowski commented on #189
Closing due to lack of author's feedback.

[2021-09-01 10:52] #189 closed

[2021-09-02 18:32] BartoszKlonowski commented on #159
Hello @LisaKr!
In the latest release (*v4.1.6*) the `tapToSeek` property is working well and you are using the outdated v3.0.3.
Can you verify if your issue still occurs on the latest version?

[2021-09-03 07:58] zabojad commented on #296
@BartoszKlonowski sorry to ask you again, but I could probably help on this topic if you describe me what has to be done...

[2021-09-03 10:23] BartoszKlonowski commented on #296
@zabojad I was trying to find a way that would not require manipulating the `ScrollView` from a `SeekBar`, because from my research it turns out that what needs to be done is to block or revert a progress of `ScrollView` each time the `SeekBar` is changed.
But the thing is that I can't find a way to access the parent `ScrollView` from a native implementation of `SeekBar` View Manager - that's the

[2021-09-03 11:57] BartoszKlonowski commented on #128
Closing due to no interest anymore and outdated version of the library.
Please feel free to reopen if issue still occurs.

[2021-09-03 11:57] #128 closed

[2021-09-03 12:01] BartoszKlonowski commented on #161
As I can see this issue and all followups are reported on the outdated version of the library.
@laurent22 Can you please check if the same issue still occurs on the latest release (*v4.1.6*)?

[2021-09-03 12:28] laurent22 commented on #161
I don't have anything setup to check this so unfortunately I can't confirm if it works or not on 4.1.6

[2021-09-04 02:58] richardwu commented on #295
Are you able to share a code snippet of your slider? Much appreciated!

[2021-09-04 13:16] BartoszKlonowski commented on #158
Hello @vinithreddy3!
I can see that this issue has been reported on very outdated version of the library.
Can you check if the same issue happens using the latest release (*v4.1.6*)?

[2021-09-04 14:00] BartoszKlonowski commented on #149
Hello @santanu07!
I can't reproduce your issue as there's no repro given in your report.
Can you check if the same error happens with the latest release (*v4.1.6*)?

[2021-09-04 14:02] BartoszKlonowski commented on #107
Hello @YajanaRao!
As I can see the latest release does have the thumb aligned exactly in the middle of the track.
Can you verify it on your side using the latest version (*v4.1.6*)?

[2021-09-04 14:04] BartoszKlonowski commented on #105
Hello @shanekoss!
I can see that this issue is very outdated.
Can you check if the same case is valid for the latest release (*v4.1.6*)?

[2021-09-05 08:25] GiulioFede commented on #97
A property would be useful but for now if someone wants a not so bad solution, this is the solution I use without using other libraries:

import {
  ... ,
  Platform
} from 'react-native'

`<Slider
      value = {...}
     onValueChange = {...}
     style={
                 {
                     flex:1, height:altezzaDevice*0.15*0.3,
                     transform: [

[2021-09-05 09:55] GiulioFede commented on #97
This is my solution for those who do not want to use external libraries for any reason (for example the homonymous  react-native-vector-icons of Expo does not support the Icon.getImage method):

[code]

For my app it was fine that the icon was scaled by half, so I applied a scale of 0.5 and a width of 200%. In general, given a scale of x, apply a width of 100 * (1 / x) %.

[2021-09-06 08:12] YajanaRao commented on #107
I don't have android version 5 setup now. I will those this ticket, if any one face this issue again can reopen the ticket.

[2021-09-06 08:12] #107 closed

[2021-09-06 08:22] BartoszKlonowski commented on #107
Thank you for the response @YajanaRao!

[2021-09-06 16:48] BartoszKlonowski commented on #252
Closing due to no response from author.

[2021-09-06 16:48] #252 closed

[2021-09-07 13:17] BartoszKlonowski commented on #193
Hello @mezalejandro!
I will close this issue as I assume that the problem is solved with the latest version.
Let me know if you disagree.

[2021-09-07 13:17] #193 closed

[2021-09-08 09:34] BartoszKlonowski commented on #200
Closing due to no response from author and the issue is resolved.

[2021-09-08 09:34] #200 closed

[2021-09-09 10:43] avantgardenar commented on #295
Hi @richardwu. Sorry I can't do that because it's not my personal project. But the basics of it are covered well in that article. Hope you find what you are looking for.

[2021-09-09 10:45] avantgardenar commented on #295
@BartoszKlonowski I am closing the issue as controlled value property is planned in future releases. Thanks!

[2021-09-09 10:45] #295 closed

[2021-09-09 12:23] Deftwun opened #314 "Can't compile windows project after install react-native-slider"
## Description

Can't build & launch simple react-native windows app after installing `react-native-slider`

The windows project will fail to build with this error
`midl: Assertion failed: node == nullptr, file com\rpc\midl\midlrt\metaread\metadataparser.cxx, line 216`

I've also duplicated this same issue with [react-native-screens](https://github.com/software-mansion/react-native-screens/issues)

[2021-09-09 14:14] richardwu commented on #159
FWIW it 4.1.6 (vs 4.1.3) fixed it for me, thanks!

[2021-09-09 14:52] BartoszKlonowski commented on #314
Hello @Deftwun!
I couldn't reproduce your issue by following your steps, on my side the app build and works well.
The *Slider* package does not have the *@react-native-community/cli* as a dependency, so I don't see that would be an issue.
Also I don't think that this is related to the *Slider* itself, as the compilation doesn't mention it directly.

Would it be possible for you to provide this iss

[2021-09-09 18:21] Deftwun commented on #314
@BartoszKlonowski Thanks I'm afraid it might be an environment or windows permission issue maybe? I noticed some warnings after installing slider so I attached my terminal output from my example as well.

[git-bash-slider-example.txt](https://github.com/callstack/react-native-slider/files/7138897/git-bash-slider-example.txt)
[slider-run-with-logging.txt](https://github.com/callstack/react-native-s

[2021-09-09 20:11] BartoszKlonowski commented on #314
Thank you, @Deftwun,
I can see that you are using the latest MSBuild, so I also upgraded to the *16.11.3164*, but still couldn't reproduce it.
Moreover the fact that the same issue happens for you when using *react-native-screens* tells me that most probably this is an issue with your Visual Studio installation.
The quickest solution for `MIDL8009` error I can suggest is to reinstall your Visual S

[2021-09-10 11:19] BartoszKlonowski commented on #314
@Deftwun I couldn't reproduce your issue even with the 10.0.15063 installed.
I will stick to my first suggestion to just make a full reinstall of whole Visual Studio along with Windows SDK (they should be reinstalled automatically when reinstalling VS).
I will need to close this issue as it is not related directly to this library.

[2021-09-10 11:19] #314 closed

[2021-09-10 21:07] gibo77 commented on #306
On iOS same problem described above. Tapping the slider will not work. But it will work if you drag the slider.
But it seems that the Android is not affected.

Below is for my iOS:
"@react-native-community/slider": "^3.0.3",
"react": "17.0.1",
 "react-native": "0.64.0",

[2021-09-11 21:44] BartoszKlonowski commented on #159
Thanks for the confirmation @richardwu!
I will close this issue as it is already fixed and there's no feedback from an author.

[2021-09-11 21:44] #159 closed

[2021-09-14 12:03] BartoszKlonowski commented on #34
@michalchudziak I believe that the way we release the package nowadays is completely fine and works well.
Should we keep the idea of having it automated? What would be the benefits of having it automated?

[2021-09-14 14:05] BartoszKlonowski commented on #105
Closing due to issue being outdated and no response from an author.

[2021-09-14 14:05] #105 closed

[2021-09-14 14:05] BartoszKlonowski commented on #149
Closing due to issue being outdated and no response from an author.

[2021-09-14 14:05] #149 closed

[2021-09-14 14:06] BartoszKlonowski commented on #158
Closing due to issue being outdated and no response from an author.

[2021-09-14 14:06] #158 closed

[2021-09-14 14:50] #88 closed

[2021-09-14 21:46] BartoszKlonowski commented on #152
Hello @JustynaKK!
I can see that the version used in this issue is very outdated.
Can you check if the same issue still exists on the latest version (*v4.1.6*)?

[2021-09-15 08:25] BartoszKlonowski commented on #261
Hello @hpurohit97!
Could you provide this issue with some reproduction example and the environment's information?

[2021-09-15 13:01] BartoszKlonowski commented on #272
Hello @danielbenedykt!
I can see that this issue has been reported on a previous versions of react native and Slider packages.
Can you verify if the issue still exists on the latest versions?
Could you also check the demo provided by @mosoakinyemi?

[2021-09-16 06:44] carltian commented on #185
+1

[2021-09-16 06:47] KMouratidis commented on #295
@richardwu @jessemezini not sure if you're still having trouble but here's as small an example as I could make it, using the article avantgardenar linked. I included a `TapGestureHandler` to allow tapping for seek.

<details>
  <summary>Imports & utils</summary>

[code]
</details>

<details>
  <summary>Slider</summary>

[code]
</details>

<details>
<summary>App & styles</summary>

[code]
</details

[2021-09-20 04:51] richardwu commented on #295
Thanks @KMouratidis! I adapted your code (to include callbacks similar to the existing ones here), as well as a few bugs (`onHandlerStateChange` on `TapGestureHandler`, `simultaneousHandlers` to prevent `Tap` + `Pan` from both firing off):

[code]

[2021-09-20 10:19] DavitVosk commented on #191
Any news on this?

[2021-09-20 11:51] BartoszKlonowski commented on #191
@DavitVosk As you can see I've created a *Project* for this library, so every user can track the progress of every issue.
As for this one: yes, I got it planned but I need to figure out the API of the solution first, then I'll start a development of that.

[2021-09-20 15:14] michalchudziak commented on #34
I was thinking of some automation for release candidates. Although I'm good with sticking to the current way, as we have proper control over the release process.

[2021-09-20 17:24] srinu6 opened #319 "Accessibility not working perfectly in Android 11 devices"
## Environment

System:
    OS: macOS 10.15.7
    CPU: (16) x64 Intel(R) Core(TM) i9-9980HK CPU @ 2.40GHz
    Memory: 2.31 GB / 32.00 GB
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 15.5.1 - /usr/local/bin/node
    Yarn: 1.22.10 - ~/.yarn/bin/yarn
    npm: 7.3.0 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  Managers:
    CocoaPods: 1.10.1 - /usr/local/bin/pod
  SDKs:

[2021-09-20 17:28] srinu6 commented on #319
Expose some paramaters in the `Slider`component for adding custom accessibility strings.
`accessibilityRole or accessibilityHint or accessibilityLabel`

[2021-09-21 09:24] jimmi-joensson commented on #157
This would be a great addition

[2021-09-21 09:32] BartoszKlonowski commented on #157
@jimmi-joensson I agree!
I believe this feature should come in pair with #71.

[2021-09-21 14:25] #34 closed

[2021-09-24 08:46] richard-li-next opened #321 "Slider type error"
## Environment
System:
    OS: macOS 11.4
    CPU: (16) x64 Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz
    Memory: 65.41 MB / 16.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 15.12.0 - ~/.nvm/versions/node/v15.12.0/bin/node
    Yarn: 1.22.10 - /usr/local/bin/yarn
    npm: 7.6.3 - ~/.nvm/versions/node/v15.12.0/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  Managers:
    CocoaPods: 1.

[2021-09-24 10:07] BartoszKlonowski commented on #321
Hello @richard-li-next, thank you for reporting that!
Just to avoid assumptions and confusions - could you also provide me with the way you instantiate your `<InputSlider/>`?

[2021-09-25 01:32] misbell opened #322 "pick up interpolated values and integrate with Animated"
## Describe the Feature

Currently as you drag, you pick up a value from the slider, and the range between the last value you pick up and the next one is  related to how fast you scroll.

I'd like to be able to pick up interpolated values in the rage on an evenlyspaced timed event loop so that I could get smooth animations on related svg graphics - e.g. changing the value on an svg graphics arc as

[2021-09-25 03:14] richard-li-next commented on #321
@BartoszKlonowski I updated the code, could you please check.

[2021-09-28 15:03] zabojad commented on #296
@BartoszKlonowski Could we somehow pass the slider a ref to the scrollview from js?

[2021-09-29 02:48] macsj200 commented on #152
I am seeing this on android with package version `4.1.7`.

[2021-09-29 15:22] #152 closed

[2021-09-29 15:23] BartoszKlonowski commented on #261
Closing due to no feedback from an author.

[2021-09-29 15:23] #261 closed

[2021-09-29 15:23] BartoszKlonowski commented on #272
Closing due to no feedback from an author.

[2021-09-29 15:23] #272 closed

[2021-09-29 15:28] BartoszKlonowski commented on #272
@mosoakinyemi Of course feel free to reopen if you still would like to work on this item,

[2021-10-04 08:25] BartoszKlonowski commented on #226
Hello @algokano!
I can see that this issue has been reported on a very outdated version of the library.
Could you check if the same issue still occur on the latest version (*v4.1.7*)?

[2021-10-04 08:27] BartoszKlonowski commented on #155
Hello @maximilize!
I couldn't reproduce the same issue when trying it on the emulator.
Could you check if the same issue is solved on your side using the latest version?

[2021-10-05 13:07] #319 closed

[2021-10-05 14:29] BartoszKlonowski commented on #214
Hello @AnoopN01!
Thank you for reporting this issue. Unfortunately I was unable to reproduce it, so could you please check if the issue you reported still exists on the latest version (*v4.1.7*)?
I would really appreciate a reproduction example/code snippet for this, optionally a demo 🙏

[2021-10-05 14:37] BartoszKlonowski commented on #265
Hello @amarlette!
I have a question regarding the second case:
**Slider Component does not announce Checked/Unchecked State**:

As I can see the [AccessibilityState.checked](https://reactnative.dev/docs/accessibility#accessibilitystate) should apply to binary-states components like switches, checkboxes, etc.
`<Slider/>` on the other hand may have many values, so it cannot be turned on/off. It can

[2021-10-07 12:59] zabojad commented on #296
@BartoszKlonowski sorry to disturb you again, could you share the details of what you've found out so that I could try to continue searching for a solution?

[2021-10-08 13:38] centotaure opened #325 "Task :react-native-community_slider:compileDebugJavaWithJavac FAILED"
## Environment

System:
    OS: Windows 10 10.0.19042
    CPU: (12) x64 Intel(R) Core(TM) i9-8950HK CPU @ 2.90GHz
    Memory: 2.67 GB / 15.77 GB
  Binaries:
    Node: 14.17.4 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.16.0 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.14.14 - C:\Program Files\nodejs\npm.CMD
    Watchman: Not Found
  SDKs:
    Android SDK:
      API Levels: 27, 28, 29,

[2021-10-08 16:12] BartoszKlonowski commented on #325
Hello again, @centotaure!
Thank you for reporting that.
I assume you are using the latest version (*v4.1.8*), as this version introduced the `VERSION_CODES` check.
If you take a look at the latest changes delivered in PR #324 you will see that the `VERSION_CODES` require the SDK to be at `30`.
Although I've updated it for both this package and the example app, it is also required to update it for